﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Dasboard.Master" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="CaseManager.RM._default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="pageTitle" runat="server">
    <asp:Label ID="page_title" runat="server" Text=""></asp:Label>
    
    
</asp:Content>
