<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Consolidated Litigation Schedule</a>
        </li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td>

                    <td>
                        <asp:FileUpload runat="server" id="uploadExcel"></asp:FileUpload>
                    </td>
                </tr>
            </table>
        </li>
        <li><span>Start Amount:</span><input type="number" id="min"/> <span>End Amount:</span>
            <input type="number" id="max"/>

        </li>


        <li>
            <span>Start Date:</span><input type="date" id="startDate" /> <span>End Date:</span>
            <input type="date" id="endDate" /> <button id="filter">Filter</button>

        </li>


        <!--iFini-->
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div>
                <table data-toggle="table" class="table table-striped table-bordered dataTable no-footer"  id="dataTables" role="grid">
                    <thead>
                        <tr>
                            <th>S.No</th>
                            <th>Request Title</th>
                            <th>Date</th>
                            <th>Suit Number</th>
                            <th>Other Party</th>
                            <th>Branch</th>
                            <th>Case Type</th>
                            <th>Case Nature</th>
                            <th>Claims</th>
                            <th>Claims For / Against</th>
                            <th>Estimated Liability</th>
                            <th>Court Location</th>
                            <th>Type of Court</th>
                            <th>Solicitor's Name</th>
                            <th>Solicitor's Address</th>
                            <th>Solicitor's Mobile</th>
                            <th>Solicitor's Email</th>
                            <th>Agreed Fee</th>
                            <!--<th>For or Against</th>-->
                            <th>Remark / Status</th>
                            <th>In House Lawyer</th>
                          
                        </tr>
                    </thead>
                    <tbody id="tbody_branchList"></tbody>
                </table>
            </div>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="~/assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    
    function dateParser(datestring) {

       var d = datestring.replace("  ", ":");
      var  h = d.replace(" ", ":");
        var ind = h.indexOf("M");
        var help = h.slice(0, ind - 6);
        var newdate_array = help.split(" ");
        var m_date = newdate_array[0];
        return m_date;
    }


    // Function for converting a mm/dd/yyyy date value into a numeric string for comparison (example 08/12/2010 becomes 20100812
    function parseDateValue(rawDate) {
        var dateArray = rawDate.split("/");
        var parsedDate = dateArray[2] + dateArray[0] + dateArray[1];
        return parsedDate;
    }



    $(function () {




        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='20'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function(response) {
            console.log(response.data);

            var cc, json;
            var $html = "";
            var count = new Number(1);
            var $suitno = $date = $nameofparties = $feesum = $claimsfor = $brinv = $casetype = $natureofcase = $amtagainstbank = $claims = $amtforbank = $amtliability = $courtloc = $typeofcourt = $solname = $soladdress = $solmobile = $solmail = $apprsolfee = $judgment = $factmatter = $otherparty = $inhouselawyer = "";
            var $checker = "";
            var finStr = "";
            var tabArr = new Array();
            $.each(response.data, function(i, field) {
                for (g in field) {
                    if (g === "Requests") {
                        if ($.isArray(field[g])) {
                            if (field[g].length <= 0) {
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            } else {

                                $.each(field[g], function(i, jaxx) {
                                    $html += "<tr>";
                                    $html += "<td>" + count + "</td>";
                                    $html += "<td>" + jaxx.RequestTitle + "</td>";
                                    var suitNumF = claimsfor = feesum = date = otherParty = reqBranch = typOmatter = subOmatter = claims = paymSum = appFeeSum = judgeSum = locCourt = typCo = solName = solAddr = solMobile = solEmail = amtPaid = finalJudg = finalfact = mychceker = false;

                                    var checker = "";
                                    var external_name = "";
                                    var external_phone = "";
                                    var external_email = "";
                                    var external_address = "";
                                    var legal = "";
                                    var name = "";
                                    var email = "";
                                    var phone = "";
                                    var address = "";


                                    if (jaxx.LegalOfficer != null) {

                                        legal = jaxx.LegalOfficer;
                                    }
                                    if (jaxx.Address != null) {

                                        address = jaxx.Address;
                                    }
                                    if (jaxx.Name != null) {

                                        name = jaxx.Name;
                                    }
                                    if (jaxx.Phone != null) {

                                        phone = jaxx.Phone;
                                    }
                                    if (jaxx.Email != null) {

                                        email = jaxx.Email;
                                    }

                                    $.each(jaxx.Stages, function(i, saxx) {

                                        $.each(saxx.FormData, function(item, data) {

                                            var labStr = new String();
                                            labStr = item;
                                            console.log(labStr);
                                            if (labStr.toLowerCase() === "suit no") {
                                                $suitno = data ? data : "<i>No Data</i>";
                                                suitNumF = true;
                                            } else if (labStr.toLowerCase() === "name of other parties") {
                                                $nameofparties = data ? data : "<i>No Data</i>";
                                                otherParty = true;
                                            } else if (labStr.toLowerCase() === "requesting branch") {
                                                $brinv = data ? data : "<i>No Data</i>";
                                                reqBranch = true;
                                            } else if (labStr.toLowerCase() === "type of matter") {
                                                $casetype = data ? data : "<i>No Data</i>";
                                                typOmatter = true;
                                            } else if (labStr.toLowerCase() === "case nature") {

                                                $natureofcase = data ? data : "<i>No Data</i>";
                                                subOmatter = true;
                                            } else if (labStr.toLowerCase() === "payment sum" || labStr.toLowerCase() === "approved fee sum") {
                                                $amtagainstbank = data ? data : "<i>No Data</i>";
                                                paymSum = true;
                                            } else if (labStr.toLowerCase() === "claims") {
                                                $claims = data ? data : "<i>No Data</i>";
                                                claims = true;
                                            } else if (labStr.toLowerCase() === "claims (for/against)") {
                                                $claimsfor = data ? data : "<i>No Data</i>";
                                                claimsfor = true;
                                            } else if (labStr.toLowerCase() === "estimated liability") {
                                                $amtliability = data ? data : "<i>No Data</i>";
                                                judgeSum = true;
                                            } else if (labStr.toLowerCase() === "court location (state)") {
                                                $courtloc = data ? data : "<i>No Data</i>";
                                                locCourt = true;
                                            } else if (labStr.toLowerCase() === "type of court") {
                                                $typeofcourt = data ? data : "<i>No Data</i>";
                                                typCo = true;
                                            } else if (labStr.toLowerCase() === "solicitors name") {
                                                $solname = data ? data : "<i>No Data</i>";
                                                solName = true;
                                            } else if (labStr.toLowerCase() === "solicitors address") {
                                                $soladdress = data ? data : "<i>No Data</i>";
                                                solAddr = true;
                                            } else if (labStr.toLowerCase() === "solicitor mobile") {
                                                $solmobile = data ? data : "<i>No Data</i>";
                                                solMobile = true;
                                            } else if (labStr.toLowerCase() === "solicitors email") {
                                                $solmail = data ? data : "<i>No Data</i>";
                                                solEmail = true;
                                            } else if (labStr.toLowerCase() === "approved fee sum") {
                                                $apprsolfee = data ? data : "<i>No Data</i>";
                                                amtPaid = true;
                                            } else if (labStr.toLowerCase() === "judgment/ruling in favour of bank") {
                                                $judgment = data ? data : "<i>No Data</i>";
                                                finalJudg = true;
                                            } else if (labStr.toLowerCase() === "facts of the matter") {

                                                $factmatter = data ? data : "<i>No Data</i>";
                                                finalfact = true;
                                            } else if (labStr.toLowerCase() === "date") {
                                                $date = data ? data : "<i>No Data</i>";
                                                date = true;
                                            } else if (labStr.toLowerCase() === "payment sum") {
                                                $feesum = data ? data : "<i>No Data</i>";
                                                feesum = true;
                                            }
                                        })
                                    })
                                    $html += "<td><i>" + $date + "</i></td>";
                                    if (suitNumF) {
                                        //means we found suit no
                                        $html += "<td>" + $suitno + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (otherParty) {
                                        //means we found other parties
                                        $html += "<td>" + $nameofparties + "</td>";
                                    } else {
                                        //$html += "<td>No Party Name</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (reqBranch) {
                                        //means we found branch
                                        $html += "<td>" + $brinv + "</td>";
                                    } else {
                                        //$html += "<td>No Branch</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (typOmatter) {
                                        //means we found type of matter
                                        $html += "<td>" + $casetype + "</td>";
                                    } else {
                                        //$html += "<td>Type not specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (subOmatter) {
                                        //means we found type of matter

                                        $html += "<td>" + $natureofcase + "</td>";
                                    } else {
                                        //$html += "<td>No Known Nature of Case</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (claims) {
                                        //means we found payment sum
                                        $html += "<td>" + $claims + "</td>";
                                    } else {
                                        //$html += "<td>No Payment Sum Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    // $html += "<td>" + $checker + "</td>";
                                    if (claimsfor) {
                                        //means we found approved fee sum

                                        $html += "<td>" + $claimsfor + "</td>";
                                    } else {

                                        //$html += "<td>No Amount Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (judgeSum) {
                                        //means we found judgement sum
                                        $html += "<td>" + $amtliability + "</td>";
                                    } else {
                                        //$html += "<td>No Amount Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (locCourt) {
                                        //means we found court location (state)
                                        $html += "<td>" + $courtloc + "</td>";
                                    } else {
                                        //$html += "<td>Location Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (typCo) {
                                        //means we found type of court
                                        $html += "<td>" + $typeofcourt + "</td>";
                                    } else {
                                        //$html += "<td>Type Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (name !== "") {
                                        //means we found solicitors name
                                        $html += "<td>" + name + "</td>";
                                    } else {
                                        //$html += "<td>Name Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (address !== "") {
                                        //means we found solicitors address
                                        $html += "<td>" + address + "</td>";
                                    } else {
                                        //$html += "<td>Address Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (phone !== "") {
                                        //means we found solicitor mobile
                                        $html += "<td>" + phone + "</td>";
                                    } else {
                                        //$html += "<td>Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (email !== "") {
                                        //means we found solicitors email
                                        $html += "<td>" + email + "</td>";
                                    } else {
                                        //$html += "<td>Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    //if (amtPaid) {
                                    //    //means we found amount paid
                                    //    $html += "<td>" + $apprsolfee + "</td>";
                                    //} else {
                                    //    //$html += "<td>Not Specified</td>";
                                    //    $html += "<td><i>No Data</i></td>";
                                    //}
                                    if (feesum) {
                                        alert($feesum);
                                        $html += "<td>" + $feesum + "</td>";
                                    } else {
                                        //$html += "<td>Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    //Remark / Status

                                    //Remark / Status
                                    if (finalfact) {
                                        //means we found other parties
                                        $html += "<td width=70%>" + $factmatter + "</td>";
                                    } else {
                                        //$html += "<td>No Party Name</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    // In-House Lawyer
                                    if (solName == false) {
                                        //means we found solicitors name
                                        $html += "<td>" + legal + "</td>";
                                    } else {
                                        //$html += "<td>Name Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    // var d = new Date($date);

                                    count++;
                                    $html += "</tr>";
                                });
                            }
                        }
                    }
                }
            });

            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                $(tbody_branchList).empty().append($html);
            } else {
                $(tbody_branchList).empty().append($html);
            }


            var table = $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });


            // var minDate = 


/// * Custom filtering function which will search data in column four between two values */
        //    $.fn.dataTable.ext.search.push(
        //        function( settings, data, dataIndex ) {
        //            var min = parseInt( $('#min').val(), 10 );
        //            var max = parseInt( $('#max').val(), 10 );
        //            var amount = parseFloat(data[8]) || 0; // use data for the age column
        //            //var d = dateParser(data[2]);




        //if ( ( isNaN( min ) && isNaN( max ) ) ||
        //            (isNaN(min) && amount <= max) ||
        //            (min <= amount && isNaN(max)) ||
        //            (min <= amount && amount <= max))
        //            {
        //                return true;
        //            }
        //            return false;
        //        }
        //    );

        //    // Event listener to the two range filtering inputs to redraw on input
        //    $('#min, #max').keyup( function() {
        //        table.draw();
        //    } );


            // The plugin function for adding a new filtering routine
            $.fn.dataTableExt.afnFiltering.push(
                    function (oSettings, aData, iDataIndex) {
                        var dateStart = parseDateValue(new Date($("#startDate").val()).toLocaleDateString()) || 190011;
                        var dateEnd = parseDateValue(new Date($("#endDate").val()).toLocaleDateString()) || 190011;
                        // aData represents the table structure as an array of columns, so the script access the date value 
                        // in the first column of the table via aData[0]
                        var evalDate = parseDateValue(new Date(dateParser(aData[2])).toLocaleDateString());
                        console.log(evalDate + " " + dateStart + " " + dateEnd);
                        if (evalDate >= dateStart && evalDate <= dateEnd) {
                            return true;
                        }
                        else {
                            return false;
                        }

                    });


            $('#filter').on('click', (function() {
                table.draw();
            }));


        }  );
    }
        );
</script>