﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Monthly Cost of Litigation Schedule</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Suit Name</th>
                        <th>Date</th>
                        <th>Suit Number</th>
                        <!--<th>Sol ID of Branch</th>-->
                        <th>Branch</th>
                        <th>Description of Suit</th>
                        <th>Approved Fees</th>
                        <th>Fees Paid</th>
                        <!--<th>Amounts paid out</th>-->
                        <th>Solicitor's Name</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/29.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var $casetitle, $suitno, $solid,$date, $brinv, $desc, $apprvfees, $apprvfeessum, $advpayment, $amtpaid, $solname, $summary;
                var count = new Number(1);
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    //field[g].forEach(function (jaxx) {
                                    $.each(field[g], function (i, jaxx) {
                                    $html += "<tr>";
                                    $html += "<td>" + count + "</td>";
                                    $html += "<td>" + jaxx.RequestTitle + "</td>";
                                    var casetitle_ = date= suitno_ = solid_ = brinv_ = desc_ = apprvfees_ = apprvfeessum_ = advpayment_ = amtpaid_ = solname_ = summary_ = false;
                                    var legal = "";
                                    var name = "";
                                    var email = "";
                                    var phone = "";
                                    var address = "";



                                    if (jaxx.LegalOfficer != null) {

                                        legal = jaxx.LegalOfficer;
                                    }
                                    if (jaxx.Address != null) {

                                        address = jaxx.Address;
                                    }
                                    if (jaxx.Name != null) {

                                        name = jaxx.Name;
                                    }
                                    if (jaxx.Phone != null) {

                                        phone = jaxx.Phone;
                                    }
                                    if (jaxx.Email != null) {

                                        email = jaxx.Email;
                                    }
                                    $.each(jaxx.Stages, function (i, saxx) {
                                        $.each(saxx.FormData, function (item, data) {
                                            var labStr = new String();
                                            labStr = item;
                                            console.log(labStr.toLowerCase());
                                            //if (labStr.toLowerCase() === "case title") {
                                            //    $casetitle = data ? data : "<i>No Data</i>";
                                            //    casetitle_ = true;
                                            //} else
                                                if (labStr.toLowerCase() === "suit no") {
                                                $suitno = data ? data : "<i>No Data</i>";
                                                suitno_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "branch location (region)") {
                                                $solid = data ? data : "<i>No Data</i>";
                                                solid_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "requesting branch") {
                                                $brinv = data ? data : "<i>No Data</i>";
                                                brinv_ = true;
                                            } else if (labStr.toLowerCase() === "facts of the matter") {
                                                $desc = data ? data : "<i>No Data</i>";
                                                desc_ = true;
                                            } else if (labStr.toLowerCase() === "approved fee sum") {
                                                $apprvfees = data ? data : "<i>No Data</i>";
                                                apprvfees_ = true;
                                            } else if (labStr.toLowerCase() === "amount paid") {
                                                $apprvfeessum = data ? data : "<i>No Data</i>";
                                                apprvfeessum_ = true;
                                            } else if (labStr.toLowerCase() === "advanced payment") {
                                                $advpayment = data ? data : "<i>No Data</i>";
                                                advpayment_ = true;
                                            } else if (labStr.toLowerCase() === "solicitors name") {
                                                $solname = data ? data : "<i>No Data</i>";
                                                solname_ = true;
                                            } else if (labStr.toLowerCase() === "summary of judgement") {
                                                $summary = data ? data : "<i>No Data</i>";
                                                summary_ = true;
                                            } else if (labStr.toLowerCase() === "date") {

                                                $date = data ? data : "<i>No Data</i>";
                                                date = true;
                                            }
                                        });
                                    });
                                    //if (casetitle_) {
                                    //    $html += "<td>"+$casetitle+"</td>";
                                    //} else {
                                    //    $html += "<td><i>No Data</i></td>";
                                        //}
                                    $html += "<td><i>" + $date + "</i></td>";
                                    if (suitno_) {
                                        $html += "<td>"+$suitno+"</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    //if (solid_) {
                                    //    $html += "<td>"+$solid+"</td>";
                                    //} else {
                                    //    $html += "<td><i>No Data</i></td>";
                                    //}
                                    if (brinv_) {
                                        $html += "<td>"+$brinv+"</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (desc_) {
                                        $html += "<td>"+$desc+"</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (apprvfees_) {
                                        $html += "<td>"+$apprvfees+"</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (apprvfeessum_) {
                                        $html += "<td>"+$apprvfeessum+"</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    //if (advpayment_) {
                                    //    $html += "<td>"+$advpayment+"</td>";
                                    //} else {
                                    //    $html += "<td><i>No Data</i></td>";
                                    //}
                                    /*
                                    if (amtpaid_) {
                                        $html += "<td>"+$amtpaid+"</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    */
                                    //if (solname_) {
                                    $html += "<td>" + name + "</td>";
                                    //} else {
                                    //    $html += "<td><i>No Data</i></td>";
                                    //}
                                    if (summary_) {
                                        $html += "<td>"+$summary+"</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    count++;
                                    $html += "</tr>";
                                });
                            }
                        }
                       } // Branch Ends
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>
<!--
    var json = field[g];
                            var count = new Number(field[g][0].Process_Data.length);
                            if (count != 0) {
                            for(var z = 0; z < count; z++) {
                                $html += "<tr><td>"+(z+1)+"</td>";
                                var $casetitle, $suitno, $solid, $brinv, $desc, $apprvfees, $apprvfeessum, $advpayment, $amtpaid,$solname;
                                var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                for(var q = 0; q < jax; q++) {
                                    var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                    for (var x = 0; x < len; x++) {
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "case title") {
                                            $casetitle = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "suit no") {
                                            $suitno = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "branch location (region)") {
                                            $solid = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "branch involved") {
                                            $brinv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "subject matter") {
                                            $desc = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "fees approved") {
                                            $apprvfees = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "approved fee sum") {
                                            $apprvfeessum = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "advanced payment") {
                                            $advpayment = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitors name") {
                                            $solname = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }

                                    }
                                }
                                if ($suitno == undefined) {$suitno = "<td></td>";}
                                if ($casetitle == undefined) {$casetitle = "<td></td>";}
                                if ($solid == undefined) { $solid = "<td></td>"; }
                                if ($brinv == undefined) { $brinv = "<td></td>"; }
                                if ($desc == undefined) { $desc = "<td></td>"; }
                                if ($apprvfees == undefined) { $apprvfees = "<td></td>"; }
                                if ($apprvfeessum == undefined) { $apprvfeessum = "<td></td>"; }
                                if ($advpayment == undefined) { $advpayment = "<td></td>"; }
                                if ($amtpaid == undefined) { $amtpaid = "<td></td>"; }
                                if ($solname == undefined) { $solname = "<td></td>"; }
                                $html += $casetitle + $suitno + $solid + $brinv + $desc + $apprvfees + $apprvfeessum + $advpayment + $amtpaid + $solname + "</tr>";
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append($html);
                                } else {
                                    $(tbody_branchList).append($html);
                                }
                            }//
                        } else {
                            // Count is Zero
                            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                $(tbody_branchList).empty().append("");
                            } else {
                                $(tbody_branchList).append("");
                            }
                        }
-->