﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">External Solicitors' Schedule</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content" >
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Suit Number</th>
                        <th>Name of Other Party</th>
                        <th>Branch</th>
                        <th>Type of Case</th>
                        <th>Nature of Case</th>
                        <th>Claims</th>
                        <th>Claim for the Bank / Against</th>
                        <th>Liability against Bank</th>
                        <th>Court Location</th>
                        <th>Type of Court</th>
                        <th>Solicitor's Name</th>
                        <th>Solicitor's Address</th>
                        <th>Solicitor's Phone Number</th>
                        <th>Solicitor's Email</th>
                        <th>Agreed Fee -N- </th>
                        <th>Remark / Status</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/31.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var count = new Number(1);
                var $suitno = $nameofparties =$date= $brinv = $casetype = $natureofcase = $checker=$summary = $amtagainstbank = $amtforbank = $amtliability = $courtloc = $typeofcourt = $solname = $soladdress = $solmobile = $solmail = $apprsolfee = $judgment = $otherparty = $inhouselawyer = "";
            
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else { 
                                    //field[g].forEach(function (jaxx) {
                                    $.each(field[g], function (i, jaxx) {
                                    $html += "<tr>";
                                    $html += "<td>" + count + "</td>";
                                    $html += "<td>" + jaxx.RequestTitle + "</td>";
                                    var suitNumF =date= otherParty = reqBranch = typOmatter
                                    = subOmatter = paymSum = appFeeSum = judgeSum = locCourt = typCo = solName
                                    = solAddr = solMobile = solEmail = amtPaid = finalJudg = mychceker =summary= false;
                                    var legal = "";
                                    var name = "";
                                    var email = "";
                                    var phone = "";
                                    var address = "";
                                        var request_status = "";
                                    if (jaxx.LegalOfficer != null) {

                                        legal = jaxx.LegalOfficer;
                                    }
                                    if (jaxx.Address != null) {

                                        address = jaxx.Address;
                                    }
                                    if (jaxx.Name != null) {

                                        name = jaxx.Name;
                                    }
                                    if (jaxx.Phone != null) {

                                        phone = jaxx.Phone;
                                    }
                                    if (jaxx.Email != null) {

                                        email = jaxx.Email;
                                    }
                                    if (jaxx.RequestStatus != null) {

                                        request_status = jaxx.RequestStatus;
                                    }

                                    //jaxx.Stages.forEach(function (saxx) {
                                        $.each(jaxx.Stages, function (i, saxx) {
                                        $.each(saxx.FormData, function (item, data) {
                                            //var $suitno = $nameofparties = $brinv = $casetype = $natureofcase = $amtagainstbank = $amtforbank = $amtliability = $courtloc =
                                            //$typeofcourt = $solname = $soladdress = $solmobile = $solmail = $apprsolfee = $judgment = $otherparty = $inhouselawyer = "";
                                            var labStr = new String();
                                            labStr = item;
                                            if (labStr.toLowerCase() === "suit no") {
                                                $suitno = data ? data : "<i>No Data</i>";
                                                suitNumF = true;
                                            } else if (labStr.toLowerCase() === "name of other parties") {
                                                $nameofparties = data ? data : "<i>No Data</i>";
                                                otherParty = true;
                                            } else if (labStr.toLowerCase() === "requesting branch") {
                                                $brinv = data ? data : "<i>No Data</i>";
                                                reqBranch = true;
                                            } else if (labStr.toLowerCase() === "type of matter") {
                                                $casetype = data ? data : "<i>No Data</i>";
                                                typOmatter = true;
                                            } else if (labStr.toLowerCase() === "case nature") {
                                                $natureofcase = data ? data : "<i>No Data</i>";
                                                subOmatter = true;
                                            } else if (labStr.toLowerCase() === "payment sum" || labStr.toLowerCase() === "approved fee sum") {
                                                $amtagainstbank = data ? data : "<i>No Data</i>";
                                                paymSum = true;
                                            }
                                            else if (labStr.toLowerCase() === "amount paid out as settlement") {
                                                $amtliability = data ? data : "<i>No Data</i>";
                                                judgeSum = true;
                                            } else if (labStr.toLowerCase() === "judgement status") {
                                                $checker = data ? data : "<i>No Data</i>";
                                                mychceker = true;
                                            }
                                            else if (labStr.toLowerCase() === "approved fee sum") {
                                                $amtforbank = data ? data : "<i>No Data</i>";
                                                appFeeSum = true;
                                            }
                                            else if (labStr.toLowerCase() === "estimated liability") {
                                                $amtliability = data ? data : "<i>No Data</i>";
                                                judgeSum = true;
                                            } else if (labStr.toLowerCase() === "court location (state)") {
                                                $courtloc = data ? data : "<i>No Data</i>";
                                                locCourt = true;
                                            } else if (labStr.toLowerCase() === "type of court") {
                                                $typeofcourt = data ? data : "<i>No Data</i>";
                                                typCo = true;
                                            } else if (labStr.toLowerCase() === "solicitors name") {
                                                $solname = data ? data : "<i>No Data</i>";
                                                solName = true;
                                            } else if (labStr.toLowerCase() === "solicitors address") {
                                                $soladdress = data ? data : "<i>No Data</i>";
                                                solAddr = true;
                                            } else if (labStr.toLowerCase() === "solicitor mobile") {
                                                $solmobile = data ? data : "<i>No Data</i>";
                                                solMobile = true;
                                            } else if (labStr.toLowerCase() === "solicitors email") {
                                                $solmail = data ? data : "<i>No Data</i>";
                                                solEmail = true;
                                            } else if (labStr.toLowerCase() === "amount paid") {
                                                $apprsolfee = data ? data : "<i>No Data</i>";
                                                amtPaid = true;
                                            } else if (labStr.toLowerCase() === "judgment/ruling in favour of bank") {
                                                $judgment = data ? data : "<i>No Data</i>";
                                                finalJudg = true;
                                            }
                                            else if (labStr.toLowerCase() === "summary of judgement") {
                                                $summary = data ? data : "<i>No Data</i>";
                                                summary = true;
                                            } else if (labStr.toLowerCase() === "date") {

                                                $date = data ? data : "<i>No Data</i>";
                                                date = true;
                                            }
                                        })
                                        })
                                        $html += "<td><i>" + $date + "</i></td>";
                                    if (suitNumF) {
                                        //means we found suit no
                                        $html += "<td>" + $suitno + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (otherParty) {
                                        //means we found other parties
                                        $html += "<td>" + $nameofparties + "</td>";
                                    } else {
                                        //$html += "<td>No Party Name</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (reqBranch) {
                                        //means we found branch
                                        $html += "<td>" + $brinv + "</td>";
                                    } else {
                                        //$html += "<td>No Branch</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (typOmatter) {
                                        //means we found type of matter
                                        $html += "<td>" + $casetype + "</td>";
                                    } else {
                                        //$html += "<td>Type not specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (subOmatter) {
                                        //means we found type of matter
                                        $html += "<td>" + $natureofcase + "</td>";
                                    } else {
                                        //$html += "<td>No Known Nature of Case</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                   
                                    if (paymSum) {
                                        //means we found payment sum
                                        $html += "<td>" + $amtagainstbank + "</td>";
                                    } else {
                                        //$html += "<td>No Payment Sum Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                        // $html += "<td>" + $checker + "</td>";
                                    if (mychceker) {
                                        //means we found approved fee sum

                                        $html += "<td>" + $checker + "</td>";
                                    } else {

                                        //$html += "<td>No Amount Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (judgeSum) {
                                        //means we found judgement sum
                                        $html += "<td>" + $amtliability + "</td>";
                                    } else {
                                        //$html += "<td>No Amount Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }






                                    if (locCourt) {
                                        //means we found court location (state)
                                        $html += "<td>" + $courtloc + "</td>";
                                    } else {
                                        //$html += "<td>Location Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (typCo) {
                                        //means we found type of court
                                        $html += "<td>" + $typeofcourt + "</td>";
                                    } else {
                                        //$html += "<td>Type Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (name !== "") {
                                        //means we found solicitors name
                                        $html += "<td>" + name + "</td>";
                                    } else {
                                        //$html += "<td>Name Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (address !== "") {
                                        //means we found solicitors address
                                        $html += "<td>" + address + "</td>";
                                    } else {
                                        //$html += "<td>Address Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (phone !== "") {
                                        //means we found solicitor mobile
                                        $html += "<td>" + phone + "</td>";
                                    } else {
                                        //$html += "<td>Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (email !== "") {
                                        //means we found solicitors email
                                        $html += "<td>" + email + "</td>";
                                    } else {
                                        //$html += "<td>Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (amtPaid) {
                                        //means we found amount paid
                                        $html += "<td>" + $apprsolfee + "</td>";
                                    } else {
                                        //$html += "<td>Not Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    //if (finalJudg) {
                                    //    //means we found judgment/ruling in favour of bank
                                    //    $html += "<td>" + $judgment + "</td>";
                                    //} else {
                                    //    //$html += "<td>Not Specified</td>";
                                    //    $html += "<td><i>No Data</i></td>";
                                    //}
                                        //Remark / Status
                                    if (request_status !== "") {

                                        $html += "<td>" + request_status + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                  
                                   
                                   
                                    count++;
                                    $html += "</tr>";
                                })
                            }
                        }
                        }
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();

        });
    })
</script>
<!--
    
                    for (g in field) {
                        if (g === "Requests") {
                            var json = field[g];
                            var count = new Number(field[g][0].Process_Data.length);
                            if (count != 0) {
                            for(var z = 0; z < count; z++) {
                                $html += "<tr>";
                                var $suitno= $nameofparties= $brinv= $casetype= $natureofcase= $amtagainstbank= $amtforbank= $amtliability= $courtloc= $typeofcourt= $solname= $soladdress= $solmobile= $solmail= $apprsolfee= $judgment = "<td></td>";
                                var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                for(var q = 0; q < jax; q++) {
                                    var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                    for (var x = 0; x < len; x++) {
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "suit no") {
                                            $suitno = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "name of parties") {
                                            $nameofparties = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "requesting branch") {
                                            $brinv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "type of matter") {
                                            $casetype = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "subject matter") {
                                            $natureofcase = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "payment sum") {
                                            $amtagainstbank = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "approved fee sum") {
                                            $amtforbank = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "judgement sum") {
                                            $amtliability = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "court location (state)") {
                                            $courtloc = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "type of court") {
                                            $typeofcourt = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitors name") {
                                            $solname = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitors address") {
                                            $soladdress = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitor mobile") {
                                            $solmobile = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitors email") {
                                            $solmail = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "amount paid") {
                                            $apprsolfee = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "judgement in favour of bank") {
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value == "on") {
                                                $judgment = "<td>Yes</td>";
                                            } else {
                                                $judgment = "<td>No</td>";
                                            }
                                        }
                                        

                                    }
                                }

                                $html += "<td>"+(z+1)+"</td>" + $suitno+ $nameofparties+ $brinv+ $casetype+ $natureofcase+ $amtagainstbank+ $amtforbank+ $amtliability+ $courtloc+ $typeofcourt+$solname+ $soladdress+ $solmobile+ $solmail+ $apprsolfee+ $judgment + "<td>---</td></tr>";
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append($html);
                                } else {
                                    $(tbody_branchList).append($html);
                                }
                            }//
                        } else {
                                // Count is Zero
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                        }
                       }
                    }
                
-->