﻿<div id="search_res" class='col-lg-12'>
    <div class='panel panel-default'>
        <!-- <div id='report_heading_row' class='row' style='margin-top: 5px; margin-bottom: 5px; margin-left: -25px; margin-right: -25px;'>
            <div class="alert alert-warning" style="margin-bottom: 0px;">
                <strong id="search_title"></strong>
                <total id="total_result"></total>
                <desc class="text-primary" id="desc_result"></desc>
            </div>
        </div>
        -->
        <div class='panel-body' id='cpr-panel-searchreport' style='height: 70vh; overflow-y: scroll;'>

            <table class="table table-bordered table-striped table-hover col-md-12" id='all-cpr'>
                <thead>
                    <tr>
                        <th>#</th>

                        <th>TITLE</th>
                        <th>YEAR</th>

                        <th class="col-md-1">Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>

        </div>


    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#all-cpr").on('click', '.btn-cpr', function (e) {
            var payload = $(this).data('payload');
            // alert(payload.suitno);
            var rule_id = payload.rule_id;
            var title = payload.title;
            //var name = payload.name;
            $("#report-back").show();
            $("#report_heading_row_search").remove();
            var temp = $("#lpelr-wrapper").html();
            var url_reports = "../LawPavilion/API/CPR.ashx";


            var myUrl = $(e).data("url");
            $("#report_navigation_row").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();

            $("#lpelr-wrapper").append(heading_row);

            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/cpr_content.htm");
            //$("#lpelr-wrapper").append("<div class='row' id='previous-page' style='display:none;'>" + temp + "</div>");

            

            $.ajax({
                type: "POST",
                url: url_reports + "/" + rule_id + "?rand=" + randomString(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed = $.parseJSON(JSON.stringify(data));
                    $('#title-heading').html(title + "<button class='btn btn-xs btn-warning pull-right'  id='cprback' type='button'><i class='fa fa-chevron-left'></i><strong style='font-family:verdana;'> BACK TO CPR LIST</strong></button>");
                    $('[data-name="fullreport"]').css('line-height', '2');
                    $('[data-name="fullreport"]').html(parsed.m_StringValue);
                },

                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                   var errorMessage = err.Message;
                    alert(errorMessage);
                }
            });


        });
        $('body').on('click', '#cprback', function(e) {

            $(".cpr").trigger("click");
        });

        function emptyNull(str) {
            if (str == null) {
                str = "";
            }
            return str;
        }


        function coverDesc(court, data) {
            var result;
            switch (court) {
                case "supreme":
                    result = "In the Supreme Court of Nigeria";
                    break;
                case "appeal":
                    result = "In the Court of Appeal<br/>In the " + data.division + "Judicial Division<br/>Holden at " + data.division;
                    break;
                case "fhc":
                    result = "In The Federal High Court of Nigeria<br/>Holden at " + data.division;
                    break;
                case "nic":
                    result = "In The National Industrial Court of Nigeria<br/>Holden at " + data.division;
                    break;
                case "tat":
                    result = "In the Tax Appeal Tribunal";
                    break;
                case "state-lagos":
                case "state-abuja":
                    result = "In The High Court of " + data.state + "<br/>In the " + data.state + " Judicial Division<br/>Holden at " + data.state;
                    break;
                default:
                    result = "";
                    break;
            }
            return ucwords(result, true);
        }

        function justiceTitle(court) {
            switch (court) {
                case "supreme":
                    return "Justice of the Supreme Court";

                case "appeal":
                    return "Justice, Court of Appeal";

                case "fhc":
                    return "Justice, Federal High Court";

                case "nic":
                    return "Hon. Justice";

                case "tat":
                    return "Commissioner";

                case "state-lagos":
                case "state-abuja":
                    return "Justice, State High Court";

                default:
                    return "";
            }

        }


        function getRatios(myUrl) {
            //load principles
            //===================================================================
            $.ajax({
                type: "POST",
                url: url_reports + "/" + "fhc" + "/principle/suitno?" + myUrl.split('?')[1],
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed2 = $.parseJSON(JSON.stringify(data.Table_Data_1));
                    $('[data-name="principle"]').html("");
                    $.each(parsed2, function (i, jsondata) {
                        $('#div-principle').append("<span>" + (i + 1) + ". </span><span style='color:#990000;font-weight:bold'>" + jsondata["legal head"] + "</span> - " +
        "<span style='color:#009933;font-weight:bold'>" + jsondata["subjectmatter"] + "</span>:" +
        "<span style='color:#009933;font-weight:normal'>" + jsondata["issues1"] + "</span><br/>" +
        "<span style='color:#000099;font-weight:normal'>" + jsondata["principle"] + "</span><br/><br/>"
        );

                        //list out principles
                        $('[data-name="principle"]').append("<div class='bs-callout bs-callout-primary'><span style='color:#990000;font-weight:bold'>" + jsondata["legal head"] + " - </span><span style='color:green;font-weight:bold;'>" + jsondata["subjectmatter"] + ": <span><span style='color:blue;font-weight:normal;'>" + jsondata["issues1"] + " <span><a style='color:red;text-decoration:underline;' href='#" + jsondata.pk + "'>read in context</a></div>");

                    });


                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    errorMessage = err.Message;
                    alert(errorMessage);
                }
            });


            //==================================================================
        }

        function nl2br(str, is_xhtml) {
            var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
            return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
        }

        function getCourt(court) {
            switch (court) {
                case "supreme":
                    return "Supreme Court";
                case "appeal":
                    return "Court of Appeal";
                case "nic":
                    return "National Industrial Court";
                case "tat":
                    return "Tax Appeal Tribunal";
                case "fhc":
                    return "Federal High Court";
                case "state-abuja":
                    return "FCT High Court";
                case "state-lagos":
                    return "Lagos State High Court";
                default:
                    return "";
            }

        }

        function navigateBack(e) {
            var temp = $("#previous-page").html();
            //$("#report_content_row").load("../Lawpavilion/Components/reportlist.htm");
            //alert($(e).data("url"));
            //loadList(e);
            $("#lpelr-wrapper").html(temp);
            $("#report-back").hide();
        }

    });
</script>

