﻿<div id="search_res" class='col-lg-10'>
    <div class='panel panel-default'>
       <!--<div id='report_heading_row' class='row' style='margin-top: 5px; margin-bottom: 5px; margin-left: -25px; margin-right: -25px;'>
            <div class="alert alert-warning" style="margin-bottom: 0px;">
                <strong id="search_title"></strong>
                <total id="total_result"></total>
                <desc class="text-primary" id="desc_result"></desc>
            </div>
        </div>-->
        
        <div class='panel-body' id='panel-searchreports' style='height: 70vh; overflow-y: scroll;'><span>Loading...</span></div>
        <div class='panel-footer clearfix'>
            <div class='pull-right'>
                <input type="submit" id="prev" value="<< Prev" class="btn btn-info"/> <input type="submit" id="nextbtn" value="next >>" class="btn btn-info"/>
            </div>
        </div>
    </div>
    </div>
<div id="sidehide">
    <div class='col-lg-2' id="sidebar1">
        <a href="#" class="list-group-item active">
            Narrow by COURT
        </a>
        <a href="#" class="list-group-item" id="supremeLabel"></a>
        <a href="#" class="list-group-item" id="courtofappealLabel"></a>
        <a href="#" class="list-group-item" id="nationalLabel"></a>
        <a href="#" class="list-group-item" id="TaxlLabel"></a>
        <a href="#" class="list-group-item" id="federalLabel"></a>
        <a href="#" class="list-group-item" id="stateLabel"></a>
        <a href="#" class="list-group-item" id="laws_sections"></a>
        <a href="#" class="list-group-item" id="subsidiary"></a>
        <a href="#" class="list-group-item" id="cpr"></a>
    </div>

   <!-- <div class='col-lg-2' style="margin-top: 10px;" id="sidebar2">
        <a href="#" class="list-group-item active">
            Narrow by YEAR
        </a>

        <a href="#" class="list-group-item" id="2014">2014 </a>
        <a href="#" class="list-group-item" id="2013">2013 </a>
        <a href="#" class="list-group-item" id="2012">2012</a>
        <a href="#" class="list-group-item" id="2011">2011</a>
        <a href="#" class="list-group-item" id="2010">2010</a>
        <a href="#" class="list-group-item" id="2009">2009</a>
        <a href="#" class="list-group-item" id="2008">2008</a>
        <a href="#" class="list-group-item" id="2007">2007</a>
        <a href="#" class="list-group-item" id="2006">2006</a>
        <a href="#" class="list-group-item" id="2005">2005</a>
        <a href="#" class="list-group-item" id="2004">2004</a>
        <a href="#" class="list-group-item" id="2003">2003</a>
        <a href="#" class="list-group-item" id="2002">2002</a>
        <a href="#" class="list-group-item" id="2001">2001</a>
        <a href="#" class="list-group-item" id="2000">2000</a>
        <a href="#" class="list-group-item" id="1999">1999</a>
    </div>-->
</div>
<script type="text/javascript">

    $(document).ready(function () {

        $("#sidehide").hide();


    });

    //Sort by Supreme
    $(document).ready(function () {

        $('#supremeLabel').click(function () {

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var urlSite = "../LawPavilion/API/SearchIndex.ashx";
            var searchText = $('#input-search').val();

            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "/LawPavilion/API/SearchIndex.ashx",
                    type: 'POST',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $('#xti > strong').show().html("<b>SUPREME COURT RESULT : " + searchText.toUpperCase() + "</b>");

                        var items = response;
                        var fragment = "";
                       
                        response.sort(function (a, b) {
                            return a.rank - b.rank;
                        });
                        $.each(items, function (index, val) {


                            var mYear = val.mYear; // year
                            var mTitle = val.mTitle; //title
                            var mNumber = val.mNumber; //suitno
                            var mContent = val.mContent; // full report
                            var summary = val.summary; // summary
                            var tableName = val.tablename; // table name
                            var pk = val.identifier;
                            var caseTitle2 = val.casetitle2;
                            var law = "";

                            var year = new Date(mYear); // pass the year/month/day 
                            var convertToYear = year.getFullYear();


                            if (tableName === "cases_ca" || tableName === "analysis_ca") {
                                appealCourt++;
                                law = "<strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";
                            }
                            if (tableName === "cases_fhc" || tableName === "analysis_fhc") {
                                fhc++;
                                law = "<strong id='fade' style='color: #EAC357;'> Federal High Court </strong>";
                            }
                            if (tableName === "cases_tat" || tableName === "analysis_tat") {
                                tat++;
                                law = "<strong id='fade' style='color: #EAC357;'> Tax </strong>";
                            }
                            if (tableName === "cases_nic" || tableName === "analysis_nic") {
                                nic++;
                                law = "<strong id='fade' style='color: #EAC357;'> National </strong>";
                            }
                            if (tableName === "cases_states" || tableName === "analysis_states") {

                                state++;
                                law = "<strong id='fade' style='color: #EAC357;'> State </strong>";
                            }
                            if (tableName === "laws_sections") {

                                lawsSections++;
                                law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                            }
                            if (tableName === "subsidiaries_legislations") {
                                subsidiary++;

                                law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                            }

                            if (tableName === "cases" || tableName === "analysis") {
                                supremeCourt++;

                                law = " <strong id='fade' style='color: #EAC357;'> Supreme Court </strong>";

                                fragment += "<div id='push' class='list-group'> " +
                                "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item '> " +
                                "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                "</a> <br/>" +
                                "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                "</div>";
                            }
//                            $('#xti > total').show().html("  | Total Results Found For Supreme Court :  " + supremeCourt);

                        });

                        $("#panel-lawreports").show().html(fragment);

                    },
                    error: function (error) {
                        console.log(error);
                    }

                });

            } else {
                alert('Please enter at least 3 characters to search for');
            }
            //

        });

        //court of appeal

        $('#courtofappealLabel').click(function () {

            $("#table-lawreports").hide();
            $("#table-lawreports").remove();
            $("#panel-lawreports").hide();
            $('#report_content_row').hide();
            $('#xti > strong').hide();
            $('#xti > total').hide();
            $('#xti > desc').hide();

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var urlSite = "../LawPavilion/API/SearchIndex.ashx";
            var searchText = $('#input-search').val();

            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "/LawPavilion/API/SearchIndex.ashx",
                    type: 'POST',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                       
                        var items = response;
                        var fragment = "";
                        response.sort(function (a, b) {
                            return a.rank - b.rank;
                        });
                        $.each(items, function (index, val) {


                            var mYear = val.mYear; // year
                            // var mTitle = val.mTitle; //title
                            var mNumber = val.mNumber; //suitno
                            var mContent = val.mContent; // full report
                            var rank = val.rank; // rank
                            var summary = val.summary; // summary
                            var tableName = val.tablename; // table name
                            var pk = val.identifier;
                            var caseTitle2 = val.casetitle2;
                            var law = "";

                            var year = new Date(mYear); // pass the year/month/day 
                            var convertToYear = year.getFullYear();

                            if (tableName === "cases_ca" || tableName === "analysis_ca") {
                                appealCourt++;

                                law = " <strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";

                                fragment += "<div id='push' class='list-group'> " +
                                "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item '> " +
                                "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                "</a> <br/>" +
                                "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                "</div>";
                            }
                           

                        });

                        $("#panel-lawreports").show().html(fragment);

                    },
                    error: function (error) {
                        console.log(error);
                    }

                });

            } else {
                alert('Please enter at least 3 characters to search for');
            }

        });

        $('#nationalLabel').click(function () {

            $("#table-lawreports").hide();
            $("#table-lawreports").remove();
            $("#panel-lawreports").hide();
            $('#report_content_row').hide();
            $('#xti > strong').hide();
            $('#xti > total').hide();
            $('#xti > desc').hide();

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var urlSite = "../LawPavilion/API/SearchIndex.ashx";
            var searchText = $('#input-search').val();

            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "/LawPavilion/API/SearchIndex.ashx",
                    type: 'POST',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $('#xti > strong').show().html("<b>NATIONAL RESULT : " + searchText.toUpperCase() + "</b>");


                        $('#xti > desc').replaceWith("");
                        $('#report_content_row').show();
                        var items = response;
                        var fragment = "";
                        response.sort(function (a, b) {
                            return a.rank - b.rank;
                        });
                        $.each(items, function (index, val) {


                            var mYear = val.mYear; // year
                            // var mTitle = val.mTitle; //title
                            var mNumber = val.mNumber; //suitno
                            var mContent = val.mContent; // full report
                            var rank = val.rank; // rank
                            var summary = val.summary; // summary
                            var tableName = val.tablename; // table name
                            var pk = val.identifier;
                            var caseTitle2 = val.casetitle2;
                            var law = "";

                            var year = new Date(mYear); // pass the year/month/day 
                            var convertToYear = year.getFullYear();

                            if (tableName === "cases_nic" || tableName === "analysis_nic") {
                                nic++;

                                law = " <strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";

                                fragment += "<div id='push' class='list-group'> " +
                                "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item '> " +
                                "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                "</a> <br/>" +
                                "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                "</div>";
                            }
                            $('#xti > total').show().html("  | Total Results Found For National :  " + nic);

                        });

                        $("#panel-lawreports").show().html(fragment);

                    },
                    error: function (error) {
                        console.log(error);
                    }

                });

            } else {
                alert('Please enter at least 3 characters to search for');
            }
        });

        $('#federalLabel').click(function () {

            $("#table-lawreports").hide();
            $("#table-lawreports").remove();
            $("#panel-lawreports").hide();
            $('#report_content_row').hide();
            $('#xti > strong').hide();
            $('#xti > total').hide();
            $('#xti > desc').hide();

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var urlSite = "../LawPavilion/API/SearchIndex.ashx";
            var searchText = $('#input-search').val();

            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "/LawPavilion/API/SearchIndex.ashx",
                    type: 'POST',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $('#xti > strong').show().html("<b>FEDERAL HIGH COURT RESULT : " + searchText.toUpperCase() + "</b>");


                        $('#xti > desc').replaceWith("");
                        $('#report_content_row').show();
                        var items = response;
                        var fragment = "";
                        response.sort(function (a, b) {
                            return a.rank - b.rank;
                        });
                        $.each(items, function (index, val) {


                            var mYear = val.mYear; // year
                            // var mTitle = val.mTitle; //title
                            var mNumber = val.mNumber; //suitno
                            var mContent = val.mContent; // full report
                            var rank = val.rank; // rank
                            var summary = val.summary; // summary
                            var tableName = val.tablename; // table name
                            var pk = val.identifier;
                            var caseTitle2 = val.casetitle2;
                            var law = "";

                            var year = new Date(mYear); // pass the year/month/day 
                            var convertToYear = year.getFullYear();

                            if (tableName === "cases_fhc" || tableName === "analysis_fhc") {
                                fhc++;

                                law = " <strong id='fade' style='color: #EAC357;'> Federal High Court </strong>";

                                fragment += "<div id='push' class='list-group'> " +
                                "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item '> " +
                                "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                "</a> <br/>" +
                                "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                "</div>";
                            }
                            $('#xti > total').show().html("  | Total Results Found For Federal High Court :  " + fhc);

                        });

                        $("#panel-lawreports").show().html(fragment);

                    },
                    error: function (error) {
                        console.log(error);
                    }

                });

            } else {
                alert('Please enter at least 3 characters to search for');
            }
        });

        $('#stateLabel').click(function () {

            $("#table-lawreports").hide();
            $("#table-lawreports").remove();
            $("#panel-lawreports").hide();
            $('#report_content_row').hide();
            $('#xti > strong').hide();
            $('#xti > total').hide();
            $('#xti > desc').hide();

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var urlSite = "../LawPavilion/API/SearchIndex.ashx";
            var searchText = $('#input-search').val();

            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "/LawPavilion/API/SearchIndex.ashx",
                    type: 'POST',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $('#xti > strong').show().html("<b>STATE RESULT : " + searchText.toUpperCase() + "</b>");


                        $('#xti > desc').replaceWith("");
                        $('#report_content_row').show();
                        var items = response;
                        var fragment = "";
                        response.sort(function (a, b) {
                            return a.rank - b.rank;
                        });
                        $.each(items, function (index, val) {


                            var mYear = val.mYear; // year
                            // var mTitle = val.mTitle; //title
                            var mNumber = val.mNumber; //suitno
                            var mContent = val.mContent; // full report
                            var rank = val.rank; // rank
                            var summary = val.summary; // summary
                            var tableName = val.tablename; // table name
                            var pk = val.identifier;
                            var caseTitle2 = val.casetitle2;
                            var law = "";

                            var year = new Date(mYear); // pass the year/month/day 
                            var convertToYear = year.getFullYear();

                            if (tableName === "cases_states" || tableName === "analysis_states") {
                                state++;

                                law = " <strong id='fade' style='color: #EAC357;'> State Court </strong>";

                                fragment += "<div id='push' class='list-group'> " +
                                "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item '> " +
                                "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                "</a> <br/>" +
                                "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                "</div>";
                            }
                            $('#xti > total').show().html("  | Total Results Found For National :  " + state);

                        });

                        $("#panel-lawreports").show().html(fragment);

                    },
                    error: function (error) {
                        console.log(error);
                    }

                });

            } else {
                alert('Please enter at least 3 characters to search for');
            }
        });
        $('#laws_sections').click(function () {

            $("#table-lawreports").hide();
            $("#table-lawreports").remove();
            $("#panel-lawreports").hide();
            $('#report_content_row').hide();
            $('#xti > strong').hide();
            $('#xti > total').hide();
            $('#xti > desc').hide();

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var urlSite = "../LawPavilion/API/SearchIndex.ashx";
            var searchText = $('#input-search').val();

            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "/LawPavilion/API/SearchIndex.ashx",
                    type: 'POST',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $('#xti > strong').show().html("<b>LAW OF FEDERATION RESULT : " + searchText.toUpperCase() + "</b>");


                        $('#xti > desc').replaceWith("");
                        $('#report_content_row').show();
                        var items = response;
                        var fragment = "";
                        response.sort(function (a, b) {
                            return a.rank - b.rank;
                        });
                        $.each(items, function (index, val) {


                            var mYear = val.mYear; // year
                            // var mTitle = val.mTitle; //title
                            var mNumber = val.mNumber; //suitno
                            var mContent = val.mContent; // full report
                            var rank = val.rank; // rank
                            var summary = val.summary; // summary
                            var tableName = val.tablename; // table name
                            var pk = val.identifier;
                            var caseTitle2 = val.casetitle2;
                            var law = "";

                            var year = new Date(mYear); // pass the year/month/day 
                            var convertToYear = year.getFullYear();

                            if (tableName === "laws_sections") {
                                lawsSections++;

                                law = " <strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";

                                fragment += "<div id='push' class='list-group'> " +
                                "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item '> " +
                                "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                "</a> <br/>" +
                                "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                "</div>";
                            }
                            $('#xti > total').show().html("  | Total Results Found For Law of Federation :  " + lawsSections);

                        });

                        $("#panel-lawreports").show().html(fragment);

                    },
                    error: function (error) {
                        console.log(error);
                    }

                });

            } else {
                alert('Please enter at least 3 characters to search for');
            }
        });

        $('#subsidiary').click(function () {

            $("#table-lawreports").hide();
            $("#table-lawreports").remove();
            $("#panel-lawreports").hide();
            $('#report_content_row').hide();
            $('#xti > strong').hide();
            $('#xti > total').hide();
            $('#xti > desc').hide();

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var urlSite = "../LawPavilion/API/SearchIndex.ashx";
            var searchText = $('#input-search').val();

            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "/LawPavilion/API/SearchIndex.ashx",
                    type: 'POST',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $('#xti > strong').show().html("<b>LAW OF FEDERATION RESULT : " + searchText.toUpperCase() + "</b>");


                        $('#xti > desc').replaceWith("");
                        $('#report_content_row').show();
                        var items = response;
                        var fragment = "";
                        response.sort(function (a, b) {
                            return a.rank - b.rank;
                        });
                        $.each(items, function (index, val) {


                            var mYear = val.mYear; // year
                            // var mTitle = val.mTitle; //title
                            var mNumber = val.mNumber; //suitno
                            var mContent = val.mContent; // full report
                            var rank = val.rank; // rank
                            var summary = val.summary; // summary
                            var tableName = val.tablename; // table name
                            var pk = val.identifier;
                            var caseTitle2 = val.casetitle2;
                            var law = "";

                            var year = new Date(mYear); // pass the year/month/day 
                            var convertToYear = year.getFullYear();

                            if (tableName === "subsidiaries_legislations") {
                                subsidiary++;

                                law = " <strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";

                                fragment += "<div id='push' class='list-group'> " +
                                "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item '> " +
                                "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                "</a> <br/>" +
                                "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                "</div>";
                            }
                            $('#xti > total').show().html("  | Total Results Found For Law of Federation :  " + subsidiary);

                        });

                        $("#panel-lawreports").show().html(fragment);

                    },
                    error: function (error) {
                        console.log(error);
                    }

                });

            } else {
                alert('Please enter at least 3 characters to search for');
            }
        });



    });







    //Full Report and summary Page
    function GetSummary(e) {

        $("#report-back").show();
        var temp = $("#lpelr-wrapper").html();

        $("#report_navigation_row").remove();
        $("#report_heading_row").remove();
        $("#report_content_row").remove();

        $("#lpelr-wrapper").append(heading_row);

        $("#lpelr-wrapper").append(content_row);
        $("#report_content_row").load("../Lawpavilion/Components/reportcontent.htm");
        $("#lpelr-wrapper").append("<div class='row' id='previous-page' style='display:none;'>" + temp + "</div>");


        var myUrl = $(e).data("url");
        var querystring = myUrl;

        var values = querystring.split("&");
        var first = values[0];  // GuessID=123
        var second = values[1];
        var gettt = second.replace("table=", "");

        $.ajax({
            type: "POST",
            url: myUrl,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $(".panel-body > span").remove();
                $(".panel-body > span").hide();
                $('#principle_col').hide();
                $('#principle_col').remove();
                $("#report_heading_row_search").remove();
                var parsed = $.parseJSON(JSON.stringify(data));
                $.each(parsed, function (i, jsondata) {

                    if (gettt === "cases" || gettt === "cases_fhc" || gettt === "cases_tat" || gettt === "cases_nic" || gettt === "cases_states" || gettt === "cases_ca") {

                        //alert('cases');
                        if (typeof (jsondata.case_title2) != "undefined" && jsondata.case_title2 !== null && jsondata.case_title2 !== "") {
                            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:5px;'><strong>" + jsondata.case_title2 + "</strong> |<span class='text-success'> <strong>" + jsondata.suitno + "</strong></span> | <span class='text-danger'><strong>" + getCourt($("#span-report").data("court")) + "</strong></span></div>");
                        }
                        if (typeof (jsondata.case_title2) != "undefined" && jsondata.case_title2 !== null && jsondata.case_title2 !== "") {
                            $('[data-name="fullreport"]').append("<h5 style='color:red; text-align:center; font-weight:bold;'>" + jsondata.case_title2.toUpperCase() + "</h5>");
                        }
                        if (typeof (jsondata.citation) != "undefined" && jsondata.citation !== null && jsondata.citation !== "") {
                            $('[data-name="fullreport"]').append("<p style='color:green; text-align:center; font-weight:bold;'>CITATION: " + emptyNull(jsondata.citation).toUpperCase() + "</p>");
                        }

                        $('[data-name="fullreport"]').append("<p style='text-align:center; font-weight:bold;'><img src='../Lawpavilion/Assets/images/coa.jpg'/></p>");


                        $('[data-name="fullreport"]').append("<p style='text-align:center; color:blue; font-weight:normal;'>" + coverDesc($("#span-report").data("court"), jsondata) + "</p>");
                        if (typeof (jsondata.suitno) != "undefined" && jsondata.suitno !== null && jsondata.suitno !== "") {
                            $('[data-name="fullreport"]').append("<p style='text-align:center; color:red; font-weight:bold;'>Suit No: " + jsondata.suitno.toUpperCase() + "</p>");
                        }
                        $('[data-name="fullreport"]').append("<p style='text-align:center; color:blue; font-weight:normal;'>Before their Lordships:</p>");
                        $('[data-name="fullreport"]').append("<div style='display:block; text-align:center; color:blue; font-weight:normal;'></div>");

                        if (typeof (jsondata.judge1) != "undefined" && jsondata.judge1 !== null && jsondata.judge1 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block; text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge1 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge2) != "undefined" && jsondata.judge2 !== null && jsondata.judge2 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge2 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge3) != "undefined" && jsondata.judge3 !== null && jsondata.judge3 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge3 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge4) != "undefined" && jsondata.judge4 !== null && jsondata.judge4 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge4 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }


                        if (typeof (jsondata.judge5) != "undefined" && jsondata.judge5 !== null && jsondata.judge5 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge5 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }


                        if (typeof (jsondata.judge6) != "undefined" && jsondata.judge6 !== null && jsondata.judge6 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge6 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge7) != "undefined" && jsondata.judge7 !== null && jsondata.judge7 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge7 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge8) != "undefined" && jsondata.judge8 !== null && jsondata.judge8 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge8 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        $('[data-name="fullreport"]').append("<div style='display:block; text-align:center; color:blue; font-weight:bold;'>Between</div>");

                        if (typeof (jsondata.parties) != "undefined") {
                            var parties = jsondata.parties.split(" v ");
                        } else {
                            var parties = "Appellant(s) v Respondent(s)".split(" v ");
                        }

                        if (typeof (jsondata.appelant) != "undefined" && jsondata.appelant !== null && jsondata.appelant !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block; text-align:left; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + nl2br(jsondata.appelant) + "</span><span class='col-md-6' style='font-weight:bold;text-align:right'>" + parties[0] + "</span></div>");
                        }

                        $('[data-name="fullreport"]').append("<div class='row' style='display:block; text-align:center; color:blue; font-weight:bold;'>And</div>");
                        if (typeof (jsondata.defendant) != "undefined" && jsondata.defendant !== null && jsondata.defendant !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block; text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + nl2br(jsondata.defendant) + "</span><span class='col-md-6' style='font-weight:bold;text-align:right'>" + parties[1] + "</span></div>");
                        }
                        $('[data-name="fullreport"]').append("<div class='row'><hr/></div>");
                        $('[data-name="fullreport"]').append("<div class='row' style='display:block; padding-left:60px;text-align:left; color:red; font-weight:bold;'>RATIO DECIDENDI</div>");
                        $('[data-name="fullreport"]').append("<div class='row' id='div-principle' style='padding-left:60px; padding-right:60px; text-align:justify; display:block;'></div>");
                        getRatios(myUrl);
                        $('[data-name="fullreport"]').append("<div class='row'><hr/></div>");

                        if (typeof (jsondata.fullreport_html) != "undefined" && jsondata.fullreport_html !== null && jsondata.fullreport_html !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='padding-right:60px;padding-left:60px;text-align:justify; font-weight:normal; line-height:2;color:#0E3BBC;'>" + jsondata.fullreport_html + "</div>");
                        }

                    }


                    if (gettt === "analysis" || gettt === "analysis_ca" || gettt === "analysis_fhc" || gettt === "analysis_tat" || gettt === "analysis_nic" || gettt === "analysis_states") {

                        //alert('analysis');
                        if (typeof (jsondata.subjectmatter) != "undefined" && jsondata.subjectmatter !== null && jsondata.subjectmatter !== "") {
                            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:5px;'><strong>" + jsondata.subjectmatter + "</strong> |<span class='text-success'> <strong>" + jsondata.suitno + "</strong></span> | <span class='text-danger'><strong></strong></span></div>");
                        }
                        if (typeof (jsondata.subjectmatter) != "undefined" && jsondata.subjectmatter !== null && jsondata.subjectmatter !== "") {
                            $('[data-name="fullreport"]').append("<h5 style='color:red; text-align:center; font-weight:bold;'>" + jsondata.subjectmatter.toUpperCase() + "</h5>");
                        }
                        $('[data-name="fullreport"]').append("<p style='text-align:center; font-weight:bold;'><img src='../Lawpavilion/Assets/images/coa.jpg'/></p>");


                        $('[data-name="fullreport"]').append("<p style='text-align:center; color:blue; font-weight:normal;'>" + coverDesc($("#span-report").data("court"), jsondata) + "</p>");
                        if (typeof (jsondata.suitno) != "undefined" && jsondata.suitno !== null && jsondata.suitno !== "") {
                            $('[data-name="fullreport"]').append("<p style='text-align:center; color:red; font-weight:bold;'>Suit No: " + jsondata.suitno.toUpperCase() + "</p>");
                        }
                        $('[data-name="fullreport"]').append("<div class='row'><hr/></div>");

                        $('[data-name="fullreport"]').append("<div class='row' id='div-principle' style='padding-left:60px; padding-right:60px; text-align:justify; display:block;'></div>");
                        getRatios(myUrl);
                        $('[data-name="fullreport"]').append("<div class='row'><hr/></div>");

                        if (typeof (jsondata.principle) != "undefined" && jsondata.principle !== null && jsondata.principle !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='padding-right:60px;padding-left:60px;text-align:justify; font-weight:normal; line-height:2;color:#0E3BBC;'>" + jsondata.principle + "</div>");
                        }


                    }
                    if (gettt === "laws_sections") {
                     
                        if (typeof (jsondata.case_title2) != "undefined" && jsondata.case_title2 !== null && jsondata.case_title2 !== "") {
                            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:5px;'><strong>" + jsondata.case_title2 + "</strong> | <span class='text-danger'><strong>" + getCourt($("#span-report").data("court")) + "</strong></span></div>");
                        }
                        if (typeof (jsondata.case_title2) != "undefined" && jsondata.case_title2 !== null && jsondata.case_title2 !== "") {
                            $('[data-name="fullreport"]').append("<h5 style='color:red; text-align:center; font-weight:bold;'>" + jsondata.case_title2.toUpperCase() + "</h5>");
                        }
                        if (typeof (jsondata.citation) != "undefined" && jsondata.citation !== null && jsondata.citation !== "") {
                            $('[data-name="fullreport"]').append("<p style='color:green; text-align:center; font-weight:bold;'>CITATION: " + emptyNull(jsondata.citation).toUpperCase() + "</p>");
                        }

                        $('[data-name="fullreport"]').append("<p style='text-align:center; font-weight:bold;'><img src='../Lawpavilion/Assets/images/coa.jpg'/></p>");


                        $('[data-name="fullreport"]').append("<p style='text-align:center; color:blue; font-weight:normal;'>" + coverDesc($("#span-report").data("court"), jsondata) + "</p>");
                        if (typeof (jsondata.suitno) != "undefined" && jsondata.suitno !== null && jsondata.suitno !== "") {
                            $('[data-name="fullreport"]').append("<p style='text-align:center; color:red; font-weight:bold;'>Suit No: " + jsondata.suitno.toUpperCase() + "</p>");
                        }
                        $("#contentview").removeClass("col-lg-9").addClass("col-lg-12");
                        $('[data-name="fullreport"]').css('line-height', '2');
                        $('[data-name="fullreport"]').html(jsondata.section_Content.replace(/\n/g, "<br/>"));

                        
                    }

                    if (gettt === "CPR") {
                        $('#report_heading_row').append("<div class='alert alert-warning' style='margin-bottom:5px;'><strong>" + jsondata.title + "</strong> | <span class='text-danger'><strong>" + jsondata.jurisdiction + "</strong></span></div>");
                        $("#contentview").removeClass("col-lg-9").addClass("col-lg-12");
                        $('[data-name="fullreport"]').css('line-height', '2');
                        $('[data-name="fullreport"]').html(jsondata.content.replace(/\n/g, "<br/>"));
                    }


                });


            },
            error: function (XHR, errStatus, errorThrown) {
                alert("Error " + errorThrown);
            }

        });

    }

    $(document).ready(function() {

        $('#nextbtn').click(function() {
            
            var searchText = $('#input-search').val();
            $.ajax({
                url: "/LawPavilion/API/SearchNext.ashx",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {

                    var items = response;
                    var fragment = "";
                    response.sort(function(a, b) {
                        return a.rank - b.rank;
                    });
                    $.each(items, function(index, val) {

                       // console.log(val);
                        var mYear = val.mYear; // year
                        // var mTitle = val.mTitle; //title
                        var mNumber = val.mNumber; //suitno
                        var mContent = val.mContent; // full report
                        var rank = val.rank; // rank
                        var summary = val.summary; // summary
                        var tableName = val.tablename; // table name
                        var pk = val.identifier;
                        var caseTitle2 = val.casetitle2;
                        var law = "";
                        var year = new Date(mYear);
                        var convertToYear = year.getFullYear();

                        if (tableName === "cases" || tableName === "analysis") {
                           
                            law = " <strong id='fade' style='color: #EAC357;'> Supreme Court </strong>";
                        }

                        if (tableName === "cases_ca" || tableName === "analysis_ca") {
                           
                            law = "<strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";
                        }
                        if (tableName === "cases_fhc" || tableName === "analysis_fhc") {
                           
                            law = "<strong id='fade' style='color: #EAC357;'> Federal High Court </strong>";
                        }
                        if (tableName === "cases_tat" || tableName === "analysis_tat") {
                           
                            law = "<strong id='fade' style='color: #EAC357;'> Tax </strong>";
                        }
                        if (tableName === "cases_nic" || tableName === "analysis_nic") {
                            
                            law = "<strong id='fade' style='color: #EAC357;'> National </strong>";
                        }
                        if (tableName === "cases_states" || tableName === "analysis_states") {

                            
                            law = "<strong id='fade' style='color: #EAC357;'> State </strong>";
                        }
                        if (tableName === "laws_sections") {

                           
                            law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                        }
                        if (tableName === "subsidiaries_legislations") {
                            

                            law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                        }
                        if (tableName === "CPR") {


                            law = "<strong id='fade' style='color: #EAC357;'> Civil Procedure Rule </strong>";
                        }
                        fragment += "<div id='push' class='list-group'> " +
                                    "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item' style='color:blue; font-weight:bold;'> " +
                                    "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                    "</a> <br/>" +
                                    "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                    "</div>";

                    });

                    $("#panel-searchreports").show().html(fragment);

                },
                error: function(error) {
                    console.log(error);
                }

            });

        });
    });

    $(document).ready(function() {

        $('#prev').click(function() {
            
            var searchText = $('#input-search').val();
          $.ajax({
                url: "/LawPavilion/API/SearchPrev.ashx",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {

                    var items = response;
                    var fragment = "";
                    response.sort(function(a, b) {
                        return a.rank - b.rank;
                    });
                    $.each(items, function(index, val) {

                        console.log(val);
                        var mYear = val.mYear; // year
                        // var mTitle = val.mTitle; //title
                        var mNumber = val.mNumber; //suitno
                        var mContent = val.mContent; // full report
                        var rank = val.rank; // rank
                        var summary = val.summary; // summary
                        var tableName = val.tablename; // table name
                        var pk = val.identifier;
                        var caseTitle2 = val.casetitle2;
                        var law = "";

                        var year = new Date(mYear); // pass the year/month/day 
                        var convertToYear = year.getFullYear();
                        if (tableName === "cases" || tableName === "analysis") {

                            law = " <strong id='fade' style='color: #EAC357;'> Supreme Court </strong>";
                        }

                        if (tableName === "cases_ca" || tableName === "analysis_ca") {

                            law = "<strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";
                        }
                        if (tableName === "cases_fhc" || tableName === "analysis_fhc") {

                            law = "<strong id='fade' style='color: #EAC357;'> Federal High Court </strong>";
                        }
                        if (tableName === "cases_tat" || tableName === "analysis_tat") {

                            law = "<strong id='fade' style='color: #EAC357;'> Tax </strong>";
                        }
                        if (tableName === "cases_nic" || tableName === "analysis_nic") {

                            law = "<strong id='fade' style='color: #EAC357;'> National </strong>";
                        }
                        if (tableName === "cases_states" || tableName === "analysis_states") {


                            law = "<strong id='fade' style='color: #EAC357;'> State </strong>";
                        }
                        if (tableName === "laws_sections") {


                            law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                        }
                        if (tableName === "subsidiaries_legislations") {


                            law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                        }
                        if (tableName === "CPR") {


                            law = "<strong id='fade' style='color: #EAC357;'> Civil Procedure Rule </strong>";
                        }
                        fragment += "<div id='push' class='list-group'> " +
                            "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item' style='color:blue; font-weight:bold;'> " +
                            "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                            "</a> <br/>" +
                            "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                            "</div>";


                    });

                    $("#panel-searchreports").show().html(fragment);

                },
                error: function(error) {
                    console.log(error);
                }

            });

        });
    });

</script>