﻿<div class="page-wrapper">
         
            <div class="row">
                <div class="col-lg-12">
                    
                   
                </div>
                <!-- /.col-lg-12 -->
            </div>
           
            <!-- /.row -->
            <div id="" class="row">
                        <nav  id="stk-breadf" style="margin-top: 80px;">
                             <!--<ul class="breadcrumb">
                                <li><a href="#">Agencies</a></li>
                                <li><a href="#">Categories</a></li>
                                <li class="active"></li>
                            </ul>-->
                        </nav>
                <div id="stk-panelf" class="panel panel-primary" style="margin-top: 10px;">

                        <!-- /.displays Heading -->
                    <div class="panel-heading" id="stk-headingf">
                        <i class='fa fa-briefcase fa-fw'></i> <strong style='font-family:verdana'>LAWPAVILION STK > FORMS AND AGREEMENT</strong>
                    </div>
                        <!--  -->


                   

                        
                        <!-- /.panel-heading -->
                        <div id="user_page2f" class="panel-body" style="height:75vh;  overflow-y: scroll;">
                            <div class="panel-group" id="accordion_regulationf" role="tablist" aria-multiselectable="false">


                                <table class='table table-striped table-bordered table-hover no-footer' role='grid' id="form-list">

                                    <thead>

                                        <tr role="row">

                                            <th>#</th>
                                            <th>Title</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <!--<tbody id='regulation-list'></tbody>-->
                                    <tbody></tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>


                            <div class='col-sm-12 content_content' style='padding:70px; border-color: #DDD; border-style: solid; border-width: 1px;text-align:justify;line-height:2; font-family:verdana;'><section id='form-content'></section></div>
                            <!-- /.panel-body -->
                    </div>
                       <div class="panel-footer clearfix">
                            <div class="pull-left" id="stk_buttons-left">
                            <a href="#" class="btn btn-default">Note</a>
                                <a href="#" class="btn btn-primary">Relevant Laws</a>
                                <a href="#" class="btn btn-default">Relevant Cases</a>
                                <a href="#" class="btn btn-default">Required Clauses</a>
                            </div>
                            <div class="pull-right" id="stk-buttons-right">
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-primary">Print</a>
                       </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
    

    
</div>
    </div>

<script type="text/javascript">
    
    var url_reg = "../LawPavilion/API/Regulations.ashx";
    var url_forms = "../LawPavilion/API/Forms.ashx";
    var url_reports = "../LawPavilion/API/LawReports.ashx";
    var url_cpr = "../LawPavilion/API/CPR.ashx";
    var url_lfn = "../LawPavilion/API/LFN.ashx";
    $(document).ready(function() {

        LoadFormAgreement();
        function LoadFormAgreement() {
            $(".content_content").hide();
            $.ajax({
                type: "POST",
                url: url_forms +"?rand="+randomString(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {

                    var strBuffer = "";
                    var parsed = $.parseJSON(JSON.stringify(data.Table_Data_1));
                    // $("#user_page2f").html(strBuffer);
                    $.each(parsed, function(i, jsondata) {
                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td class='text-primary' style='font-weight:bold; font-family:verdana; '><i class='fa fa-tag'></i> " + ucwords(jsondata.title, true) + "</td>" +
                            "<td class='text-success'><span class='badge'>" + ucwords(jsondata.type, true) + "</span></td>" +
                            "<td><button type='button' data-id='" + jsondata.pk + "' class='btn btn-xs btn-warning btn-block request_detail_link'><i class='fa fa-eye'></i>View</button></td>" +
                            "</tr>";

                        $("#form-list").append(strBuffer);
                    });
                    $("#form-list").DataTable();
                },
                error: function(XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    var errorMessage = err.Message;
                    alert(errorMessage);
                }
            });
        }


        $("#form-list").on('click', '.request_detail_link', function(e) {
            var tag = $(this).data("id");
            //  alert(tag);
            $("#accordion_regulationf").hide();
            $(".content_content").show();
            $.ajax({
                type: "POST",
                url: url_forms + "/" + tag,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //var strBuffer = "<div class='col-sm-12' style='padding:70px; border-color: #DDD;" +
                       // "border-style: solid;" +
                       // "border-width: 1px;text-align:justify;line-height:2; font-family:verdana;'><section id='form-content'></section></div>";

                    var parsed = $.parseJSON(JSON.stringify(data.Table_Data_1));
                   // $("#user_page2f").html(strBuffer);
                    $.each(parsed, function (i, jsondata) {
                         var strBuffer = "<!--<h2 style='text-align:center; font-family:verdana;'>" + jsondata.title + "</h2><br/>-->" +
                            "<div class='alert alert-success'><strong>TYPE: </strong>" + jsondata.type + "</div>" +
                            "<div class='alert alert-warning'><strong>NOTE: </strong>" + jsondata.notes + "</div>" +
                            "<p>" + jsondata.content + "</p>";


                        $("#form-content").append(strBuffer);
                        $("#stk-headingf").html("<i class='fa fa-briefcase fa-fw'></i> <strong style='font-family:verdana'>LAWPAVILION STK > FORMS AND AGREEMENT  > " + jsondata.title + "</strong><button class='btn btn-xs btn-warning pull-right form_back'  type='button'><i class='fa fa-chevron-left'></i><strong style='font-family:verdana;'> BACK TO FORMS LIST</strong></button>");
                    });


                    

                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    var errorMessage = err.Message;
                    alert(errorMessage);
                }
            });
        });

        $("#stk-headingf").on("click", ".form_back", function() {
          
            $(".content_content").hide();
            $("#accordion_regulationf").show();
            //$("#user_page2f").remove();
            $(".form_back").hide();
            LoadFormAgreement();
        });
    });


</script>
