﻿                <!--column for fullreport-->
<div id="contentview" class="col-lg-12">
    <div id="st-panel" class="panel panel-primary" style="margin-top: 10px;">

        <!-- /.displays Heading -->
        <div class="panel-heading" id="te-heading"></div>
        <div class="panel panel-default">
            <div data-name="fullreport" class="panel-body" style="height: 70vh; overflow-y: scroll; padding-right: 0px;"><span>Loading...</span></div>
            <!-- <h5 id="section">Section</h5>-->


            <div class="panel-footer clearfix">


                <div class="pull-right">


                    <!--<a data-name="button-summary" href="#" class="btn btn-primary">Read Full Judgment Summary</a>-->
                    <!--<a data-name="button-print" href="#" class="btn btn-default">Print</a>-->
                </div>
            </div>
        </div>


    </div>
</div>