﻿
<div class="page-wrapper" id="lpelr-wrapper" style="font-family:verdana;">
         
            <div class="row" style="margin-top:55px; margin-left:-25px; margin-right:-25px">
                <div class="col-lg-6"><button class="btn btn-danger"  id="report-back" onclick="navigateBack()"><i class="fa fa-arrow-circle-left"></i> Back</button></div>
                <div class="col-lg-7" style="padding:0px;"><input class="form-control" type="text" placeholder="Search LawPavilion" id="input-search"/></div>
                <div class="col-lg-1" style="padding-left:1px;"><button class="btn btn-success"  id="button-search"><i class="fa fa-search"></i> Search</button></div>
           
            </div>
           
            <!-- /.row -->

    

    
</div>
<span style="display: none;" id="span-report"></span>
<!--<link href="../../assets/css/jquery-ui.min.css" rel="stylesheet" />-->
<!--<link href="../../assets/css/jquery-ui.css" rel="stylesheet" type="text/css" />-->
<!--<script src="../../assets/js/search_autocomplete.js" type="text/javascript"></script>-->


<script type="text/javascript">


    (function () {


        $('#input-search').keypress(function (e) {

            if (e.keyCode === 13) {

                $('#button-search').trigger("click");
               
            }
        });


        $('#button-search').on('click', function() {

            var heading_row = "<div id='report_heading_row_search' class='row' style='margin-top:5px; margin-bottom:5px;margin-left:-25px; margin-right:-25px;'></div>";
            var content_row = "<div id='report_content_row' class='row'></div>";
            $("#table-lawreports").remove();
            $("#table-lawreports").remove();
            $("#panel-lawreports").remove();
            $('#report_content_row').remove();
            $('#report_heading_row').remove();

            $("#previous-page").remove();

            $('stk[id=stk-2]').hide();
            $('lpelr[id=lpelr-2]').show();
            $("cms").hide();


            $("#report_navigation_row").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();

            $("#lpelr-wrapper").append(heading_row);

            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/searchresult.htm");
            $('#prev').hide();
            $('#next').hide();

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var civil_procedure_rule = 0;
            var str_show = "";
            var searchText = $('#input-search').val();


            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "../LawPavilion/API/SearchIndex.ashx?rand=" +randomString(),
                    type: 'POST',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        var items = response;
                        if (items.length === 0) {
                            str_show = "<div class='alert alert-warning' style='margin-bottom: 0px;'><strong> No Results found</strong></div>";
                            $('#report_heading_row_search').show().html(str_show);
                            $('#prev').hide();
                            $('#nextbtn').hide();
                            $('#sidehide').hide();
                            //$('#sidehide').remove();
                        }


                        var fragment = "";
                        var i = 0;
                        response.sort(function(a, b) {
                            return a.rank - b.rank;
                        });


                        $.each(items, function(index, val) {

                            $('#prev').show();
                            $('#nextbtn').show();
                            str_show = "<div class='alert alert-warning' style='margin-bottom: 0px;'><strong> Results for : " + searchText + "</strong>   | <total> Abouts " + val.totalHits + " results </total></div>";
                            $('#report_heading_row_search').show().html(str_show);

                            var mYear = val.mYear; // year
                            var mTitle = val.mTitle; //title
                            var mNumber = val.mNumber; //suitno
                            var mContent = val.mContent; // full report
                            var rank = val.rank; // rank
                            var summary = val.summary; // summary
                            var tableName = val.tablename; // table name
                            var pk = val.identifier; //primary Key
                            var caseTitle2 = val.casetitle2;
                            var law = "";
                            var year = new Date(mYear);
                            var convertToYear = year.getFullYear();

                            if (tableName === "cases" || tableName === "analysis") {
                                law = " <strong id='fade' style='color: #EAC357;'> Supreme Court </strong>";
                            }

                            if (tableName === "cases_ca" || tableName === "analysis_ca") {

                                law = "<strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";
                            }
                            if (tableName === "cases_fhc" || tableName === "analysis_fhc") {

                                law = "<strong id='fade' style='color: #EAC357;'> Federal High Court </strong>";
                            }
                            if (tableName === "cases_tat" || tableName === "analysis_tat") {

                                law = "<strong id='fade' style='color: #EAC357;'> Tax </strong>";
                            }
                            if (tableName === "cases_nic" || tableName === "analysis_nic") {

                                law = "<strong id='fade' style='color: #EAC357;'> National </strong>";
                            }
                            if (tableName === "cases_states" || tableName === "analysis_states") {


                                law = "<strong id='fade' style='color: #EAC357;'> State </strong>";
                            }
                            if (tableName === "laws_sections") {


                                law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                            }
                            if (tableName === "subsidiaries_legislations") {


                                law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                            }
                            if (tableName === "CPR") {


                                law = "<strong id='fade' style='color: #EAC357;'> Civil Procedure Rule </strong>";
                            }
                            i += 1;
                            fragment += "<div id='push' class='list-group'> " +
                                "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' style='color:blue; font-weight:bold;'> &nbsp;" +
                                "<h6 class=''>"   + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                "</a> <br/>" +
                                "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                "</div>";
                        });

                        $("#panel-searchreports").show().html(fragment);

                    },
                    error: function(error) {
                       
                    }


                });
            } else {
                alert('Please enter at least 3 characters to search for');
            }
            //Count Data --- for supreme,Court of Appeal and soon.
            var jsonData = { 'search': searchText }

            jsonData = JSON.stringify(jsonData);
            $.ajax({
                url: "../LawPavilion/API/SearchCount.ashx",
                type: 'POST',
                data: jsonData,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(response) {

                    $.each(response, function(index, val) {


                        $('#prev').show();
                        $('#next').show();

                        var mYear = val.mYear; // year
                        var mTitle = val.mTitle; //title
                        var mNumber = val.mNumber; //suitno
                        var mContent = val.mContent; // full report
                        var rank = val.rank; // rank
                        var summary = val.summary; // summary
                        var tableName = val.tablename; // table name
                        var pk = val.identifier; //primary Key
                        var caseTitle2 = val.casetitle2;
                        var law = "";
                        var year = new Date(mYear);
                        var convertToYear = year.getFullYear();

                        if (tableName === "cases" || tableName === "analysis") {
                            supremeCourt++;

                            law = " <strong id='fade' style='color: #EAC357;'> Supreme Court </strong>";
                        }

                        if (tableName === "cases_ca" || tableName === "analysis_ca") {
                            appealCourt++;
                            law = "<strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";
                        }
                        if (tableName === "cases_fhc" || tableName === "analysis_fhc") {
                            fhc++;
                            law = "<strong id='fade' style='color: #EAC357;'> Federal High Court </strong>";
                        }
                        if (tableName === "cases_tat" || tableName === "analysis_tat") {
                            tat++;
                            law = "<strong id='fade' style='color: #EAC357;'> Tax </strong>";
                        }
                        if (tableName === "cases_nic" || tableName === "analysis_nic") {
                            nic++;
                            law = "<strong id='fade' style='color: #EAC357;'> National </strong>";
                        }
                        if (tableName === "cases_states" || tableName === "analysis_states") {

                            state++;
                            law = "<strong id='fade' style='color: #EAC357;'> State </strong>";
                        }
                        if (tableName === "laws_sections") {

                            lawsSections++;
                            law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                        }
                        if (tableName === "subsidiaries_legislations") {
                            subsidiary++;

                            law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                        }
                        if (tableName === "CPR") {
                            civil_procedure_rule++;

                            law = "<strong id='fade' style='color: #EAC357;'> Civil Procedure Rule </strong>";
                        }

                        if (supremeCourt === 0) {
                            $('#supremeLabel').hide();
                        } else {


                            $('#supremeLabel').show().html("Supreme Court (" + supremeCourt + ")");
                        }
                        if (appealCourt === 0) {
                            $('#courtofappealLabel').hide();
                        } else {

                            $('#courtofappealLabel').show().html("Court of Appeal (" + appealCourt + ")");
                        }
                        if (fhc === 0) {
                            $('#federalLabel').hide();
                        } else {
                            $('#federalLabel').show().html("Fed High Court (" + fhc + ")");
                        }
                        if (tat === 0) {
                            $('#TaxlLabel').hide();
                        } else {
                            $('#TaxlLabel').show().html("Tax (" + tat + ")");
                        }
                        if (nic === 0) {
                            $('#nationalLabel').hide();
                        } else {
                            $('#nationalLabel').show().html("National (" + nic + ")");
                        }
                        if (state === 0) {
                            $('#stateLabel').hide();
                        } else {
                            $('#stateLabel').show().html("State (" + state + ")");
                        }
                        if (lawsSections === 0) {
                            $('#laws_sections').hide();
                        } else {
                            $('#laws_sections').show().html("Laws Sections (" + lawsSections + ")");
                        }
                        if (subsidiary === 0) {
                            $('#subsidiary').hide();
                        } else {
                            $('#subsidiary').show().html("Subsidiaries Legislations (" + subsidiary + ")");
                        }
                        if (civil_procedure_rule === 0) {
                            $('#cpr').hide();
                        } else {
                            $('#cpr').show().html("Civil Procedure Rule (" + civil_procedure_rule + ")");
                        }
                        $('#sidehide').show();


                    });
                }
            });

        });



})();

    //get all the detaila and display it
    function Display(e) {
        alert(e);
    }


</script>
<!--<span style="display: none;" id="span-report"></span>

<script type="text/javascript">

    (function () {

        $('#button-search').click(function (e) {
            var heading_row = "<div id='report_heading_row_search' class='row' style='margin-top:5px; margin-bottom:5px;margin-left:-25px; margin-right:-25px;'></div>";
            var content_row = "<div id='report_content_row' class='row'></div>";
            $("#table-lawreports").remove();
            $("#table-lawreports").remove();
            $("#panel-lawreports").remove();
            $('#report_content_row').remove();
            $('#report_heading_row').remove();

            $("#previous-page").remove();
           
            $('stk[id=stk-2]').hide();
            $('lpelr[id=lpelr-2]').show();
            $("cms").hide();


            $("#report_navigation_row").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();

            $("#lpelr-wrapper").append(heading_row);

            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/searchresult.htm");
            $('#prev').hide();
            $('#next').hide();

            var supremeCourt = 0;
            var appealCourt = 0;
            var fhc = 0;
            var tat = 0;
            var nic = 0;
            var state = 0;
            var lawsSections = 0;
            var subsidiary = 0;
            var civil_procedure_rule = 0;
            var str_show = "";
            var searchText = $('#input-search').val();
            if (searchText != "") {
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);

                $.ajax({
                    url: "/LawPavilion/API/SearchIndex.ashx?search=" + searchText,
                    type: 'GET',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                       
                        var items = response;
                        
                        if (items.length === 0) {
                            str_show = "<div class='alert alert-warning' style='margin-bottom: 0px;'><strong> No Results for found</strong></div>";
                            $('#report_heading_row_search').show().html(str_show);
                            $('#prev').hide();
                            $('#nextbtn').hide();
                            $('#sidehide').hide();
                            $('#sidehide').remove();
                        }


                        var fragment = "";
                        items.sort(function(a, b) {
                            return a.rank - b.rank;
                        });


                        $.each(items, function(index, val) {

                            $('#prev').show();
                            $('#nextbtn').show();
                            str_show = "<div class='alert alert-warning' style='margin-bottom: 0px;'><strong> Results for : " + searchText + "</strong>   | <total> Abouts " + val.totalHits + " results </total></div>";
                            $('#report_heading_row_search').show().html(str_show);

                                var mYear = val.mYear; // year
                                var mTitle = val.mTitle; //title
                                var mNumber = val.mNumber; //suitno
                                var mContent = val.mContent; // full report
                                var rank = val.rank; // rank
                                var summary = val.summary; // summary
                                var tableName = val.tablename; // table name
                                var pk = val.identifier; //primary Key
                                var caseTitle2 = val.casetitle2;
                                var law = "";
                                var year = new Date(mYear); 
                                var convertToYear = year.getFullYear();
                            
                                if (tableName === "cases" || tableName === "analysis") {
                                   law = " <strong id='fade' style='color: #EAC357;'> Supreme Court </strong>";
                                }

                                if (tableName === "cases_ca" || tableName === "analysis_ca") {
                                   
                                    law = "<strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";
                                }
                                if (tableName === "cases_fhc" || tableName === "analysis_fhc") {
                                   
                                    law = "<strong id='fade' style='color: #EAC357;'> Federal High Court </strong>";
                                }
                                if (tableName === "cases_tat" || tableName === "analysis_tat") {
                                  
                                    law = "<strong id='fade' style='color: #EAC357;'> Tax </strong>";
                                }
                                if (tableName === "cases_nic" || tableName === "analysis_nic") {
                                  
                                    law = "<strong id='fade' style='color: #EAC357;'> National </strong>";
                                }
                                if (tableName === "cases_states" || tableName === "analysis_states") {

                                   
                                    law = "<strong id='fade' style='color: #EAC357;'> State </strong>";
                                }
                                if (tableName === "laws_sections") {

                                   
                                    law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                                }
                                if (tableName === "subsidiaries_legislations") {
                                  

                                    law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                                }
                                if (tableName === "CPR") {


                                    law = "<strong id='fade' style='color: #EAC357;'> Civil Procedure Rule </strong>";
                                }

                                fragment += "<div id='push' class='list-group'> " +
                                    "<a id='GetData' href='#' onclick='GetSummary(this)' data-url='../LawPavilion/API/FullReport.ashx?suitno=" + mNumber + "&table=" + tableName + "&pk=" + pk + "' class='list-group-item' style='color:blue; font-weight:bold;'> " +
                                    "<h6 class=''>" + caseTitle2 + " |  " + mNumber + "  |  " + "[" + convertToYear + " - " + law + "]" + " </h6>  " +
                                    "</a> <br/>" +
                                    "<p>" + "<strong style=color:green;>[" + searchText + "]</strong>  " + summary + "</p> <hr/> " +
                                    "</div>";
                        });
                               
                        $("#panel-searchreports").show().html(fragment);
                    
                    },
                        error: function(error) {
                            console.log(error);
                        }


                    });
                } else {
                    alert('Please enter at least 3 characters to search for');
                }
                //Count Data --- for supreme,Court of Appeal and soon.
                var jsonData = { 'search': searchText }

                jsonData = JSON.stringify(jsonData);
                $.ajax({
                    url: "/LawPavilion/API/SearchCount.ashx?search=" + searchText,
                    type: 'GET',
                    data: jsonData,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {

                        $.each(response, function (index, val) {

                            
                            $('#prev').show();
                            $('#next').show();

                           var tableName = val.tablename; // table name
                         
                            var law = "";
                           

                            if (tableName === "cases" || tableName === "analysis") {
                                supremeCourt = supremeCourt + 1;

                                law = " <strong id='fade' style='color: #EAC357;'> Supreme Court </strong>";

                            } 

                            else if (tableName === "cases_ca" || tableName === "analysis_ca") {
                                appealCourt = appealCourt + 1;
                                law = "<strong id='fade' style='color: #EAC357;'> Court of Appeal </strong>";
                            }
                           else if (tableName === "cases_fhc" || tableName === "analysis_fhc") {
                                fhc = fhc + 1;
                                law = "<strong id='fade' style='color: #EAC357;'> Federal High Court </strong>";
                            } 
                            else if (tableName === "cases_tat" || tableName === "analysis_tat") {
                                tat = tat + 1;
                                law = "<strong id='fade' style='color: #EAC357;'> Tax </strong>";
                            } 
                            if (tableName === "cases_nic" || tableName === "analysis_nic") {
                                nic = nic + 1;
                                law = "<strong id='fade' style='color: #EAC357;'> National </strong>";
                            } 
                            else if (tableName === "cases_states" || tableName === "analysis_states") {

                                state = state + 1;
                                law = "<strong id='fade' style='color: #EAC357;'> State </strong>";
                            } 
                            else if (tableName === "laws_sections") {

                                lawsSections = lawsSections + 1;
                                law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                            } 
                            else if (tableName === "subsidiaries_legislations") {
                                subsidiary = subsidiary + 1;

                                law = "<strong id='fade' style='color: #EAC357;'> Law of Federation </strong>";
                            } 
                            if (tableName === "CPR") {
                                civil_procedure_rule = civil_procedure_rule + 1;

                                law = "<strong id='fade' style='color: #EAC357;'> Civil Procedure Rule </strong>";
                            }

                            if (supremeCourt === 0) {
                                $('#supremeLabel').hide();
                            } else {

                                $('#supremeLabel').show();
                                $('#supremeLabel').html("Supreme Court (" + supremeCourt + ")");
                            }
                            if (appealCourt === 0) {
                                $('#courtofappealLabel').hide();
                            } else {
                                $('#courtofappealLabel').show();
                                $('#courtofappealLabel').html("Court of Appeal (" + appealCourt + ")");
                            }
                            if (fhc === 0) {
                                $('#federalLabel').hide();
                            } else {
                                $('#federalLabel').show();
                                $('#federalLabel').html("Fed High Court (" + fhc + ")");
                            }
                            if (tat === 0) {
                                $('#TaxlLabel').hide();
                            } else {
                                $('#TaxlLabel').show();
                                $('#TaxlLabel').html("Tax (" + tat + ")");
                            }
                            if (nic === 0) {
                                $('#nationalLabel').hide();
                            } else {
                                $('#nationalLabel').show().html("National (" + nic + ")");
                            }
                            if (state === 0) {
                                $('#stateLabel').hide();
                            } else {
                                $('#stateLabel').show().html("State (" + state + ")");
                            }
                            if (lawsSections === 0) {
                                $('#laws_sections').hide();
                            } else {
                                $('#laws_sections').show().html("Laws Sections (" + lawsSections + ")");
                            }
                            if (subsidiary === 0) {
                                $('#subsidiary').hide();
                            } else {
                                $('#subsidiary').show().html("Subsidiaries Legislations (" + subsidiary + ")");
                            }
                            if (civil_procedure_rule === 0) {
                                $('#cpr').hide();
                            } else {
                                $('#cpr').show().html("Civil Procedure Rule (" + civil_procedure_rule + ")");
                            }
                            $('#sidehide').show();


                        });
                    }
                });

        });

    })();

    //get all the detaila and display it
    function Display(e) {
        alert(e);
    }


       </script>-->