﻿<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="">
                        
                        <li><a href="#" class="surpreme_law" data-title="Supreme Court Judgments"><i class="fa fa-arrows-h"></i>Latest Supreme Court</a></li>
                        <li><a href="#" class="appeal_law" data-title="Court of Appeal Judgments" ><i class="fa fa-arrows-h"></i>Latest Appeal Court</a></li>
                        <li><a href="#" class="tat_law"  data-title ="Tax Appeal Tribunal Judgments" ><i class="fa fa-arrows-h"></i>Latest TAT Judgments</a></li>
                        <li><a href="#" class="nic_law"  data-title ="National Industrial Court Judgments"><i class="fa fa-arrows-h"></i>Latest NIC Judgments</a></li>
                        <li><a href="#" class="fhc_law"  data-title="Federal High Court Judgments"><i class="fa fa-arrows-h"></i>Latest FHC Judgments</a></li>
                        <!--<li><a href="#" class="ext-link" data-what="fullreport" data-court="state-lagos" data-linktype="stk-judgment" data-title ="Lagos State High Court Judgments" id="shc_link"><i class="fa fa-arrows-h"></i> Lagos State High Court Judgments</a></li>-->
                        <li><a href="#" class="state_law" data-title ="FCT High Court Judgments" id="A1"><i class="fa fa-arrows-h"></i>Latest FCT High Court Judgments</a></li>

                        <!--<li><a href="#" class="ext-link" id=""><i class="fa fa-list-ul fa-fw"></i> Laws of the Federation</a></li>-->
                        <li><a href="#" class="cpr" data-what="cpr" data-title="Civil Procedure Rules"><i class="fa fa-arrows-h"></i>Civil Procedure Rules</a></li>
                        <li><a href="#" class="lfn"  data-what="lfn" data-title="Laws of the Federation"><i class="fa fa-arrows-h"></i>Laws of the Federation</a></li>

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            
            <script>
                $('*[data-court]').unbind('click').on('click', function () {
                    loadCases($(this));
                });

//                $('*[data-what="cpr"]').unbind('click').on('click', function () {
//                    loadCPR();
//                });

//                $('*[data-what="lfn"]').unbind('click').on('click', function () {
//                    loadLFN();
//                });
            </script>


<script type="text/javascript">

    var url_reg = "../LawPavilion/API/Regulations.ashx";
    var url_forms = "../LawPavilion/API/Forms.ashx";
    var url_reports = "../LawPavilion/API/LawReports.ashx";
    var url_cpr = "../LawPavilion/API/CPR.ashx";
    var url_lfn = "../LawPavilion/API/LFN.ashx";
    var url_other_reports = "../LawPavilion/API/OtherLawReports.ashx";
    var strBuffer = "";


    var heading_row = "<div id='report_heading_row' class='row' style='margin-top:5px; margin-bottom:5px;margin-left:-25px; margin-right:-25px;'></div>";
    var content_row = "<div id='report_content_row' class='row'></div>";
    (function () {

        $(".lfn").on("click", function () {

            $("#report_navigation_row").remove();
            $("#lfn_report").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();
            $("#lpelr-wrapper").append(heading_row);
            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:0px;'><strong>Law of Federation</strong></div>");
            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/law_of_federation.htm");
            $('#prev').hide();
            $('#next').hide();


            $.ajax({
                url: url_other_reports + "?rand=" + randomString() + "&a=getLFN",
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed = $.parseJSON(JSON.stringify(data.LFN));
                  
                    var strBuffer = "";
                    $.each(parsed, function (i, jsonData) {
                        
                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                           
                            "<td>" + jsonData.name + "</td>" +
                            "<td>" + jsonData.last_amended + "</td>" +
                            "<td><button type='button' data-payload='" + JSON.stringify(jsonData) + "' class='btn btn-xs btn-primary btn-block btn-lfn'> View </button></td>" +
                         "</tr>";

                        $("#all-lfn > tbody").append(strBuffer);
                    });
                    $('#all-lfn').DataTable({ "bDeferRender": true });
                },
                error: function (xhr) {

                    alert("errr");
                }

            });



        });
     })();

    $(document).ready(function() {

        $(".cpr").on("click", function() {
            var url_other_reports = "../LawPavilion/API/OtherLawReports.ashx";
            $("#report_navigation_row").remove();
            $("#lfn_report").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();
            $("#lpelr-wrapper").append(heading_row);
            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:0px;'><strong>Civil Procedure Rule</strong></div>");
            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/civil_procedure.htm");
            $('#prev').hide();
            $('#next').hide();

            $.ajax({
                type: "POST",
                url: url_other_reports + "?rand=" + randomString() + "&a=getCPR",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    var parsed = $.parseJSON(JSON.stringify(data.CPR));

                    var strBuffer = "";
                    $.each(parsed, function (i, jsonData) {

                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +

                            "<td>" + jsonData.title + "</td>" +
                            "<td>" + jsonData.year + "</td>" +
                            "<td><button type='button' data-payload='" + JSON.stringify(jsonData) + "' class='btn btn-xs btn-primary btn-block btn-cpr'> View </button></td>" +
                         "</tr>";

                        $("#all-cpr > tbody").append(strBuffer);
                    });
                    $('#all-cpr').DataTable({ "bDeferRender": true });
                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    errorMessage = err.Message;
                    alert(errorMessage);
                }
            });
        });


        $(".surpreme_law").on("click", function (e) {
            e.preventDefault();
            $("#report_navigation_row").remove();
            $("#lfn_report").remove();
            $("#report_heading_row").html("");
            $("#report_content_row").html("");
            $("#lpelr-wrapper").append(heading_row);
            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:0px;'><strong>Supreme Court Law</strong></div>");
            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/supreme.htm");
            $('#prev').hide();
            $('#next').hide();


            $.ajax({
                type: "POST",
                url: url_other_reports + "?rand="+randomString()+ "&a=" + "getSupreme",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function(data) {
                    var parsed = $.parseJSON(JSON.stringify(data.aaData));
                    var strBuffer = "";
                    $.each(parsed, function (i, jsonData) {
                        var dd = jsonData.date.split('T')[0];
                        dd = dd.split('-');
                        dd = dd[2] + "-" + dd[1] + "-" + dd[0];
                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td>" + dd + "</td>" +
                            "<td>" + jsonData.suitno + "</td>" +
                            "<td>" + jsonData.case_title2 + "</td>" +
                            "<td>" + jsonData.desc + "</td>" +
                            "<td><button type='button' data-payload='" + JSON.stringify(jsonData) + "' class='btn btn-xs btn-primary btn-block btn-supreme'> View </button></td>" +
                         "</tr>";

                        $("#all-supreme > tbody").append(strBuffer);
                    });
                    $('#all-supreme').DataTable({ "bDeferRender": true });
                },
                error: function(XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    var errorMessage = err.Message;
                    alert(errorMessage);
                }
            });

        });

        //$('.surpreme_law').dataTable({

        //    "bProcessing": true,
        //    "bServerSide": true,
        //    "sAjaxSource": "../LawPavilion/API/OtherLawReports.ashx?rand=" + randomString() + "&a=" + "getSupreme"
        //});


        $(".fhc_law").on("click", function(e) {
            e.preventDefault();

            $("#report_navigation_row").remove();
            $("#lfn_report").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();
            $("#lpelr-wrapper").append(heading_row);
            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:0px;'><strong>Federal High Court </strong></div>");
            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/fhc.htm");
            $('#prev').hide();
            $('#next').hide();


            $.ajax({
                type: "POST",
                url: url_other_reports + "?rand=" + randomString() + "&a=" + "getFhc",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                   // console.log(data.FHC);
                    var parsed = $.parseJSON(JSON.stringify(data.FHC));
                    var strBuffer = "";
                    $.each(parsed, function(i, jsonData) {
                        var dd = jsonData.date.split('T')[0];
                        dd = dd.split('-');
                        dd = dd[2] + "-" + dd[1] + "-" + dd[0];
                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td>" + dd + "</td>" +
                            "<td>" + jsonData.suitno + "</td>" +
                            "<td>" + jsonData.case_title2 + "</td>" +
                            "<td>" + jsonData.desc + "</td>" +
                            "<td><button type='button' data-payload='" + JSON.stringify(jsonData) + "' class='btn btn-xs btn-primary btn-block btn-fhc'> View </button></td>" +
                         "</tr>";

                        $("#all-fhc > tbody").append(strBuffer);
                    });

                    $('#all-fhc').DataTable({"bDeferRender": true});
                },
                error: function(error) {

                }
            });
        });


        $(".nic_law").on("click", function (e) {

            e.preventDefault();
            $("#report_navigation_row").remove();
            $("#lfn_report").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();
            $("#lpelr-wrapper").append(heading_row);
            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:0px;'><strong>National Industrial Court </strong></div>");
            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/nic.htm");
            $('#prev').hide();
            $('#next').hide();


            $.ajax({
                type: "POST",
                url: url_other_reports + "?rand=" + randomString() + "&a=" + "getnic",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed = $.parseJSON(JSON.stringify(data.NIC));
                    var strBuffer = "";
                    $.each(parsed, function (i, jsonData) {
                        var dd = jsonData.date.split('T')[0];
                        dd = dd.split('-');
                        dd = dd[2] + "-" + dd[1] + "-" + dd[0];
                        var _desc = jsonData.desc;
                        var d = "";
                        if (_desc === null) {
                            d = "No Data";
                        } else {
                            d = jsonData.desc;
                        }
                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td>" + dd + "</td>" +
                            "<td>" + jsonData.suitno + "</td>" +
                            "<td>" + jsonData.case_title2 + "</td>" +
                            "<td>" + d + "</td>" +
                            "<td><button type='button' data-payload='" + JSON.stringify(jsonData) + "' class='btn btn-xs btn-primary btn-block btn-nic'> View </button></td>" +
                         "</tr>";

                        $("#all-nic > tbody").append(strBuffer);
                    });

                    $('#all-nic').DataTable({ "bDeferRender": true });
                },
                error: function (error) {

                }
            });
        });


        $(".tat_law").on("click", function (e) {

            e.preventDefault();
            $("#report_navigation_row").remove();
            $("#lfn_report").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();
            $("#lpelr-wrapper").append(heading_row);
            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:0px;'><strong>Tax Appeal Tribunal Judgments</strong></div>");
            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/tat.htm");
            $('#prev').hide();
            $('#next').hide();


            $.ajax({
                type: "POST",
                url: url_other_reports + "?rand=" + randomString() + "&a=" + "gettat",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed = $.parseJSON(JSON.stringify(data.TAT));
                    var strBuffer = "";
                    $.each(parsed, function (i, jsonData) {
                        var dd = jsonData.date.split('T')[0];
                        dd = dd.split('-');
                        dd = dd[2] + "-" + dd[1] + "-" + dd[0];
                        var _desc = jsonData.desc;
                        var d = "";
                        if (_desc === null) {
                            d = "No Data";
                        } else {
                            d = jsonData.desc;
                        }
                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td>" + dd + "</td>" +
                            "<td>" + jsonData.suitno + "</td>" +
                            "<td>" + jsonData.case_title2 + "</td>" +
                            "<td>" + d + "</td>" +
                            "<td><button type='button' data-payload='" + JSON.stringify(jsonData) + "' class='btn btn-xs btn-primary btn-block btn-tat'> View </button></td>" +
                         "</tr>";

                        $("#all-tat > tbody").append(strBuffer);
                    });

                    $('#all-tat').DataTable({ "bDeferRender": true });
                },
                error: function (error) {

                }
            });
        });


        $(".state_law").on("click", function (e) {

            e.preventDefault();
            $("#report_navigation_row").remove();
            $("#lfn_report").remove();
            $("#report_heading_row").remove();
            $("#report_content_row").remove();
            $("#lpelr-wrapper").append(heading_row);
            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:0px;'><strong>FCT High Court Judgments</strong></div>");
            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/states.htm");
            $('#prev').hide();
            $('#next').hide();


            $.ajax({
                type: "POST",
                url: url_other_reports + "?rand="+randomString() +"&a=" + "getstate",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed = $.parseJSON(JSON.stringify(data.STATES));
                    var strBuffer = "";
                    $.each(parsed, function (i, jsonData) {
                        var dd = jsonData.date.split('T')[0];
                        dd = dd.split('-');
                        dd = dd[2] + "-" + dd[1] + "-" + dd[0];
                        var _desc = jsonData.desc;
                        var d = "";
                        if (_desc === null) {
                            d = "No Data";
                        } else {
                            d = jsonData.desc;
                        }
                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td>" + dd + "</td>" +
                            "<td>" + jsonData.suitno + "</td>" +
                            "<td>" + jsonData.case_title2 + "</td>" +
                          
                            "<td><button type='button' data-payload='" + JSON.stringify(jsonData) + "' class='btn btn-xs btn-primary btn-block btn-state'> View </button></td>" +
                         "</tr>";

                        $("#all-state > tbody").append(strBuffer);
                    });

                    $('#all-state').DataTable({ "bDeferRender": true });
                },
                error: function (error) {

                }
            });
        });

       
        $(".appeal_law").on("click", function (e) {
            e.preventDefault();
            $("#report_navigation_row").remove();
            $("#lfn_report").remove();
            $("#report_heading_row").html("");
            $("#report_content_row").html("");
            $("#lpelr-wrapper").append(heading_row);
            $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:0px;'><strong>Court Of Appeal Law</strong></div>");
            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/appeal.htm");
            $('#prev').hide();
            $('#next').hide();


            $.ajax({
                type: "POST",
                url: url_other_reports + "?rand=" + randomString() + "&a=" + "getAppeal",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed = $.parseJSON(JSON.stringify(data.Appeal));
                    var strBuffer = "";
                    $.each(parsed, function (i, jsonData) {
                        var dd = jsonData.date.split('T')[0];
                        dd = dd.split('-');
                        dd = dd[2] + "-" + dd[1] + "-" + dd[0];
                        strBuffer = "<tr>" +
                            "<td>" + (i + 1) + "</td>" +
                            "<td>" + dd + "</td>" +
                            "<td>" + jsonData.suitno + "</td>" +
                            "<td>" + jsonData.case_title2 + "</td>" +
                            "<td>" + jsonData.desc + "</td>" +
                            "<td><button type='button' data-payload='" + JSON.stringify(jsonData) + "' class='btn btn-xs btn-primary btn-block btn-appeal'> View </button></td>" +
                         "</tr>";

                        $("#all-appeal-court > tbody").append(strBuffer);

                        //console.log(jsonData);
                    });
                    $('#all-appeal-court').DataTable({ "bDeferRender": true });
                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    var errorMessage = err.Message;
                    alert(errorMessage);
                }
            });


        });


    });

</script>