﻿<div class="page-wrapper">
         
            <div class="row">
                <div class="col-lg-12">
                    
                   
                </div>
                <!-- /.col-lg-12 -->
            </div>
           
            <!-- /.row -->
            <div id="" class="row">
                        <nav  id="stk-breadR" style="margin-top: 80px;">
                             <!--<ul class="breadcrumb">
                                <li><a href="#">Agencies</a></li>
                                <li><a href="#">Categories</a></li>
                                <li class="active"></li>
                            </ul>-->
                        </nav>
                <div id="stk-panelR" class="panel panel-primary" style="margin-top: 10px;">

                        <!-- /.displays Heading -->
                    <div class="panel-heading" id="stk-headingR">
                        <i class='fa fa-briefcase fa-fw'></i> <strong style='font-family:verdana'>LAWPAVILION STK > REGULATIONS</strong>
                    </div>
                        <!--  -->


                   

                        
                        <!-- /.panel-heading -->
                        <div id="user_page2R" class="panel-body" style="height:75vh;  overflow-y: scroll;">
                            <div class="panel-group" id="accordion_regulationR" role="tablist" aria-multiselectable="false">

                                <!--<div class='panel panel-primary'>
                                 
                                    <div class='panel-heading' data-toggle='tooltip' role='tab' id=''>
                                        <h4 class='panel-title'>
                                            <a class='collapsed accord load_data' tag='agency' role='button' data-toggle='collapse' data-parent='#accordion' href='#' aria-expanded='false' aria-controls='collapseTwo'>
                                               <i class='fa fa-minus-square-o'></i> 
                                            </a>
                                        </h4>
                                    </div><div aria-expanded='false' id='' class='panel-collapse collapse agency' role='tabpanel' aria-labelledby='headingTwo'>
                                        <div class='panel-body' tag=''></div>
                                    </div>
                                </div>-->
                         
                            </div>


                           
                    </div>
                       <div class="panel-footer clearfix">
                            <div class="pull-left" id="stk_buttons-left">
                            <a href="#" class="btn btn-default">Note</a>
                                <a href="#" class="btn btn-primary">Relevant Laws</a>
                                <a href="#" class="btn btn-default">Relevant Cases</a>
                                <a href="#" class="btn btn-default">Required Clauses</a>
                            </div>
                            <div class="pull-right" id="stk-buttons-right">
                                <a href="#" class="btn btn-primary">Edit</a>
                                <a href="#" class="btn btn-primary">Print</a>
                       </div>
                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->
        </div>
    

    
</div>
    </div>

<script type="text/javascript">
    
    var url_reg = "../LawPavilion/API/Regulations.ashx";
    var url_forms = "../LawPavilion/API/Forms.ashx";
    var url_reports = "../LawPavilion/API/LawReports.ashx";
    var url_cpr = "../LawPavilion/API/CPR.ashx";
    var url_lfn = "../LawPavilion/API/LFN.ashx";
    $(document).ready(function() {

        loadAgencies();
        function loadAgencies() {
            //$("#user_page2f").remove();
            //$('stk[id=stk-2]').show();
            //$('lpelr[id=lpelr-2]').hide();
            $("#user_page2R").html("<div class='panel-group' id='accordion_regulationR' role='tablist' aria-multiselectable='false'></div>")
            $("#stk-headingR").html("<i class='fa fa-briefcase fa-fw'></i><strong style='font-family:verdana;'> LAWPAVILION STK > REGULATIONS</strong>");
            $.ajax({
                type: "POST",
                url: url_reg + "?rand=" + randomString(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var strBuffer = "";
                    var parsed = $.parseJSON(JSON.stringify(data.Table_Data_1));
                    $.each(parsed, function (i, jsondata) {
                        strBuffer = "<div class='panel panel-primary'>" +
     "<div class='panel-heading' title='" + jsondata.fullname + "' data-toggle='tooltip' role='tab' id=''>" +
         "<h4 class='panel-title'>" +
             "<a onclick='loadCategories(this)' class='collapsed accord load_data' tag='agency' role='button' data-toggle='collapse' data-parent='#accordion' href='#" + jsondata.acronym + "' aria-expanded='false' aria-controls='collapseTwo'>" +
                 "<i class='fa fa-minus-square-o'></i> " +
                 jsondata.fullname +
             "</a>" +
           "</h4>" +
    "</div>" +
    "<div aria-expanded='false' id='" + jsondata.acronym + "' class='panel-collapse collapse agency'  role='tabpanel' aria-labelledby='headingTwo'>" +
         "<div class='panel-body' tag='" + jsondata.acronym + "'></div>" +
    "</div>" +
  "</div>";
                        $("#accordion_regulationR").append(strBuffer);
                    });
                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    errorMessage = err.Message;
                    alert(errorMessage);
                }
            });
        }

        $("#accordion_regulationR").on("click", ".data_content", function (e) {
            var tag = $(this).attr("id");
            //alert(tag);
            
            var others = tag.split("/");
            $.ajax({
                type: "POST",
                url: url_reg + "/" + tag,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var strBuffer = "<section id='regulation-content' style='padding:20px'></section>";

                    var parsed = $.parseJSON(JSON.stringify(data.Table_Data_1));
                    $("#user_page2R").html(strBuffer);
                    $.each(parsed, function (i, jsondata) {
                        strBuffer = "<h2 style='text-align:center;'>" + jsondata.title + "</h2><br/>" +
                             "<p style='text-align:center'>" + jsondata.short_title + "</p>" +
                             "<p style='font-family: verdana; text-align:justify;line-height:2'>" + jsondata.long_title + "</p>" +
                             "<p style='font-family: verdana; text-align:justify;line-height:2'>" + jsondata.front_matter + "</p>" +
                             "<p style='font-family: verdana; text-align:justify;line-height:2'>" + jsondata.content + "</p>" +
                             "<p style='font-family: verdana; text-align:justify;line-height:2'>" + jsondata.end_matter + "</p>" +
                             "<p style='font-family: verdana; text-align:justify;line-height:2'>" + jsondata.schedule + "</p>";

                        $("#regulation-content").append(strBuffer);
                        $("#stk-headingR").html("<i class='fa fa-briefcase fa-fw'></i> " + jsondata.title + "<button class='btn btn-xs btn-warning pull-right load_back'  type='button' onclick='loadAgencies()'><i class='fa fa-chevron-left'></i> BACK TO AGENCIES</button>");
                    });
                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    errorMessage = err.Message;
                    alert(errorMessage);
                }
            });
          
        });
        function loadCategories(e) {
            var tag = $(e).attr("href").replace("#", "");
            $.ajax({
                type: "POST",
                url: url_reg + "/" + tag,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var strBuffer = "";
                    var parsed = $.parseJSON(JSON.stringify(data.Table_Data_1));
                    $("div[tag=" + tag + "]").html('');
                    $("div[tag=" + tag + "]").append("<div class='list-group'>");
                    $.each(parsed, function (i, jsondata) {
                        strBuffer = "<a style='font-family: verdana;'  href='#' class='list-group-item data_content' id='" + tag + "/" + jsondata.type + "/" + jsondata.pk + "'><span class='badge'>" + jsondata.type + "</span> " + jsondata.title + "</a>";
                        //strBuffer = "<a onclick='loadContent(this)' href='#' id='" + tag + "/" + jsondata.type + "/" + jsondata.pk + "'><p style='font-family: verdana; text-decoration:underline;' class='text-danger'><i class='fa fa-caret-right'></i> " + jsondata.title + " <small class='text-info'>(" + jsondata.type + ")</small></p></a>";
                        $("div[tag=" + tag + "]").append(strBuffer);
                    });
                    $("div[tag=" + tag + "]").append("</div>");
                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    errorMessage = err.Message;
                    alert(errorMessage);
                }
            });
            //alert();
        }

       


        $("#regulation-list").on('click', '.request_detail_link', function(e) {
            var tag = $(this).data("id");
            //  alert(tag);
            $("#accordion_regulation").hide();
            $(".content_content").show();
            $.ajax({
                type: "POST",
                url: url_forms + "/" + tag,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    //var strBuffer = "<div class='col-sm-12' style='padding:70px; border-color: #DDD;" +
                       // "border-style: solid;" +
                       // "border-width: 1px;text-align:justify;line-height:2; font-family:verdana;'><section id='form-content'></section></div>";

                    var parsed = $.parseJSON(JSON.stringify(data.Table_Data_1));
                   // $("#user_page2f").html(strBuffer);
                    $.each(parsed, function (i, jsondata) {
                         var strBuffer = "<!--<h2 style='text-align:center; font-family:verdana;'>" + jsondata.title + "</h2><br/>-->" +
                            "<div class='alert alert-success'><strong>TYPE: </strong>" + jsondata.type + "</div>" +
                            "<div class='alert alert-warning'><strong>NOTE: </strong>" + jsondata.notes + "</div>" +
                            "<p>" + jsondata.content + "</p>";


                        $("#form-content").append(strBuffer);
                        $("#stk-headingf").html("<i class='fa fa-briefcase fa-fw'></i> <strong style='font-family:verdana'>LAWPAVILION STK > FORMS AND AGREEMENT  > " + jsondata.title + "</strong><button class='btn btn-xs btn-warning pull-right form_back'  type='button'><i class='fa fa-chevron-left'></i><strong style='font-family:verdana;'> BACK TO FORMS LIST</strong></button>");
                    });


                    

                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    var errorMessage = err.Message;
                    alert(errorMessage);
                }
            });
        });

        $("#stk-headingR").on("click", ".load_back", function () {
            loadAgencies();
        });
    });


</script>
