﻿<table class="table table-striped table-bordered table-hover no-footer" id="" role="grid">
                        <thead style="background-color: #337ab7;color: white;">
                            <tr role="row">
                                <th>#</th>
                                <th>Agency</th>
                                <th>Type</th>
                                <th style="width: 260px;">Title</th>
                                <th>Year</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="regulation-list"></tbody>
                    </table>



                    <button type="button"  data-process_id="" data-id="" data_url="" class="btn btn-sm request_detail_link">View</button>