﻿<div class='col-lg-12'>
    <div class='panel panel-default'>
        <div class='panel-body' id='panel-lawreports' style='height: 70vh; overflow-y: scroll;'>


            <!--<span>Loading...</span>-->
            
        </div>
            <div class='panel-footer clearfix'>
                <div class='pull-right'>
                    <ul class='pagination' id="report-pagination"></ul>
                </div>
             </div>
       </div>
    </div>
