﻿<div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav">
                        
                        <li><a id="form-link" href="#" class="ext-link" id="forms_link"><i class="fa fa-arrows-h"></i> Forms and Agreements</a></li>
                        <li><a id="reg-link" href="#" class="ext-link"><i class="fa fa-arrows-h"></i> Regulations</a></li>
                        <!--<li><a href="#" class="ext-link" data-what="fullreport" data-court="tat" data-linktype="stk-judgment" data-title="Tax Appeal Tribunal Judgments" id="tat_link"><i class="fa fa-arrows-h"></i> TAT Judgments</a></li>
                        <li><a href="#" class="ext-link" data-what="fullreport" data-court="nic" data-linktype="stk-judgment" data-title="National Industrial Court Judgments" id="nic_link"><i class="fa fa-arrows-h"></i> NIC Judgments</a></li>
                        <li><a href="#" class="ext-link" data-what="fullreport" data-court="fhc" data-linktype="stk-judgment" data-title="Federal High Court Judgments" id="fhc_link"><i class="fa fa-arrows-h"></i> FHC Judgments</a></li>
                        <li><a href="#" class="ext-link" data-what="fullreport" data-court="state-lagos" data-linktype="stk-judgment" data-title="Lagos State High Court Judgments" id="shc_link"><i class="fa fa-arrows-h"></i> Lagos State High Court Judgments</a></li>
                        <li><a href="#" class="ext-link" data-what="fullreport" data-court="state-abuja" data-linktype="stk-judgment" data-title="FCT High Court Judgments" id="A1"><i class="fa fa-arrows-h"></i> FCT High Court Judgments</a></li>-->

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>

            <script>
    $("#reg-link").unbind('click').on('click', function () {

        loadAgencies();

    });

    $("#form-link").unbind('click').on('click', function () {
        $("#user_page2").html("<div class='panel-group' id='accordion_regulation' role='tablist' aria-multiselectable='false'></div>")
        loadForms();

    });

    $('*[data-court]').unbind('click').on('click', function () {
        // alert($(this).data("title"));
        //load  lpelr2.htm into frontend

        loadCases($(this));


    });



</script>


          
            <!--<script>
                $("#reg-link").unbind('click').on('click', function () {
                    
                    //  loadAgencies();
                    $("#user_page2R").html("<div class='panel-group' id='accordion_regulationR' role='tablist' aria-multiselectable='false'></div>")
                    // loadForms();
                    //  $('stk[id=stk-2]').show();
                    //$('stk[id=stk-2]').show();
                    $('lpelr[id=lpelr-2]').hide();
                    $("#stk-breadR").hide();
                    $("#stk-panelR").css("margin-top", "80px");

                    //$("#stk-headingf").html("<i class='fa fa-briefcase fa-fw'></i> <strong style='font-family:verdana'>LAWPAVILION STK > FORMS AND AGREEMENT</strong>");
                    $("#user_page2R").html("<h5><strong>Loading...</strong></h5>");

                    $("#stk-2").load("../Lawpavilion/Components/regulations.htm");

                });

                $("#form-link").unbind('click').on('click', function () {

                    $("#user_page2f").html("<div class='panel-group' id='accordion_regulation' role='tablist' aria-multiselectable='false'></div>")
                   // loadForms();
                    //  $('stk[id=stk-2]').show();
                    //$('stk[id=stk-2]').show();
                    $('lpelr[id=lpelr-2]').hide();
                    $("#stk-breadf").hide();
                    $("#stk-panelf").css("margin-top", "80px");

                    //$("#stk-headingf").html("<i class='fa fa-briefcase fa-fw'></i> <strong style='font-family:verdana'>LAWPAVILION STK > FORMS AND AGREEMENT</strong>");
                    $("#user_page2f").html("<h5><strong>Loading...</strong></h5>");
                   
                    $("#stk-2").load("../Lawpavilion/Components/forms.htm");
                    
                });

                $('*[data-court]').unbind('click').on('click', function () {
                    // alert($(this).data("title"));
                    //load  lpelr2.htm into frontend
                    
                  //  loadCases($(this));


                });

              
            
            </script>-->