﻿<div class="page-wrapper">

    <div class="row">
        <div class="col-lg-12">


        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div id="" class="row">
        <nav id="stk-bread" style="margin-top: 80px;">
            <ul class="breadcrumb">
                <li><a href="#">Agencies</a></li>
                <li><a href="#">Categories</a></li>
                <li class="active"></li>
            </ul>
        </nav>
        <div id="stk-panel" class="panel panel-primary" style="margin-top: 10px;">

            <!-- /.displays Heading -->
            <div class="panel-heading" id="stk-heading"></div>
            <!--  -->
            <!-- /.panel-heading -->
            <div id="user_page2" class="panel-body" style="height:75vh;  overflow-y: scroll;">
                <div class="panel-group" id="accordion_regulation" role="tablist" aria-multiselectable="false">Loading...</div>

                <!-- /.panel-body -->
            </div>
            <!--<div class="panel-footer clearfix">
                <div class="pull-left" id="stk_buttons-left">
                    <a href="#" class="btn btn-default">Note</a>
                    <a href="#" class="btn btn-primary">Relevant Laws</a>
                    <a href="#" class="btn btn-default">Relevant Cases</a>
                    <a href="#" class="btn btn-default">Required Clauses</a>
                </div>
                <div class="pull-right" id="stk-buttons-right">
                    <a href="#" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-primary">Print</a>
                </div>
              
            </div>-->
            <!-- /.row -->
        </div>



    </div>


