﻿<div id="search_res" class='col-lg-12'>
    <div class='panel panel-default'>
        <!-- <div id='report_heading_row' class='row' style='margin-top: 5px; margin-bottom: 5px; margin-left: -25px; margin-right: -25px;'>
            <div class="alert alert-warning" style="margin-bottom: 0px;">
                <strong id="search_title"></strong>
                <total id="total_result"></total>
                <desc class="text-primary" id="desc_result"></desc>
            </div>
        </div>
        -->
        <div class='panel-body' id='supreme-panel-searchreport' style='height: 70vh; overflow-y: scroll;'>

            <table class="table table-bordered table-striped table-hover col-md-12" id='all-supreme'>
                <thead>
                <tr>
                    <th>#</th>
                    <th>RELEASE DATE</th>
                    <th>SUIT NO</th>
                    <th>TITLE</th>
                    <th>CITATION</th>
                    <th class="col-md-1">Action</th>
                </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>

        </div>


    </div>
</div>
<script src="../../Scripts/jquery-3.0.0.min.js"></script>
<script src="../../Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {

        $("#all-supreme").on('click', '.btn-supreme', function (e) {
            e.preventDefault();
            var payload = $(this).data('payload');
           
            var suitno = payload.suitno;
            $("#report-back").show();
            $("#report_heading_row_search").html("");
           
            var url_reports = "../LawPavilion/API/LawReports.ashx";


            var myUrl = $(e).data("url");
            $("#report_navigation_row").remove();
            $("#report_heading_row").html("");
            $("#report_content_row").html("");
            $("#lpelr-wrapper").html("");
            $("#lpelr-wrapper").append(heading_row);

            $("#lpelr-wrapper").append(content_row);
            $("#report_content_row").load("../Lawpavilion/Components/supreme_reportcontent.htm");
            $("#lpelr-wrapper").append("<div class='row' id='previous-page' style='display:none;'>" + temp + "</div>");
            $.ajax({
                type: "POST",
                url: url_reports + "/" + "supreme/fullreport/suitno?" + suitno,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed = $.parseJSON(JSON.stringify(data.Table_Data_1));
                    $('[data-name="fullreport"]').html("");
                    $.each(parsed, function (i, jsondata) {
                        $("#report_heading_row").html("");
                        $("#report_heading_row").append("<div class='alert alert-warning' style='margin-bottom:5px;'><strong>" + jsondata.case_title2 + "</strong> |<span class='text-success'> <strong>" + jsondata.suitno + "</strong></span> | <span class='text-danger'><strong>" + getCourt($("#span-report").data("court")) + "</strong></span>     <button class='btn btn-xs btn-primary pull-right' id='supremeback' type='button'><i class='fa fa-chevron-left'></i><strong style='font-family:verdana;'> BACK TO SUPREME COURT LIST</strong></button>      </div>");

                        $('[data-name="fullreport"]').append("<h5 style='color:red; text-align:center; font-weight:bold;'>" + jsondata.case_title2.toUpperCase() + "</h5>");

                        $('[data-name="fullreport"]').append("<p style='color:green; text-align:center; font-weight:bold;'>CITATION: " + emptyNull(jsondata.citation).toUpperCase() + "</p>");
                        $('[data-name="fullreport"]').append("<p style='text-align:center; font-weight:bold;'><img src='../Lawpavilion/Assets/images/coa.jpg'/></p>");
                        $('[data-name="fullreport"]').append("<p style='text-align:center; color:blue; font-weight:normal;'>" + coverDesc($("#span-report").data("court"), jsondata) + "</p>");
                        $('[data-name="fullreport"]').append("<p style='text-align:center; color:blue; font-weight:normal;'>ON " + jsondata.release_date.toUpperCase() + "</p>");
                        $('[data-name="fullreport"]').append("<p style='text-align:center; color:red; font-weight:bold;'>Suit No: " + jsondata.suitno.toUpperCase() + "</p>");
                        $('[data-name="fullreport"]').append("<p style='text-align:center; color:blue; font-weight:normal;'>Before their Lordships:</p>");
                        $('[data-name="fullreport"]').append("<div style='display:block; text-align:center; color:blue; font-weight:normal;'></div>");
                        if (typeof (jsondata.judge1) != "undefined" && jsondata.judge1 !== null && jsondata.judge1 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block; text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge1 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge2) != "undefined" && jsondata.judge2 !== null && jsondata.judge2 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge2 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge3) != "undefined" && jsondata.judge3 !== null && jsondata.judge3 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge3 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge4) != "undefined" && jsondata.judge4 !== null && jsondata.judge4 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge4 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }


                        if (typeof (jsondata.judge5) != "undefined" && jsondata.judge5 !== null && jsondata.judge5 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge5 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }


                        if (typeof (jsondata.judge6) != "undefined" && jsondata.judge6 !== null && jsondata.judge6 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge6 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge7) != "undefined" && jsondata.judge7 !== null && jsondata.judge7 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge7 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        if (typeof (jsondata.judge8) != "undefined" && jsondata.judge8 !== null && jsondata.judge8 !== "") {
                            $('[data-name="fullreport"]').append("<div class='row' style='display:block;text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + jsondata.judge8 + "</span><span class='col-md-6 '>" + justiceTitle($("#span-report").data("court")) + "</span></div>");
                        }

                        $('[data-name="fullreport"]').append("<div style='display:block; text-align:center; color:blue; font-weight:bold;'>Between</div>");

                        if (typeof (jsondata.parties) != "undefined") {
                            var parties = jsondata.parties.split(" v ");
                        } else {
                            var parties = "Appellant(s) v Respondent(s)".split(" v ");
                        }
                        $('[data-name="fullreport"]').append("<div class='row' style='display:block; text-align:left; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + nl2br(jsondata.appelant) + "</span><span class='col-md-6' style='font-weight:bold;text-align:right'>" + parties[0] + "</span></div>");
                        $('[data-name="fullreport"]').append("<div class='row' style='display:block; text-align:center; color:blue; font-weight:bold;'>And</div>");
                        $('[data-name="fullreport"]').append("<div class='row' style='display:block; text-align:center; color:blue; font-weight:normal; padding-left:60px; padding-right:60px;'><span class='col-md-6' style='text-align:left;'>" + nl2br(jsondata.defendant) + "</span><span class='col-md-6' style='font-weight:bold;text-align:right'>" + parties[1] + "</span></div>");
                        $('[data-name="fullreport"]').append("<div class='row'><hr/></div>");
                        $('[data-name="fullreport"]').append("<div class='row' style='display:block; padding-left:60px;text-align:left; color:red; font-weight:bold;'>RATIO DECIDENDI</div>");
                        $('[data-name="fullreport"]').append("<div class='row' id='div-principle' style='padding-left:60px; padding-right:60px; text-align:justify; display:block;'></div>");
                        //getRatios(myUrl);
                        $('[data-name="fullreport"]').append("<div class='row'><hr/></div>");
                        $('[data-name="fullreport"]').append("<div class='row' style='padding-right:60px;padding-left:60px;text-align:justify; font-weight:normal; line-height:2;color:#0E3BBC;'>" + jsondata.fullreport_html + "</div>");

                        $.ajax({
                            type: "POST",
                            url: url_reports + "/" + "supreme" + "/principle/suitno?" + suitno,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (data) {
                                var parsed2 = $.parseJSON(JSON.stringify(data.Table_Data_1));
                                $('[data-name="principle"]').html("");
                                $.each(parsed2, function (i, jsondata) {
                                    $('#div-principle').append("<span>" + (i + 1) + ". </span><span style='color:#990000;font-weight:bold'>" + jsondata["legal head"] + "</span> - " +
                                        "<span style='color:#009933;font-weight:bold'>" + jsondata["subjectmatter"] + "</span>:" +
                                        "<span style='color:#009933;font-weight:normal'>" + jsondata["issues1"] + "</span><br/>" +
                                        "<span style='color:#000099;font-weight:normal'>" + jsondata["principle"] + "</span><br/><br/>"
                                        );

                                    //list out principles
                                    $('[data-name="principle"]').append("<div class='bs-callout bs-callout-primary'><span style='color:#990000;font-weight:bold'>" + jsondata["legal head"] + " - </span><span style='color:green;font-weight:bold;'>" + jsondata["subjectmatter"] + ": <span><span style='color:blue;font-weight:normal;'>" + jsondata["issues1"] + " <span><a style='color:red;text-decoration:underline;' href='#" + jsondata.pk + "'>read in context</a></div>");

                                });


                            },
                            error: function (XHR, errStatus, errorThrown) {
                                var err = JSON.parse(XHR.responseText);
                              var  errorMessage = err.Message;
                                alert(errorMessage);
                            }
                        });
                    });

                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    var errorMessage = err.Message;
                    alert(errorMessage);
                }

            });
        });

        $('body').on('click', '#supremeback', function (e) {

            $(".surpreme_law").trigger("click");
        });
        function emptyNull(str) {
            if (str == null) {
                str = "";
            }
            return str;
        }


        function coverDesc(court, data) {
            var result;
            switch (court) {
                case "supreme":
                    result = "In the Supreme Court of Nigeria";
                    break;
                case "appeal":
                    result = "In the Court of Appeal<br/>In the " + data.division + "Judicial Division<br/>Holden at " + data.division;
                    break;
                case "fhc":
                    result = "In The Federal High Court of Nigeria<br/>Holden at " + data.division;
                    break;
                case "nic":
                    result = "In The National Industrial Court of Nigeria<br/>Holden at " + data.division;
                    break;
                case "tat":
                    result = "In the Tax Appeal Tribunal";
                    break;
                case "state-lagos":
                case "state-abuja":
                    result = "In The High Court of " + data.state + "<br/>In the " + data.state + " Judicial Division<br/>Holden at " + data.state;
                    break;
                default:
                    result = "";
                    break;
            }
            return ucwords(result, true);
        }

        function justiceTitle(court) {
            switch (court) {
                case "supreme":
                    return "Justice of the Supreme Court";

                case "appeal":
                    return "Justice, Court of Appeal";

                case "fhc":
                    return "Justice, Federal High Court";

                case "nic":
                    return "Hon. Justice";

                case "tat":
                    return "Commissioner";

                case "state-lagos":
                case "state-abuja":
                    return "Justice, State High Court";

                default:
                    return "";
            }

        }


        function getRatios(myUrl) {
            //load principles
            //===================================================================
            $.ajax({
                type: "POST",
                url: url_reports + "/" + "fhc" + "/principle/suitno?" + myUrl.split('?')[1],
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    var parsed2 = $.parseJSON(JSON.stringify(data.Table_Data_1));
                    $('[data-name="principle"]').html("");
                    $.each(parsed2, function (i, jsondata) {
                        $('#div-principle').append("<span>" + (i + 1) + ". </span><span style='color:#990000;font-weight:bold'>" + jsondata["legal head"] + "</span> - " +
        "<span style='color:#009933;font-weight:bold'>" + jsondata["subjectmatter"] + "</span>:" +
        "<span style='color:#009933;font-weight:normal'>" + jsondata["issues1"] + "</span><br/>" +
        "<span style='color:#000099;font-weight:normal'>" + jsondata["principle"] + "</span><br/><br/>"
        );

                        //list out principles
                        $('[data-name="principle"]').append("<div class='bs-callout bs-callout-primary'><span style='color:#990000;font-weight:bold'>" + jsondata["legal head"] + " - </span><span style='color:green;font-weight:bold;'>" + jsondata["subjectmatter"] + ": <span><span style='color:blue;font-weight:normal;'>" + jsondata["issues1"] + " <span><a style='color:red;text-decoration:underline;' href='#" + jsondata.pk + "'>read in context</a></div>");

                    });


                },
                error: function (XHR, errStatus, errorThrown) {
                    var err = JSON.parse(XHR.responseText);
                    errorMessage = err.Message;
                    alert(errorMessage);
                }
            });


            //==================================================================       
        }

        function nl2br(str, is_xhtml) {
            var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
            return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1' + breakTag + '$2');
        }

        function getCourt(court) {
            switch (court) {
                case "supreme":
                    return "Supreme Court";
                case "appeal":
                    return "Court of Appeal";
                case "nic":
                    return "National Industrial Court";
                case "tat":
                    return "Tax Appeal Tribunal";
                case "fhc":
                    return "Federal High Court";
                case "state-abuja":
                    return "FCT High Court";
                case "state-lagos":
                    return "Lagos State High Court";
                default:
                    return "";
            }

        }

        function navigateBack(e) {
            var temp = $("#previous-page").html();
            //$("#report_content_row").load("../Lawpavilion/Components/reportlist.htm");
            //alert($(e).data("url"));
            //loadList(e);
            $("#lpelr-wrapper").html(temp);
            $("#report-back").hide();
        }

    });
</script>