﻿                <!--column for fullreport-->
<div id="contentview" class="col-lg-9">
    
    <div class="panel panel-default">
        <div data-name="fullreport" class="panel-body" style="height: 70vh; overflow-y: scroll; padding-right: 0px;"><span>Loading...</span></div>
        <!-- <h5 id="section">Section</h5>-->


        <div class="panel-footer clearfix">


            <div class="pull-right">


                <!--<a data-name="button-summary" href="#" class="btn btn-primary">Read Summary</a>
                <a data-name="button-print" href="#" class="btn btn-default">Print</a>-->
            </div>
        </div>
    </div>


</div>
                <!--column for principle-->
                <div id="principle_col" class="col-lg-3">
                <div class="panel panel-default">
                <div class="panel-heading"><span style="color:red;font-weight:bold">RATIO DECIDENDI</span></div>
                        <div data-name="principle" class="panel-body" style="height:70vh; overflow-y:scroll; padding-left:0px;padding-right:0px;font-size:12px;"><span>Loading...</span></div>
                           
                    </div>
                
                </div>