﻿<style type="text/css">
    .Container {
        text-align: center;
    }

        .Container:before {
            content: '';
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }

    .Content {
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 50px;
    }
</style>
<div class='col-lg-12'>
    <div class='panel panel-default'>
        <div class='panel-body' id='updates-panel-lawreports' style='height: 100vh;'>
            <div class="Container">
                <div class="Content">
                    <img src="../assets/images/official-logo.png" style="height: 200px; width: 500px; margin: 20px;" />
                </div>
            </div>
        </div>
            
       </div>
    </div>
