﻿<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false">
    <div class="panel panel-primary">                    
        <div class="panel-heading" title="Receive Order" data-toggle="tooltip" role="tab" id="headingTwo">                      
            <h4 class="panel-title">                        
                <a class="accord" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse78" aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-minus-square-o"></i>                          
                    Receive order - #Tunde Alonge                        
                 </a>                        
                 <span class="label label-danger pull-right">0mins</span>                        
                 <span class="label label-warning pull-right">Sat, 19 Sep 2015 11:22:10 GMT</span>                      
             </h4>                    
             </div>                    
                <div style="" data-loaded="1" aria-expanded="true" data-id="78" id="collapse78" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo"> 
                    <div class="panel-body">
                        <div class="well well-sm">					
                            <label for="">Suit no</label>				    
                            <div>Ca/34/2015</div>				  
                        </div>
                        <div class="well well-sm">					
                            <label for="">Judgement sum</label>				   
                            <div>300000000</div>				  
                        </div>
                        <div class="well well-sm">					
                            <label for="">Name of parties</label>				    
                            <div>Suleman Ahmed v NPF</div>				  
                        </div>
                        <div class="well well-sm">					
                            <label for="">Cause</label>				    
                            <div>No termination, purported termination or Notice of termination of this Guarantee 
                            shall be of any effect or discharge the Guarantor from any of its obligations herein 
                            unless given in writing upon a prior written Notice of not less than sixty (60) days within which 
                            MTN shall have recovered all sums outstanding against the Company from the Guarantor, failing which 
                            the termination, purported termination or Notice of termination shall be of no force or effect 
                            whatsoever and the Guarantee shall continue in force as if no such termination, 
                            purported termination or Notice of termination was ever issued. 
                            </div>				 
                        </div>
                        <div class="well well-sm">					
                            <label for="">Date</label>				    
                            <div>2015-09-22T00:00:00</div>				  
                        </div>
                   </div>                    
               </div>                  
  </div>
    <div class="panel panel-primary">                    
    <div class="panel-heading" title="Comments" data-toggle="tooltip" role="tab" id="headingTwo">                      
        <h4 class="panel-title">                        
            <a class="collapsed accord" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse79" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-minus-square-o"></i>                          
            Treat garnishee order - #Tunde Alonge                        
            </a>                        
            <span class="label label-danger pull-right">4mins</span>                        
            <span class="label label-warning pull-right">Sat, 19 Sep 2015 11:26:18 GMT</span>                      
        </h4>                    
     </div>                    
     <div aria-expanded="false" data-id="79" id="collapse79" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo"> 
        <div class="panel-body"></div>                    
     </div>                  
 </div>
    <div class="panel panel-primary">                    
    <div class="panel-heading" title="Search for details of garnishee order on Database" data-toggle="tooltip" role="tab" id="headingTwo"> 
        <h4 class="panel-title">                        
            <a class="collapsed accord" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse80" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-minus-square-o"></i>                          
                Search on database - #Korede Jacobs                        
            </a>                        
            <span class="label label-danger pull-right">2mins</span>                        
            <span class="label label-warning pull-right">Sat, 19 Sep 2015 11:28:09 GMT</span>                      
        </h4>                    
  </div>                    
  <div aria-expanded="false" data-id="80" id="collapse80" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">                      
    <div class="panel-body"></div>                    
  </div>                  
 </div>
    <div class="panel panel-primary">                    
    <div class="panel-heading" title="Comments" data-toggle="tooltip" role="tab" id="headingTwo">                      
        <h4 class="panel-title">                        
            <a class="collapsed accord" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse81" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-minus-square-o"></i>                          
                Review search result - #Tunde Alonge                        
              </a>                        
              <span class="label label-danger pull-right">1mins</span>                        
              <span class="label label-warning pull-right">Sat, 19 Sep 2015 11:28:59 GMT</span>                      
         </h4>                    
     </div>                    
     <div aria-expanded="false" data-id="81" id="collapse81" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body"></div>                    
      </div>                 
  </div>
    <div class="panel panel-primary">                    
    <div class="panel-heading" title="Place Lien on Account" data-toggle="tooltip" role="tab" id="headingTwo">                      
        <h4 class="panel-title">                        
            <a class="collapsed accord" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse82" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-minus-square-o"></i>                          
                Place lien on account - #Korede Jacobs                        
            </a>                        
            <span class="label label-danger pull-right">1mins</span>                        
            <span class="label label-warning pull-right">Sat, 19 Sep 2015 11:29:48 GMT</span>                      
        </h4>                    
     </div>                    
     <div aria-expanded="false" data-id="82" id="collapse82" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
         <div class="panel-body"></div>                    
     </div>                 
  </div>
    <div class="panel panel-primary">                    
    <div class="panel-heading" title="Comments" data-toggle="tooltip" role="tab" id="headingTwo">                      
        <h4 class="panel-title">                        
            <a class="collapsed accord" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse83" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-minus-square-o"></i>                          
                Review search result - #Tunde Alonge                        
            </a>                        
            <span class="label label-danger pull-right">1mins</span>                        
            <span class="label label-warning pull-right">Sat, 19 Sep 2015 11:30:46 GMT</span>                      
        </h4>                    
   </div>                    
   <div aria-expanded="false" data-id="83" id="collapse83" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">                      
        <div class="panel-body"></div>                    
   </div>                  
 </div>
    <div class="panel panel-primary">                    
    <div class="panel-heading" title="Comments" data-toggle="tooltip" role="tab" id="headingTwo">                      
        <h4 class="panel-title">                        
            <a class="collapsed accord" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse84" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-minus-square-o"></i>                          
                Request for nomination of solicitor - #Tunde Alonge                        
            </a>                        
            <span class="label label-danger pull-right">2mins</span>                        
            <span class="label label-warning pull-right">Sat, 19 Sep 2015 11:33:01 GMT</span>                      
        </h4>                    
    </div>                    
    <div aria-expanded="false" data-id="84" id="collapse84" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">                      
        <div class="panel-body"></div>                    
    </div>                 
 </div>
    <div class="panel panel-primary">                    
    <div class="panel-heading" title="Comments" data-toggle="tooltip" role="tab" id="headingTwo">                      
        <h4 class="panel-title">                        
            <a class="collapsed accord" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse86" aria-expanded="false" aria-controls="collapseTwo"> 
                <i class="fa fa-minus-square-o"></i>                          
                    Nominate solicitor - #Olumide Kelvin                        
            </a>                        
            <span class="label label-danger pull-right">3mins</span>                        
            <span class="label label-warning pull-right">Sat, 19 Sep 2015 11:35:51 GMT</span>                      
        </h4>                    
    </div>                    
    <div aria-expanded="false" data-id="86" id="collapse86" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">                      
        <div class="panel-body"></div>                    
    </div>                  
 </div>
</div>
