﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" 
            title="" class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Appeal Cases Report</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />
                    <input class="form-control" type="text" name="Role" />
                    <input class="form-control" type="date" name="date range" />-->
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Suit No & Parties</th>
                        <th>Date Received</th>
                        <th>Branch</th>
                        <th>Case Type</th>
                        <th>Case Nature</th>
                        <th>Amount for / Against the bank</th>
                        <th>Amount</th>
                        <th>External Solicitors</th>
                        <th>Agreed Fee</th>
                        <th>Mode of Resolution</th>
                        <th>Settlement Sum Paid</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/39.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var $suitno = $nameofparties =$date= $datereceived = $brinv = $casetype = $natureofcase = $amtagainstbank = $amtforbank = $solname = $apprsolfee = $modeofresolution = $settlementsumpaid = "";
                var count = new Number(1);
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    //field[g].forEach(function (jaxx) {
                                        $.each(field[g], function (i, jaxx) {
                                        $html += "<tr>";
                                        $html += "<td>" + count + "</td>";
                                        $html += "<td>" + jaxx.RequestTitle + "</td>";
                                        var suitno_ =date= nameofparties_ = datereceived_ = brinv_ = casetype_ =
                                            natureofcase_ = amtagainstbank_ = amtforbank_ = solname_ = apprsolfee_ =
                                            modeofresolution_ = settlementsumpaid_ = false;
                                        var checker = "";
                                        var external_name = "";
                                        var external_phone = "";
                                        var external_email = "";
                                        var external_address = "";
                                        var legal = "";
                                        var name = "";
                                        var email = "";
                                        var phone = "";
                                        var address = "";



                                        if (jaxx.LegalOfficer != null) {

                                            legal = jaxx.LegalOfficer;
                                        }
                                        if (jaxx.Address != null) {

                                            address = jaxx.Address;
                                        }
                                        if (jaxx.Name != null) {

                                            name = jaxx.Name;
                                        }
                                        if (jaxx.Phone != null) {

                                            phone = jaxx.Phone;
                                        }
                                        if (jaxx.Email != null) {

                                            email = jaxx.Email;
                                        }
                                        $.each(jaxx.Stages, function (i, saxx) {
                                            $.each(saxx.FormData, function (item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                console.log(labStr.toLowerCase());
                                                if (labStr.toLowerCase() === "suit no") {
                                                    $suitno = data ? data : "<i>No Data</i>";
                                                    suitno_ = true;
                                                } else if (labStr.toLowerCase() === "case title") {
                                                    $nameofparties = data ? data : "<i>No Data</i>";
                                                    nameofparties_ = true;
                                                } else if (labStr.toLowerCase() === "date") {
                                                    $datereceived = data ? data : "<i>No Data</i>";
                                                    datereceived_ = true;
                                                } else if (labStr.toLowerCase() === "requesting branch") {
                                                    $brinv = data ? data : "<i>No Data</i>";
                                                    brinv_ = true;
                                                } else if (labStr.toLowerCase() === "type of matter") {
                                                    $casetype = data ? data : "<i>No Data</i>";
                                                    casetype_ = true;
                                                } else if (labStr.toLowerCase() === "subject matter") {
                                                    $natureofcase= data ? data : "<i>No Data</i>";
                                                    natureofcase_ = true;
                                                } else if (labStr.toLowerCase() === "claims (for/against)") {
                                                    $amtagainstbank = data ? data : "<i>No Data</i>";
                                                    amtagainstbank_ = true;
                                                } else if (labStr.toLowerCase() === "claims") {
                                                    $amtforbank = data ? data : "<i>No Data</i>";
                                                  
                                                    amtforbank_ = true;
                                                    
                                                } else if (labStr.toLowerCase() === "solicitors name") {
                                                    $solname = data ? data : "<i>No Data</i>";
                                                    solname_ = true;
                                                } else if (labStr.toLowerCase() === "amount paid") {
                                                    $apprsolfee = data ? data : "<i>No Data</i>";
                                                    apprsolfee_ = true;
                                                } else if (labStr.toLowerCase() === "legal opinion") {
                                                    $modeofresolution = data ? data : "<i>No Data</i>";
                                                    modeofresolution_ = true;
                                                }
                                                else if (labStr.toLowerCase() === "amount paid out as settlement") {
                                                    $settlementsumpaid = data ? data : "<i>No Data</i>";
                                                    settlementsumpaid_ = true;
                                                }
                                                else if (labStr.toLowerCase() === "date") {
                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            })
                                        })
                                        $html += "<td><i>" + $date + "</i></td>";
                                        if (suitno_) {
                                            if (nameofparties_) {
                                                //means we found suit no
                                                $html += "<td>" + $suitno + " / " + $nameofparties + "</td>"; 
                                            } else {
                                                $html += "<td>" + $suitno + "</td>";
                                            }
                                            
                                        } else {
                                            if (nameofparties_) {
                                                //means we found suit no
                                                $html += "<td>" + $nameofparties + "</td>";
                                            } else {
                                                $html += "<td><i>No Data</i></td>";
                                            }
                                        }
                                        
                                        if (datereceived_) {
                                            //means we found suit no
                                            $html += "<td>" + $datereceived + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (brinv_) {
                                            //means we found suit no
                                            $html += "<td>" + $brinv + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (casetype_) {
                                            //means we found suit no
                                            $html += "<td>" + $casetype + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        //var suitno_ = nameofparties_ = datereceived_ = brinv_ = casetype_ =
                                        //natureofcase_ = amtagainstbank_ = amtforbank_ = solname_ = apprsolfee_ =
                                        //modeofresolution_ = judgmentsumpaymentdate_ = false;
                                        if (natureofcase_) {
                                            //means we found suit no
                                            $html += "<td>" + $natureofcase + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (amtagainstbank_) {
                                            //means we found suit no
                                            $html += "<td>" + $amtagainstbank + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (amtforbank_) {
                                            //means we found suit no
                                            $html += "<td>" + $amtforbank + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        //if (solname_) {
                                            //means we found suit no
                                        $html += "<td>" + name + "</td>";
                                        //} else {
                                        //    $html += "<td><i>No Data</i></td>";
                                        //}
                                        if (apprsolfee_) {
                                            //means we found suit no
                                            $html += "<td>" + $apprsolfee + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (modeofresolution_) {
                                            //means we found suit no
                                            $html += "<td>" + $modeofresolution + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (settlementsumpaid_) {
                                            //means we found suit no
                                            $html += "<td>" + $settlementsumpaid + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        count++;
                                        $html += "</tr>";
                                    })
                                }
                            }
                        }
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>
<!--
    var json = field[g];
                                    var count = new Number(field[g][0].Process_Data.length);
                                    if (count != 0) {
                                        for (var z = 0; z < count; z++) {
                                            $html += "<tr>";
                                            var $suitno = $nameofparties = $datereceived = $brinv = $casetype = $natureofcase = $amtagainstbank = $amtforbank = $solname = $apprsolfee = $modeofresolution = $judgmentsumpaymentdate = "<td></td>";
                                            var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                            for (var q = 0; q < jax; q++) {
                                                var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                                for (var x = 0; x < len; x++) {
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "suit no") {
                                                        $suitno = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "case title") {
                                                        $nameofparties = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date"
                                                        && field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "9") {
                                                        $datereceived = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "name of branch") {
                                                        $brinv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "type of matter") {
                                                        $casetype = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "subject matter") {
                                                        $natureofcase = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "payment sum") {
                                                        $amtagainstbank = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "approved fee sum") {
                                                        $amtforbank = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }

                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitors name") {
                                                        $solname = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "amount paid") {
                                                        $apprsolfee = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "legal opinion") {
                                                        $modeofresolution = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                }
                                            }

                                            $html += "<td>" + $suitno + " / " + $nameofparties + "</td>" + $datereceived + $brinv + $casetype + $natureofcase + $amtagainstbank + $amtforbank +
                                                $solname + $apprsolfee + $modeofresolution + $judgmentsumpaymentdate + "</tr>";
                                            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                                $(tbody_branchList).empty().append($html);
                                            } else {
                                                $(tbody_branchList).append($html);
                                            }
                                        }//
                                    } else {
                                        // Count is Zero
                                        if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                            $(tbody_branchList).empty().append("");
                                        } else {
                                            $(tbody_branchList).append("");
                                        }
                                    }
-->