﻿<div class="row">
   
</div>
<div class="row"><hr /></div>
<div class="row">
    <div class="container" style="width:100%;height: 75vh; overflow-y: scroll; margin-left: 0px; margin-right: 0px; margin-top: 10px;">


    <div class="">
        <table class="table table-bordered table-striped table-hover col-md-12" id='all-ongoing-requests-list'>
            <thead>
            <tr>
                <th style="width: 50px;" class="text-center">S/N</th>
                <th>Process</th>
                <th>Request Title</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Branch</th>
                <th>Current Stage</th>
                <th>Current User</th>
                <th>Status</th>
                <th>Ref No</th>
                <th class="col-md-1">Action</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
           <!-- <tbody id="allrequests-list"></tbody>-->
        </table>
    </div>

    </div>
</div>

<!--<div class="row" style="padding:10px;">
   
    
         <div class="btn-group">
          <button type="button" class="btn btn-primary">1</button>
          <button type="button" class="btn btn-primary">2</button>
          <button type="button" class="btn btn-primary">3</button>
        </div>
   
</div>-->

<!--<div class="modal fade" id="allcomments-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-primary" id="allcomments-modal-title"></h4>
      </div>
      <div class="modal-body">

        <div class="row">
        <div class="col-md-12">
        
            <div id="allcomments-container" style="height:70vh; overflow-y:scroll; padding:15px;"></div>
            
        </div>

        </div>
      </div>
      <div class="modal-footer">
           <button type="button" class="btn btn-info" id="btnWord">Export To Word</button>
           <button type="button" class="btn btn-success" id="btnPdf">Export To PDF</button>
        <button type="button" class="btn btn-default">Close</button>
        
      </div>
    </div>
  </div>
</div>-->
<div class="modal fade" id="allcomments-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-primary" id="allcomments-modal-title"></h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">

                        <div id="allcomments-container" style="height:70vh; overflow-y:scroll; padding:15px;"></div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="btnWord">Export To Word</button>
                <button type="button" class="btn btn-success" id="btnPdf">Export To PDF</button>
                

            </div>
        </div>
    </div>
</div>

<script src="../assets/js/export_comment.js"></script>