﻿<div class="row">
    <!--<div class="col-lg-6">
        <div class="input-group input-group-sm">
					  <input class="form-control" id="txtSearch" placeholder="Search request titles..." type="text">
					  <span class="input-group-btn">
						<button class="btn btn-success" id="searchBtn" type="button"><i class="fa fa-search"></i> Search</button>
					  </span>
					</div>
    </div>-->
   <!-- <div  class="col-lg-6">
    <div  class="col-lg-4">
     <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Select Region
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
</div>
<div  class="col-lg-4">
    <div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Request Status
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
</div>
<div  class="col-lg-4">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Request Type
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div>
</div>
    </div>-->
   
</div>
<div class="row"><hr /></div>
<div class="row">
    <div class="container" style="width:100%;height: 75vh; overflow-y: scroll; margin-left: 0px; margin-right: 0px; margin-top: 10px;">


        <div class="">
            <table class="table table-bordered table-striped table-hover col-md-12" id='allhubrequests-list'>
                <thead>
                    <tr>
                        <th style="width: 50px;" class="text-center">S/N</th>
                        <th>Process</th>
                        <th>Request Title</th>
                        <th>Created By</th>
                        <th>Date Created</th>
                        <th>Branch</th>
                        <th>Current Stage</th>
                        <th>Current User</th>
                        <th>Status</th>
                        
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
                <!-- <tbody id="allrequests-list"></tbody>-->
            </table>
        </div>

    </div>
</div>