﻿<div class="row">
    <div class="col-sm-6">
        <div class="btn-group" role="group" aria-label="...">
            <button id="excelAudit" type="button" class="buttonactions fa fa-file-excel-o fa-3x btn btn-info" ></button>
            <button id="printAudit" type="button" class="buttonactions fa fa-print fa-3x btn btn-success"></button>
             <!--<i id="print" class="" title="Print"></i>-->
         </div>
    </div>


</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-sm-12" id="exportData">

        


        <table class="table table-bordered table-hover table-striped" id="audit_dataTable">
            <thead>

            <tr>
                <th>#</th>
                <th>User Id</th>

                <th>Action</th>

                <th>Details</th>

                <th>Timestamp</th>
                <th>Ip</th>



            </tr>

            </thead>

            <tbody></tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div id="notice_window" class="col-sm-3 hidden"></div>
</div>

<script src="../assets/js/audit_trail.js"></script>


