﻿<div class="row">
    <div class="col-sm-6">
        <div class="btn-group" role="group" aria-label="...">
            <button id="audit_refresh" type="button" class="btn btn-default">Refresh</button>
         </div>
    </div>


</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover table-striped" id="dataTable">
            <thead>

                <tr>
                    <th>#</th>
                    <th>User Id</th>

                    <th>Action</th>

                    <th>Details</th>

                    <th>Timestamp</th>

                   

                </tr>

            </thead>

            <tfoot>

                <tr>
                    <th>#</th>
                    <th>User Id</th>

                    <th>Action</th>

                    <th>Details</th>

                    <th>Timestamp</th>

                </tr>

            </tfoot>
        </table>
    </div>
    <div id="notice_window" class="col-sm-3 hidden"></div>
</div>

<script src="../assets/js/audit.js"></script>


