﻿
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group" role="group" aria-label="...">
            <button id="branch_refresh" type="button" class="btn btn-default">Restore</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModall" id="showDialog">New Branch</button>

        </div>
    </div>

</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-sm-12">
        <table id="branch-list" class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th><input class="check_all_branches" type="checkbox" /></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Street</th>
                    <th>Town</th>
                    <th>State</th>
                    <th>Region</th>
                    <th>Country</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <div id="notice_window" class="col-sm-3 hidden"></div>
</div>

<div class="modal fade" id="myModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New Branch</h4>
            </div>
            <div class="modal-body">
                <div id="branch_alert" class="alert hide"></div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Branch Name</label>
                    <input type="text" class="form-control" id="branch_name" placeholder="Branch Name">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Street</label>
                    <input type="text" class="form-control" id="street" placeholder="Street">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Town</label>
                    <input type="text" class="form-control" id="town" placeholder="Town">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">State</label>
                    <input type="text" class="form-control" id="state" placeholder="State">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Region</label>
                    <input type="text" class="form-control" id="region" placeholder="Region">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Country</label>
                    <input type="text" class="form-control" id="country" value="Nigeria" placeholder="Country">
                </div>

                <div class="form-group">
                    <label for="branch_type">Type</label>
                    <select id="branch_type" class="form-control">
                        <option value=""></option>
                        <option value="branch">Branch Office</option>
                        <option value="zonal">Zonal Head Office</option>
                        <option value="head">Corporate Head Office</option>

                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="create_branch" type="button" class="btn btn-primary">Create Branch</button>
            </div>
        </div>
    </div>
</div>


