﻿<div class='row'>
	<div class='col-md-8'>
		<div id="calendar"></div><br>
	</div>
	<div class='col-md-4'>
		<div class='panel panel-primary'>
		    <div class="panel-heading">
		        <div class="panel-title">Pending Requests</div>
		    </div>
		    
                
		        <div class="panel-body no-padding " style="max-height: 400px; overflow-x: wrap; overflow-y: auto" id="pending_requests">

		        </div>
		   
		</div>
	</div>
</div>
		
<script>
	(function () {
		$('[data-toggle="tooltip"]').tooltip();
	})();

</script>