﻿<div class="row">
    <div class="col-sm-6">
        <div class="btn-group" role="group" aria-label="...">
            <button id="external_solicitor_refresh" type="button" class="btn btn-default">Refresh</button>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">New External Solicitor</button>
           <button id="reset" type="button" class="btn btn-info" data-toggle="modal" data-target="#resetModal">Reset</button>
        </div>
    </div>


</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <!--<tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Middlename</th>
                    <th>Telephone</th>
                    <th>Branch</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>-->
                <tr>
                    <th>#</th>
                    <th>FIRM</th>
                    <th>ADDRESS</th>
                    <th>TEL</th>
                    <th>EMAIL</th>
                    <th>WEBSITE</th>
                    <th>FAX</th>
                    <th>PHONE</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="external_List"></tbody>
        </table>
    </div>
    <div id="notice_window" class="col-sm-3 hidden"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create New External Solicitor</h4>
            </div>
            <div class="modal-body">
                <div id="external_solicitor_alert" class="page_alert alert hide"></div>
                <div class="form-group">
                    <label for="exampleInputEmail1">FIRM</label>
                    <input type="text" class="form-control" id="firm" placeholder="Firm" required>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">ADDRESS</label>
                    <!--<input type="text" class="form-control" id="name" placeholder="Name">-->
                    <textarea class="form-control" id="address"  placeholder="Address" cols="3" required> </textarea>
                </div>
                 <div class="form-group">
                    <label for="exampleInputEmail1">TEL</label>
                    <input type="text" class="form-control" id="telephone" placeholder="Tel"> 
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">EMAIL</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" required>
                </div>

                 <div class="form-group"  >
                    <label for="exampleInputEmail1">PASSWORD</label>
                    <input type="password" class="form-control" id="password">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">WEBSITE</label>
                    <input type="email" class="form-control" id="website" placeholder="Website">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">FAX</label>
                    <input type="email" class="form-control" id="fax" placeholder="Fax">
                </div>
                 <div class="form-group">
                    <label for="exampleInputEmail1">PHONE</label>
                    <input type="text" class="form-control" id="phone" placeholder="Phone" >
                </div>
                

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="create_external" type="button" class="btn btn-primary">Create External Solicitor</button>
            </div>
        </div>
    </div>
</div>


<div id="edit">
    <div class="modal fade" id="myModa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit External Solicitor </h4>
                </div>
                <div class="modal-body">
                    <div id="branch_alert" class="alert hide"></div>
                    <div class="form-group">

                        <input type="hidden" class="form-control" id="ext_id" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">FIRM</label>
                        <input type="text" class="form-control" id="ext_name" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">ADDRESS</label>
                        <input type="text" class="form-control" id="ext_address" placeholder="">
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Telephone</label>
                        <input type="text" class="form-control" id="ext_telephone" placeholder="">
                    </div>


                    <div class="form-group">
                        <label for="exampleInputEmail1">EMAIL</label>
                        <input type="text" class="form-control" id="ext_email" placeholder="">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="update_external" type="button" class="btn btn-primary">Update External</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="resetPassword">
    <div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit External Solicitor </h4>
                </div>
                <div class="modal-body">
                    <div id="branch_alert" class="alert hide"></div>
                     <div class="form-group">

                        <input type="text" disabled class="form-control" id="ext_idd" placeholder="">
                    </div>
                    
                    <div class="form-group">
                        <label for="exampleInputEmail1">New Password</label>
                        <input type="password" class="form-control" id="new_password" placeholder="New Password">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="resetMyPassword" type="button" class="btn btn-primary">Reset Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../assets/js/external.js"></script>

<script src="../assets/js/external_solicitor.js"></script>

