﻿<!-- <link rel="stylesheet" href="../assets/css/vendor.css" /> -->
<link rel="stylesheet" href="../assets/css/formbuilder.css" />
<style>
	 
	  .fb-main {
		background-color: #fff;
		border-radius: 5px;
		min-height: 95%;
	  }
      /*
	  input[type=text] {
		height: 26px;
		margin-bottom: 3px;
	  }

	  select {
		margin-bottom: 5px;
		font-size: 40px;
	  }
	  .code
	  {
	      display:none;
		background: none repeat scroll 0 0 #fff;
		border-radius: 5px;
		min-height: 94%;
		margin: 33px 9px 0 0;
		position: fixed;
		right: 0;
		top: 0;
		width: 322px;
		padding: 5px;
		word-break:break-all;
		font-size:12px;
		font-family:verdana;
	  }*/
  </style>
  <div class="row">
    <div class="col-sm-3">
        <div class="col-sm-12">
            <div class="btn-group" role="group" aria-label="...">
                <button id="form_refresh" dataview="role" type="button" class="btn btn-default">Refresh List</button>
            </div>
        </div>
       <br /><br />
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Forms</h3>
            
          </div>
          <div class="panel-body">
        
                <div class="list-group">
                  <a href="#" title="Form 1" class="new_form list-group-item form-item active">
                  <span class="fa fa-plus-square"></span>    
                    New Form
                  </a>
                  <div class="form_list">
                      
                  </div>
                  
                </div>
          </div>
    </div>
    </div>
    <div class="col-sm-9">
    <div class="form_view design">
         <button id="publish_form" dataview="role" type="button" class="btn btn-success btn-info pull-right">Publish Form</button>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 id="form_title" class="panel-title">
                <span class="fa fa-plus-square"></span>    
                    New Form
                </h3>
           
              </div>
              <div class="panel-body">
                 <div class="well well-sm">
                    <div class="form-group">
                        <label for="form_name">Form Name</label>
                        <input type="text" class="form-control" id="form_name" placeholder="Name of Form">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" maxlength= "250"></textarea>
                    </div>
                 </div>
                 <h4>Build Form</h4>
                 <div class='fb-main well well-sm'></div>
              </div>
        </div>
    </div>
    <div class="form_view preview hidden">
        <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Forms</h3>
            
              </div>
              <div class="panel-body">
                    <!--<i class="fa fa-cog fa-spin"></i> Loading...-->
                    <div class='container-fluid'>
                        <div class='row'>
                            <form id='form' action='' method='post'></form>
                        </div>
                    </div>
              </div>
          </div>
    </div>
    </div>
  </div>

 
  
  <script src="../assets/js/formbuilder.js"></script>

   <script>

       $(function () {
           fb = new Formbuilder({
               selector: '.fb-main',
               bootstrapData: [
          
          {
              "label": "Sample",
              "field_type": "text",
              "required": true,
              "field_options": {
                "description":"This is a sample field. Drag and Drop elements here to start. You may delete this sample control if its not needed.",
              },
              "cid": "c14"
          }
        ]
           });

           fb.on('save', function(payload) {
               //$(".code").html(payload);
               PageHandler.tempData.formDesignData = payload;
           });
       });
  </script>
