﻿<div class="row">
    

</div>
<div class="row"><hr /></div>
<div class="row">
    <div class="container" style="width:100%;height: 75vh; overflow-y: scroll; margin-left: 0px; margin-right: 0px; margin-top: 10px;">


        <div class="">
            <table class="table table-bordered table-striped table-hover col-md-12" id='ph_region-list'>
                <thead>
                    <tr>
                        <th style="width: 50px;" class="text-center">S/N</th>
                        <th>Process</th>
                        <th>Request Title</th>
                        <th>Created By</th>
                        <th>Date Created</th>
                        <th>Branch</th>
                        <th>Current Stage</th>
                        <th>Current User</th>
                        <th>Status</th>

                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
              
            </table>
        </div>

    </div>
</div>