<style type="text/css">
	.theLetter {
		line-height: 30px;
	}
	.shift {
	    margin-right: 20px;
	}
	i.buttonactions {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0px;
    color: #034267;
    text-shadow: 0px 0px 0px #034267;
    font-size: 2.5em;
}
</style>

<div class='row'>
	<div class='col-md-12'>
		<button class="btn btn-default btn-info dropdown-toggle" type="button" data-toggle="dropdown">
            Choose a Template
            <span class="caret"></span>
        </button>
        <ul id="print-links" class="dropdown-menu text-uppercase" role="menu" aria-labelledby="menu1">
            <li><a href="#" data-template="airtel"><i class="fa fa-chevron-right"></i> Airtel Template Bank Guarantee - 2013</a></li>
            <li><a href="#" data-template="adv"><i class="fa fa-chevron-right"></i> Advanced APG Template</a></li>
            <li><a href="#" data-template="nddc"><i class="fa fa-chevron-right"></i> APG - NDDC Template</a></li>
            <li><a href="#" data-template="iata"><i class="fa fa-chevron-right"></i> BG - IATA II</a></li>
            <li><a href="#" data-template="bidbond"><i class="fa fa-chevron-right"></i> BID BOND TEMPLATE_new</a></li>
            <li><a href="#" data-template="mtn"><i class="fa fa-chevron-right"></i> MTN BG template review</a></li>
            <li><a href="#" data-template="draftcustom"><i class="fa fa-chevron-right"></i> DRAFT CUSTOM BG</a></li>
            <li><a href="#" data-template="emts"><i class="fa fa-chevron-right"></i> EMTS BG TEMPLATE</a></li>
            <li><a href="#" data-template="nonbankformat"><i class="fa fa-chevron-right"></i> NON BANK STANDARD FORMAT</a></li>
            <li><a href="#" data-template="la"><i class="fa fa-chevron-right"></i> Legal Advice</a></li>
        </ul>
        
        <input type="button" value="Access Pdf Files" id="openFile" class="btn btn-success"/>
        <input type="button" value="Access Word Files" id="openWord" class="btn btn-success" />
	</div>
</div>
<asp:HiddenField ID="Hidden2" runat="server"/>

<hr>

<div class="row">

    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover" id='print-table'>
            <thead>
            <tr>
                <th style="width: 50px;" class="text-center">S/N</th>
                <th>Request Title</th>
                <th>Created By</th>
                <th class="col-md-1">Action</th>
            </tr>
            </thead>
            <tbody id="print_target"></tbody>
        </table>
    </div>
</div>
<!--<ul>
    <li class="buttonactions" id="buttonactions">
        <table>
            <tr>
                <td>
                    <i id="printDoc" class="buttonactions fa fa-print fa-3x shift" title="Print"></i>
                </td>

                <td>
                    <i id="postPDF" class="buttonactions fa fa-file-pdf-o fa-3x shift" title="Export to PDF"></i>
                </td>
                <td>
                    <i id="postWord" class="buttonactions fa fa-file-word-o fa-3x shift" title="Export to Word"></i>
                </td>
            </tr>
        </table>
    </li>
</ul>-->


<div class="loadExport"> 
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active"
            data-original-title="Requests requiring your attention">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Template</a>
        </li>
        <li>
            <table>
                <tr>
                    <td>
                        <!--<i id="printDoc" class="buttonactions fa fa-print fa-3x" title="Print"></i>-->
                        <input type="button" value="Print" class="btn btn-primary btn-sm printDoc" style="margin-right: 10px;" />
                    </td>
                    <td>
                        <!--<i id="postPDF" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>-->
                        <input type="button"  value="Export to Pdf" class="btn btn-success btn-sm postPDF" style="margin-right: 10px;" />
                    </td>
                    <td>
                        <!--<i id="postWord" class="buttonactions fa fa-file-word-o fa-3x" title="Export to Word"></i>-->
                        <input type="button"  value="Export to Word" class="btn btn-info btn-sm postWord" style="margin-right: 10px;" />
                    </td>
                </tr>
            </table>
        </li>
    </ul>
</div>
<div class="row">
	
	<div class="col-md-8 col-md-offset-2 theLetter text-justify" id="draftcustom" contentEditable="true">
		<p class="text-muted">
			Legal Services Department<br>
			Samuel Asabia House, 35 Marina,<br>
			P.O.Box 5216, Lagos, Nigeria<br>
			Telephone: +234 1 905 2293<br>
			Web: www.firstbanknigeria.com<br><br>
			
			<br>
		</p>

		<p>	
			<strong>
				<span class='draftcustom-0'></span><br>
				THE CUSTOMS AREA COMPTROLLER<br>
				NIGERIA CUSTOMS SERVICE<br>
				KIRI KIRI LIGHTER TERMINAL COMMAND<br>
				LAGOS, NIGERIA.

			</strong>
		</p>

		<h3 class="heavy text-center text-underline">BANK GUARANTEE</h3><br>

		<p>WHEREAS:</p>

		<div class="col-sm-offset-2 col-sm-10">
			<ol>
			    <li><span class='draftcustom-1'></span> of <span class='draftcustom-2'></span> (hereinafter called the "importer") imported <span id="d-1"></span> (hereinafter called “the goods”) into the country under Form M No. <span id="d-2"></span>  In expectation of compliance with the requirement of payment of import duty and charges payable amounting to <span id="d-3"></span>  (<span id="d-4"></span> ) on the PAAR, the importer is desirous of clearing the goods pending the assessment of the correct import duty payable by the importer to the Nigeria Customs Service.</li>

				<li>To enable the Importer clear the goods pending the determination of the duty payable, the Nigeria Customs Service has requested for a Custom Bond in the maximum sum of <span id="d-5"></span>  (<span id="d-6"></span> ).</li>

				<li><b>NOW THEREFORE WE, FIRST BANK OF NIGERIA LIMITED</b> of 35 Marina, Lagos, do hereby undertake to pay the Nigeria Customs Service, on assessment of duty payable by the importer on the goods an amount not exceeding the sum of <span id="d-7"></span>  (<span id="d-8"></span> ]).</li>
			</ol>
		</div>

		<p>Payment by us under this Guarantee will only be made upon receipt by us of your written demand duly signed by your authorized signatories that the amount stated above is due and payable by the Importer and that the Importer has failed to pay the same.</p>

	    <p>This Guarantee is limited to the amount of <span id="d-9"></span>  (<span id="d-10"></span>)  herein before stated and the bank expressly disclaims liability for any subsequent amount transaction or agreement between the Nigeria Customs Service and the Importer. </p>

	    <p>This Guarantee becomes effective on <span id="d-11"></span> and shall thereafter remain valid for <span id="d-12"></span> after which the same shall terminate and become void whether or not the original copy of the Guarantee is returned to the Bank for cancellation. Any demand in respect thereof must reach the Bank not later than.</p>

	    <p>This Guarantee was made on the <span id="d-13"></span></p>

		<p>

			<br><br><br><br>
			The COMMON SEAL of<br>
			<b>FIRST BANK OF NIGERIA LIMITED</b><br>
			was hereunto affixed in the presence of<br><br>
	 
		</p>

		<div>
			<table width="100%">
				<tr>
					<td width="50%">
						................................................................<br>
						<b>COMPANY SECRETARY</b><br><br>
						................................................................<br>
						<b>NAME</b><br>
					</td>
					<td width="50%">
						................................................................<br>
						<b>DIRECTOR</b><br><br>
						................................................................<br>
						<b>NAME</b><br>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-2 theLetter text-justify" id="emts" contentEditable="true">
		<p class="text-muted">
			Legal Services Department<br>
			Samuel Asabia House, 35 Marina,<br>
			P.O.Box 5216, Lagos, Nigeria<br>
			Telephone: +234 1 905 2293<br>
			Web: www.firstbanknigeria.com<br><br>
			
			<br>
		</p>

		<p>	
			<strong>
				<span class='emts-0'></span><br>

			</strong>
		</p>

		<h3 class="heavy text-center text-underline">BANK GUARANTEE</h3><br>

	    <p>In conformity with one of the provisions of the Distribution Agreement dated the <b class='emts-1'></b> (‘”the Agreement”) between Emerging Markets Telecommunication Services Limited (“EMTS”) and <b class='emts-2'></b> (“the Company”),<span id="emt-1"> </span> of <span id="emt-2"> </span> (“the Guarantor”) hereby irrevocably and unconditionally guarantees as PRIMARY OBLIGOR, the full and punctual payment of all indebtedness of the Company to EMTS now and or hereafter at any time existing, including interest, collection expenses or other amounts payable to EMTS (collectively, the Company’s obligations); plus other Company’s obligations relating to such amount i.e. interest, fees and other related expenses. </p>

		<p>EMTS shall be entitled to enforce the terms of this Bank Guarantee irrespective of the fact that it is not an executing party and the Guarantor acknowledges and agrees that this Guarantee is and at all times shall be a continuing security and shall extend to cover the ultimate balance due at any time from the Company to EMTS.</p>

		<div class="col-sm-1">1</div>
		<div class="col-sm-11"><b>DURATION AND TERMINATION</b></div>

		<div class="col-sm-1">1.1</div>
		<div class="col-sm-11">This is a continuing guarantee and shall remain in full force and effect for a period of one (1) year from the date it is issued, after which it shall become null and void whether or not it is returned to the Guarantor for cancellation. No termination, purported termination or notice of termination of this guarantee shall be of any effect or discharge the Guarantor from any of its obligations herein unless given in writing upon a prior written notice of not less than sixty (60) days within which EMTS shall have recovered all sums outstanding against the Company from the Guarantor, failing which the termination, purported termination or Notice of termination shall be of no force or effect whatsoever and the guarantee shall continue in force as if no such termination, purported termination or notice of termination was ever issued.</div>

		<div class="col-sm-1">2</div>
		<div class="col-sm-11"><b>DEMAND</b></div>

		<div class="col-sm-1">2.1</div>
		<div class="col-sm-11">A demand by EMTS or on its behalf to the Guarantor shall be deemed to have been sufficiently given if sent by registered post or leaving same at the registered address or place of business or last known address of the Guarantor;</div>

		<div class="col-sm-1">3</div>
		<div class="col-sm-11"><b>GUARANTEE AND INDEMNITY</b></div>

		<div class="col-sm-1">3.1</div>
		<div class="col-sm-11">The Guarantor hereby irrevocably and unconditionally guarantees that:</div>

		<div class="col-sm-1">3.1.1</div>
		<div class="col-sm-11">The obligations under this Guarantee relating to payments due to the Company shall be absolute and unconditional, shall not be reduced by the Guarantor’s claims against the Company and shall be enforceable without regard to any vitiating circumstances;</div>

		<div class="col-sm-1">3.1.2</div>
		<div class="col-sm-11">All sums due and payable by the Guarantor under this Guarantee shall be paid to EMTS in full without any set-off by the Guarantor, condition or counterclaim whatsoever and shall also be free and clear of all deductions or withholdings whatsoever, save only as may be required by law or regulation. It is hereby agreed that the total amount payable under this Guarantee shall not exceed <b id='emt-3'></b> (<b id='emt-4'></b>) only.</div>

		<div class="col-sm-1">3.1.3</div>
		<div class="col-sm-11">that if the Company fails to honour its obligations under the Agreement whenever due, then the Guarantor shall pay to EMTS (whether or not formally demanded) all monies and liabilities which are now or at any time hereafter shall have been advanced to, become due, owing or incurred by the Company to or in favour of EMTS under or in connection with the Agreement. For this purpose, The Guarantor hereby acknowledges its actual knowledge of the terms and conditions of the Agreement and the obligations of the Company hereunder; </div>

		<div class="col-sm-1">3.1.4</div>
		<div class="col-sm-11">the due, punctual performance and discharge by the Company of all its obligations and liabilities under the Agreement. </div>

		<div class="col-sm-1">3.1.5</div>
		<div class="col-sm-11">to indemnify and keep indemnified EMTS in full upon demand against all losses, costs and expenses suffered or incurred by EMTS arising from or in connection with EMTS making available the credit facility to the Company under the Agreement. </div>

		<div class="col-sm-1">4</div>
		<div class="col-sm-11"><b>PROTECTIVE CLAUSES</b></div>

		<div class="col-sm-1">4.1</div>
		<div class="col-sm-11">The liability of the Guarantor shall not be affected nor shall this Guarantee be discharged by reason of: </div>

		<div class="col-sm-1">4.1.1</div>
		<div class="col-sm-11">release, extension renewal, variation, determination, modification or increase relating to any accommodation or credit given to the Company on the part of EMTS;</div>

		<div class="col-sm-1">4.1.2</div>
		<div class="col-sm-11">any alleged or purported misrepresentation or non-disclosure of any facts or circumstances, whether deemed to be material or otherwise, by EMTS or the Company, or any alleged mistake of any facts, whether material or otherwise, on the part of the Guarantor</div>

		<div class="col-sm-1">4.1.3</div>
		<div class="col-sm-11">the doing or omitting to do anything on the part of EMTS that but for this provision might operate to exonerate or discharge The Guarantor from any of its obligations under this Guarantee</div>

		<div class="col-sm-1">4.1.4</div>
		<div class="col-sm-11">abstaining from the perfection or enforcement of any security or guarantee on the part of EMTS with regard to any security or guarantee now or hereafter held from the Company or any other person, including any signatory to this Guarantee, in respect of the indebtedness; </div>

		<div class="col-sm-1">4.1.5</div>
		<div class="col-sm-11">any delay on EMTS’s part in exercising its rights against the Company or under this Guarantee or failure by EMTS to give any notice to the Guarantor. </div>

		<div class="col-sm-1">4.1.6</div>
		<div class="col-sm-11">failure or inability of EMTS to enforce its rights against the Company. </div>

		<div class="col-sm-1">4.1.7</div>
		<div class="col-sm-11">of the Company in bankruptcy or other legal proceedings </div>

		<div class="col-sm-1">4.1.8</div>
		<div class="col-sm-11">the granting of time or of any indulgence to or the compounding with the Company or any other person or guarantor on the part of EMTS; and/or </div>

		<div class="col-sm-1">4.1.9</div>
		<div class="col-sm-11">Any other circumstances which might constitute a defence available to or a discharge of the Company or the Guarantor </div>

		<div class="col-sm-1">4.1.10</div>
		<div class="col-sm-11">This Guarantee shall not be discharged or affected by anything that would not have discharged or affected the Guarantor’s liability if the Guarantor had been a principal debtor to EMTS instead of a guarantor. </div>

		<div class="col-sm-1">5</div>
		<div class="col-sm-11"><B>NOTICES</B> </div>

		<div class="col-sm-1">5.1</div>
		<div class="col-sm-11">
			<P>Any notice to be given under or in connection with this Agreement, shall be deemed to have been properly given by a Party if it is delivered by hand (including commercial courier), email or sent by facsimile to the other Party, at the address or facsimile number given below: </P>
		    <B>To EMTS:</B><br> 
			Plot 19, Zone L <br>
			Banana Island Foreshore Estate<br>
			Federal Government Layout<br>
			Ikoyi<br>
			Lagos State <br>
			Tel: <span id="emt-5"></span><br>
			Attention: Director, Sales<br>
			Email: <span id="emt-11"></span><br><br>

			<b>To THE GUARANTOR:  </b><br><br>
		    <span id="emt-6"></span>
			Tel: <span id="emt-7"></span><br>
			 Fax: <span id="emt-8"></span><br>
			Attention: <span id="emt-9"></span><br>
			Email  <span id="emt-10"></span><br><br>

			<b>To THE COMPANY: </b><br>
            <span id="emt-12"></span><br>
			Tel:  <span id="emt-13"></span><br>
			Fax: <span id="emt-14"></span><br>
			Attention: <span id="emt-15"></span><br>
			Email: <span id="emt-16"></span><br><br>

		</div>

		<div class="col-sm-1">6</div>
		<div class="col-sm-11"><b>ASSIGNMENT</b></div>

		<div class="col-sm-1">6.1</div>
		<div class="col-sm-11">Neither the Guarantor nor the Company shall assign any or all of its obligations under this Agreement to any third party; however, it may be permissible for the Guarantor to so do where such third party is a product of its merger or reconstruction and in such event the obligations and liabilities of the Guarantor under this guarantee shall be binding upon its successors and assigns. </div>

		<div class="col-sm-1">6.2</div>
		<div class="col-sm-11">EMTS shall be entitled to assign its rights and obligations to its affiliate company and in such event, such assigns or persons shall thereupon become vested with all the rights, subject to the provision of written notification to other parties. </div>

		<div class="col-sm-1">7</div>
		<div class="col-sm-11"><b>AMENDMENT</b><br>This Agreement may not be amended, except by an instrument in writing, executed by the Parties. No modification or amendment hereto shall be effected by oral acknowledgment or acceptance by either Party.  </div>

		<div class="col-sm-1">8</div>
		<div class="col-sm-11"><b>SEVERABILITY</b><br>If any term or provision of this Agreement is determined to be illegal, unenforceable, or invalid in whole or in part for any reason, such illegal, unenforceable, or invalid provision or part(s) thereof shall be struck from this Agreement and such provision shall not affect the legality, enforceability, or validity of the remainder of this  Agreement, and the provision struck off shall be replaced, to the extent possible, with a legal, enforceable, and valid provision that is as similar in tenor to the provision struck off, as is legally possible.  </div>

		<div class="col-sm-1">9</div>
		<div class="col-sm-11"><b>GOVERNING LAW</b><br>This Agreement shall in all respects be governed by and construed and enforced in accordance with Nigerian Law, including all matters of construction, validity and performance.   </div>

		<div class="col-sm-1">10</div>
		<div class="col-sm-11"><b>SET OFF </b><br>The Guarantor hereby authorizes EMTS at any time, without prior notice to set off and apply deposits and other indebtedness owing by EMTS to the Guarantor against the obligation of the Guarantor regardless of whether EMTS shall have made any demand under the guarantee and although such obligations may be contingent and un-matured. Furthermore, without prior notice or demand, EMTS’s rights under this paragraph are in addition to any other rights, which EMTS may have. </div>

		<div class="col-sm-1">11</div>
		<div class="col-sm-11"><b>WARRANTIES </b><br>The Guarantor represents and warrants that it is a corporation duly formed, validly existing and in good standing under the laws of the Federal Republic of Nigeria, that execution, delivery and performance by the Guarantor of this guarantee are within the Guarantor’s corporate powers and in furtherance of its corporate purposes, have been duly authorized by all necessary corporate action on behalf of the Guarantor, and do not contravene any law or contractual restriction binding on the Guarantor; that this guarantee is a valid and legally binding obligation of the Guarantor enforceable in accordance with its terms and that neither the Guarantor or any of its property has any immunity from jurisdiction of any court or from any legal process. The Guarantor agrees and states that this guarantee is given for valuable consideration offered by the Company.</div>

		<div class="col-sm-1">12</div>
		<div class="col-sm-11"><b>SUBROGATION </b><br>The Guarantor shall not be subrogated to any rights of EMTS unless and until EMTS has received full payment of all the Company’s obligations</div>

		<div class="col-sm-11 col-sm-offset-1">
			<p><b>IN WITNESS WHEREOF</b>, the under signed Guarantor has caused its COMMON SEAL to be hereto affixed this <span id='emt-17'></span> on behalf of the Company.</p>
			<p><b>The COMMON SEAL</b> of <b>FIRST BANK OF NIGERIA LIMITED</b> was affixed in the presence of:</p>
			<br><br>
			<table width="100%">
				<tr>
					<td width="50%">
						................................................................<br>
						<b>COMPANY SECRETARY</b><br><br><br><br>
					</td>
					<td width="50%">
						................................................................<br>
						<b>DIRECTOR/AUTHORIZED SIGNATORY</b><br><br>
						................................................................<br>
						<b>NAME</b><br>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-2 theLetter text-justify" id="iata" contentEditable="true">
		<p class="text-muted">
			Legal Services Department<br>
			Samuel Asabia House, 35 Marina,<br>
			P.O.Box 5216, Lagos, Nigeria<br>
			Telephone: +234 1 905 2293<br>
			Web: www.firstbanknigeria.com<br><br>
			
			<br>
		</p>

		<h3 class="heavy text-center text-underline">BANK GUARANTEE</h3><br>

		<p>	
			<strong>
				<span class='iata-0'></span><br>
				<span class='iata-1'></span><br>
				<span class='iata-2'></span>
			</strong>
		</p>

		<p>At the request of <span class='iata-1'></span> of <span class='iata-2'></span> (" our customer" or the "Agent") and in order to enable our Customer to comply with IATA’s requirements under the applicable IATA Resolutions, rules and procedures ("the Rules") for participation in -------- [insert IATA Billing and Settlement Plan Country ("BSP "), we <b>FIRST BANK OF NIGERIA LIMITED</b> of 35, Marina Lagos State of Nigeria (the "Bank") hereby guarantee as surety, renouncing all legal exceptions and objections and hereby assume joint and several liability with our Customer for payment of all amounts now owing or that may hereafter become owing by the Agent to Members of the International Air Transport Association ("IATA"), and airlines participating in the aforementioned ---- [insert IATA BSP or IATA CASS], which have or will appoint the Agent, (collectively, "the IATA Claimants" and Individually an "IATA Claimant")  subject to the following conditions:</p>

		<div class="col-sm-offset-1 col-sm-11">
			<ol>
				<li>If and when our Customer shall fail to pay any sum(s) whatsoever payable immediately or otherwise in respect of the issuance during the period of this Guarantee of Traffic Documents or Transportation Orders, or air waybill or any other sum payable under the Rules (hereinafter referred to as “the Debt”), we will pay that sum to you (up to the limit sum) on demand being made as hereinafter provided.</li>

				<li>Our total liability under this Guarantee is limited to and shall in no circumstances exceed the sum of <span id='iata-3'></span> (<span id='iata-4'></span>) only.</li>

				<li>This Guarantee subject to the limit sum shall not be satisfied, discharged or affected by any intermediate payment or settlement of account.</li>

				<li>The giving of time to our Customer or the neglect or forbearance by you in requiring or enforcing payment of monies under the terms of the Passenger Sales Agency Agreement signed by our Customer as a condition of accreditation as an IATA Agent, or other indulgence, shall not in any way prejudice or affect this Guarantee.</li>

				<li>This Guarantee is valid from <span id='iata-5'></span> and shall expire on <span id='iata-6'></span> (hereinafter called the “Expiry Date”) and is conditional upon claim(s) being made and received by us not later than two (2) months from the Expiry Date. Thereafter, our joint and several liability hereunder shall automatically cease and this Guarantee shall become null and void.</li>

				<li>Payment against this Guarantee shall be conditional on a written demand by IATA Country Manager ---- [Country or Area of BSP ] - stating that our Customer has failed to pay the Debt, and accompanied by a letter signed by IATA stating that our Customer has been declared in default under the Rules.  The Debt so stated by IATA shall be deemed conclusive and final and we hereby confirm that we will not require proof of the same.</li>

				<li>This Guarantee shall remain in full force and effect, notwithstanding any change in the constitution of our Customer.</li>

				<li>This Guarantee shall be in addition to and shall not be in any way prejudiced and affected by any one or more securities or guarantees from our Customer, which you may now or subsequently hold.  Notwithstanding any other provision of this Guarantee, if our Customer provides a separate guarantee (or any other type of security) in favour of an IATA Member or airline participating in a BSP, in terms of which payment is guaranteed to such Member or airline of all amounts that may become due and payable by our Customer, the Member or airline which is beneficiary of such separate guarantee shall not be entitled to any payment under the present industry Guarantee until all outstanding indebtedness of our Customer to other Members or airlines hereunder shall have been discharged.</li>

				<li>Bankruptcy, liquidation, or insolvency of our Customer shall not affect or determine our liability under this Guarantee.</li>

				<li>The obligations under this Guarantee shall be valid and effective regardless of any law regulation and decree now or after this date in effect which affects or might in any way affect the Rules, and we hereby confirm that you are not bound to take any steps or to exhaust any remedies against our Customer before calling on this Guarantee and are entitled to treat us as surety or joint and several debtors with our Customer up to the limit sum payable under this Guarantee.</li>

				<li>This Guarantee shall be governed by and construed in accordance with the Laws of the Federal Republic of Nigeria. </li>

				<li>This Guarantee is non-assignable.  It may be translated into another language for day-to-day operational use if necessary; however, in case of any inconsistency between the English version and the other version, the English version shall prevail.</li>
			</ol>
		</div>

		<p>
			<b>Dated this <span id='iata-7'></span></b>

			<br><br><br><br>
			The COMMON SEAL of<br>
			<b>FIRST BANK OF NIGERIA LIMITED</b><br>
			was hereunto affixed<br>
			in the presence of<br><br>
	 
		</p>

		<div>
			<table width="100%">
				<tr>
					<td width="50%">
						................................................................<br>
						<b>COMPANY SECRETARY</b><br><br><br><br>
					</td>
					<td width="50%">
						................................................................<br>
						<b>DIRECTOR/AUTHORISED SIGNATORY</b><br><br>
						................................................................<br>
						<b>NAME</b><br>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2 theLetter text-justify" id="mtn" contentEditable="true">
		<p class="text-muted">
			Legal Services Department<br>
			Samuel Asabia House, 35 Marina,<br>
			P.O.Box 5216, Lagos, Nigeria<br>
			Telephone: +234 1 905 2293<br>
			Web: www.firstbanknigeria.com<br><br>
			
			<br>	
			<strong>
				<span class='mtn-0'></span><br>
			</strong>
		</p>

		<h3 class="heavy text-center text-underline">GUARANTEE</h3><br>

		<p>In consideration for getting <b>MTN NIGERIA COMMUNICATIONS LIMITED [MTN]</b> from time to time to avail stock on credit and/or extend facilities to <span class='mtn-1'>[Name of Contractual Party]</span> [the Company] under the Trade Partnership Agreement dated [1st January, 2014], the undersigned, <b>FIRST BANK OF NIGERIA LIMITED (RC. No. 6290)</b> [the Guarantor] as PRIMARY OBLIGOR, hereby unconditionally guarantees the full and punctual payment, upon first written demand, of all indebtedness of the Company to MTN now or hereafter at any time existing, including interest, collection expenses or other amounts payable to MTN [collectively, the Company’s obligations]; provided that the total amount payable hereunder shall not exceed the sum of <span class='mtn-2'></span> (<span class='mtn-3'></span>) plus other Company’s obligations relating to such amount i.e., interest and fees. The Guarantor further agrees to pay all actual reasonable costs and expenses incurred by MTN in enforcing its rights under this guarantee.</p>
 
		<p>The obligations of the Guarantor under this Guarantee relating to stock released on credit to the Company shall be absolute and unconditional, shall not be reduced by the Guarantor’s claims against the Company and shall be enforceable without regard to any vitiating circumstances, including, but not limited to any or all of the following:</p>

		<p class="col-md-1 no-padding">[1]</p>
		<p class="col-md-11">Release, extension or modification of Company’s obligations by MTN;</p>

		<p class="col-md-1 no-padding">[2]</p>
		<p class="col-md-11">Failure by MTN to give any notice to the Guarantor;</p>

		<p class="col-md-1 no-padding">[3]</p>
		<p class="col-md-11">Failure or inability of MTN to enforce its rights against the Company;</p>

		<p class="col-md-1 no-padding">[4]</p>
		<p class="col-md-11">Any delay on MTN’s part in exercising its rights against the Company or under this Guarantee;</p>

		<p class="col-md-1 no-padding">[5]</p>
		<p class="col-md-11">Discharge of the Company under any Insolvency, Liquidation or Winding-Up or such other legal proceedings; </p>

		<p class="col-md-1 no-padding">[6]</p>
		<p class="col-md-11">Institution of any legal proceedings in Court PROVIDED that where the Guarantor is constrained from making the said payment as a result of any litigation, the guaranteed sum shall thereafter be paid to MTN in addition to accrued interest on the said guaranteed sum at the ruling Monetary Policy Rate (MPR) as advised by the Central Bank of Nigeria less 2% on the date of first demand by MTN; </p>

		<p class="col-md-1 no-padding">[7]</p>
		<p class="col-md-11">Any alleged or purported misrepresentation or non-disclosure of any facts or circumstances, whether deemed to be material or otherwise, by MTN or the Company, or any alleged mistake of any facts, whether material or otherwise, on the part of the Guarantor; and</p>

		<p class="col-md-1 no-padding">[8]</p>
		<p class="col-md-11">Any other circumstances which might constitute a defense available to or a discharge of the Company or the Guarantor.</p>

		<p>The Guarantor hereby authorizes MTN at any time, without prior notice to set off and apply deposits and other indebtedness owing by MTN to the Guarantor against the obligation of the Guarantor regardless of whether MTN shall have made any demand under the Guarantee and although such obligations may be contingent and or yet-to-mature. Furthermore, without prior notice or demand, MTN’s rights under this paragraph are in addition to any other rights which MTN may have.</p>

		<p>All payments under this Guarantee shall be made within Seventy Two (72) Hours or Three (3) Working Days; whichever comes earlier, of demand by MTN and shall be free and clear of withholding taxes, including any interest and penalties such that in spite of any imposed taxes, penalties or interests or deductions, any sum payable to MTN shall be the amount stated above net of any taxes, penalties, interests or deductions. 	</p>

		<p>Moreover, if any regulatory controls or approvals applicable to the Guarantor are introduced during the validity of this guarantee, the Guarantor agrees to obtain the required approvals.</p>

		<p>The Guarantor represents and warrants that it is a company duly formed, validly existing and in good standing under the laws of the Federal Republic of Nigeria and that the execution, delivery and performance by the Guarantor of this Guarantee are within the Guarantor’s corporate powers and in furtherance of its corporate purposes, have been duly authorized by all necessary corporate action on behalf of the Guarantor, and do not contravene any law or contractual restriction binding on the Guarantor; that this guarantee is a valid and legally binding obligation of the Guarantor enforceable in accordance with its terms and that neither the Guarantor nor any of its property has any immunity from jurisdiction of any court or from any legal process. The Guarantor agrees and states that this Guarantee is given for valuable consideration offered by the Company.</p>

		<p>The Guarantor shall not be subrogated to any rights of MTN unless and until MTN has received full payment and discharge of all the Company’s obligations. The Guarantee shall be governed by the laws of the Federal Republic of Nigeria. </p>

		<p>The Guarantor hereby indemnifies MTN against any defect, loss or damage whatsoever and howsoever arising from these representations and/or warranties.</p>

		<p>This is a continuing Guarantee and shall, subject to the provision below, remain in full force and effect for a period of twelve [12] calendar months from the date hereof after which it shall become void whether or not it is returned to the Guarantor for cancellation.</p> 

		<p>No termination, purported termination or Notice of termination of this Guarantee shall be of any effect or discharge the Guarantor from any of its obligations herein unless given in writing upon a prior written Notice of not less than sixty (60) days within which MTN shall have recovered all sums outstanding against the Company from the Guarantor, failing which the termination, purported termination or Notice of termination shall be of no force or effect whatsoever and the Guarantee shall continue in force as if no such termination, purported termination or Notice of termination was ever issued.  </p>

		<p>The obligations and liabilities of the Guarantor under this Guarantee shall be binding upon its successors and assigns. MTN may assign or otherwise transfer its interest in the obligations to its successors, transferees, assigns or any other person or entity, and such assigns or persons shall thereupon become vested with all the rights in respect of this Guarantee.</p>

		<p>A demand in writing hereunder by MTN or on its behalf to the Guarantor shall be deemed to have been sufficiently given if sent to it by post or by leaving same at the registered address or place of business or last known address.</p>

		<p><b>IN WITNESS WHEREOF</b>, the under signed Guarantor has caused its common seal to be hereto affixed this <span class='mtn-4'></span></p>

		<p>
			<b>Dated this</b> <span id="mtn-2"></span>

			<br><br><br><br>
			The COMMON SEAL of the within named<br>
			<b>Guarantor: FIRST BANK OF NIGERIA LIMITED</b><br>
			was hereunto affixed in the presence of<br><br>
	 
		</p>

		<div>
			<table width="100%">
				<tr>
					<td width="50%">
						................................................................<br>
						<b>DIRECTOR/AUTHORISED SIGNATORY</b><br><br>
						................................................................<br>
						Full Names<br>
					</td>
					<td width="50%">
						................................................................<br>
						<b>SECRETARY</b><br><br>
						................................................................<br>
						Full Names<br>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2 theLetter text-justify" id="bidbond" contentEditable="true">
		<p class="text-muted">
			Legal Services Department<br>
			Samuel Asabia House, 35 Marina,<br>
			P.O.Box 5216, Lagos, Nigeria<br>
			Telephone: +234 1 905 2293<br>
			Web: www.firstbanknigeria.com<br><br>
			
			<br>	
			<strong>
			    <span id="bid-1"></span><br>
                <span id="bid-2"></span><br>
                <span id="bid-3"></span><br>
			</strong>
		</p>

		<h3 class="heavy text-center text-underline">BID BOND</h3><br>

	    <p>We have been informed that <span id="bid-4"></span> of <span id="bid-5"></span> (hereinafter called “the Bidder”) intends to submit to you its Bid (hereinafter called “the Bid”) <span id="bid-13"> </span> under Invitation for Bids No. <span id="bid-6"></span> (hereinafter called “the IFB”). </p>

		<p>Furthermore, we understand that, according to the conditions, bids must be supported by a Bid Bond. </p>

	    <p>At the request of the Bidder, we FIRST BANK OF NIGERIA LIMITED whose registered office address is at 35, Marina, Lagos (hereinafter called “the Guarantor”) hereby undertake to pay you any sum or sums not exceeding in total an amount of  <span id="bid-8"></span>  (<span id="bid-9"></span> only) upon receipt by us of your demand in writing accompanied by a written statement that the Bidder is in breach of its obligation(s) under the bid conditions, because the Bidder:</p>

		<p>(a) has withdrawn its Bid during the period of Bid validity specified in the Form of Bid; or </p>
		<p>(b) does not accept the corrections of errors in accordance with the Instructions to Bidders (hereinafter called “the ITB”) of the IFB; or</p> 
		<p>(c) having been notified of the acceptance of its Bid by the Employer during the period of bid validity, (i) fails or refuses to execute the Contract Agreement or (ii) fails or refuses to furnish the Performance Security, in accordance with the ITB. 
		</p>

		<p>This Guarantee will expire: (a) if the Bidder is the successful bidder, upon our receipt of copies the Contract signed by the Bidder and the Performance Security issued to you; or (b) if the Bidder is not the successful Bidder, upon the earlier of (i) our receipt of a copy of your notification to the Bidder of the name of the successful bidder; or (ii) twenty-eight days after the expiration of the Bidder’s Bid </p>

		<p>Notwithstanding anything contained herein express or implied, this Bond shall become effective from the date of execution hereof and shall remain valid for a period not exceeding <span id="bid-12"></span> thereafter but not later than <span id="bid-10"></span> when same shall expire whether or not it is returned to the Bank for cancellation. </p>

		<p>Consequently, any demand for payment under this Bond must be received by us at the office on or before the Expiry Date. </p>

		<p>This Bond shall be governed and construed in accordance with the Laws of Federal Republic of Nigeria. </p>

		<p>
			<b>Dated this </b><span id="bid-11"></span>

			<br><br><br><br>
			The COMMON SEAL of<br>
			<b>FIRST BANK OF NIGERIA LIMITED</b><br>
			was hereunto affixed<br>
			in the presence of<br><br>
	 
		</p>

		<div>
			<table width="100%">
				<tr>
					<td width="50%">
						................................................................<br>
						<b>COMPANY SECRETARY</b><br><br><br><br>
					</td>
					<td width="50%">
						................................................................<br>
						<b>DIRECTOR/AUTHORISED SIGNATORY</b><br><br>
						................................................................<br>
						<b>NAME</b><br>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2 theLetter text-justify" id="nddc" contentEditable="true">
		<p class="text-muted">
			Legal Services Department<br>
			Samuel Asabia House, 35 Marina,<br>
			P.O.Box 5216, Lagos, Nigeria<br>
			Telephone: +234 1 905 2293<br>
			Web: www.firstbanknigeria.com<br><br>
			
			<br>
			<span class='nddc-0'></span><br>	
			<strong>
				MANAGING DIRECTOR<br>
				NIGER DELTA DEVELOPMENT COMMISSION (NDDC)<br>
				167 ABA ROAD, PORT HARCOURT<br>
				RIVERS STATE.
			</strong>
		</p>

		<h3 class="heavy text-center text-underline">ADVANCE PAYMENT GUARANTEE</h3><br>

		<p><b>RE: CONTRACT FOR THE</b> <span class='nddc-2'></span></p>

	    <p>IN CONSIDERATION of your making an advance payment of <span class='nddc-3'></span>   (<span class='nddc-4'></span> <b>only</b>) to <b><span id='name_of_contractor'></span> </b> of <span id='address_of_contractor'></span> (hereinafter called  "the Contractor"), we, FIRST BANK OF NIGERIA LIMITED, whose registered office is at No. 35, Marina, Lagos (hereinafter called "the Bank") as instructed by the Contractor agree unconditionally and irrevocably to guarantee, as primary obligor, and not as Surety the payment to <b>NIGER DELTA DEVELOPMENT COMMISSION (NDDC)</b> (hereinafter called "the Employer") for <span id='contract_desc'></span>" on its first demand without whatsoever right of objection or inquiry on our part and without its first demand to the Contractor in the amount not exceeding the said sum of <span id='guraantee_amount_in_figure'></span> (<span id='guraantee_amount_in_words'></span> only)  and in respect of which sum we bind ourselves, our successors and assigns by these present.</p>

		<p>We further agree that no changes or additional or other modification of the terms of the contract or any works to be performed there under or any of the contract documents which may be made between the Contractor and the Employer shall in any way release us from liability under this Guarantee and we hereby waive notice of any such change, addition or other modification.</p>

		<p>The amount covered by this Guarantee shall however be progressively decreased by the sums reimbursed by the Contractor to the Employer in terms of the value of works satisfactorily executed under the contract upon presentation by the Contractor to the Bank of certifying documents approved and authenticated by the Employer or any of the authorized representative of the Employer.</p>

		<p>This Guarantee shall take effect and remain valid from the date of payment of the said sum of <span id='aps_figure'></span> (<span id='aps_word'></span> only)  into the Contractor’s account with Bank until the Employer shall have received full payment from the Contractor of the sum advanced in terms of the value of goods supplied or works satisfactorily executed in accordance with the terms and conditions of the contract. </p>
		
		<p>THIS GUARANTEE is personal to yourselves and is not transferable or assignable and shall be governed by the laws of the Federal Republic of Nigeria with exclusive jurisdiction vested in Nigerian Courts.</p>

		<p>
			<b>Dated this <span id='nddc-10'></span></b>

			<br><br><br><br>
			The COMMON SEAL of<br>
			<b>FIRST BANK OF NIGERIA LIMITED</b><br>
			was hereunto affixed<br>
			in the presence of<br><br>
	 
		</p>

		<div>
			<table width="100%">
				<tr>
					<td width="50%">
						................................................................<br>
						<b>COMPANY SECRETARY</b><br><br><br><br>
					</td>
					<td width="50%">
						................................................................<br>
						<b>DIRECTOR/AUTHORISED SIGNATORY</b><br><br>
						................................................................<br>
						<b>NAME</b><br>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-2 theLetter text-justify" id="adv" contentEditable="true">
		<p class="text-muted">
			Legal Services Department<br>
			Samuel Asabia House, 35 Marina,<br>
			P.O.Box 5216, Lagos, Nigeria<br>
			Telephone: +234 1 905 2293<br>
			Web: www.firstbanknigeria.com<br><br>
			<strong>
                <span class='adv-0'></span><br>
				<span class='adv-1'></span><br>
			    <span class='adv-2'></span><br>
               
			</strong>
		</p>

		<h3 class="heavy text-center text-underline">ADVANCE PAYMENT GUARANTEE</h3><br>

		<p><b>WHEREAS</b>, <span class='adv-1'></span> (hereinafter called "the Employer") has awarded a contract in the sum of <span class='adv-3'></span> (<span class='adv-4'></span>) only to <span class='adv-5'></span> with office at <span class='adv-6'></span> (hereinafter called "the Contractor")  <span class='adv-7'></span> (hereinafter called "the Contract").</p>

		<p><b>AND WHEREAS</b> it has been stipulated by the Employer that the Contractor shall furnish it with an <b>ADVANCE PAYMENT GUARANTEE</b> for the sum of <span class='adv-8'></span> <span class='adv-9'></span>) only being <span class='adv-10'></span> of the contract sum.</p>

		<p><b>AND WHEREAS</b>  We, <b>FIRST BANK OF NIGERIA LIMITED</b> (hereinafter called "the Bank") have agreed to issue the <b>ADVANCE PAYMENT GUARANTEE</b> on behalf of the Contractor.</p>

		<p><b>THEREFORE</b> we hereby affirm that we are Guarantors and responsible to you, on behalf of the Contractor up to but not exceeding a total amount of<span class='adv-11'></span> (<span class='adv-12'></span>) only and we undertake to pay you in the event that having performed your obligation under the Contract, the Contractor has failed to give value for the sum advanced towards the performance of the Contract.</p>

		<p><b>PROVIDED HOWEVER THAT</b> our liability shall be reduced in proportion to the extent of work done or supplies made by the Contractor towards the performance of the Contract, as evidenced by any written document showing such works or supplies made by the Contractor. </p>

		<p>The Guarantee shall come into effect from the date the advance payment sum of <span class='adv-13'></span> (<span class='adv-14'></span>) only is received in good funds into the Contractor’s account No. <span class='adv-15'></span> with <span class='adv-16'></span> branch of First Bank of Nigeria Limited and upon becoming effective, shall be valid for a period not exceeding <span class='adv-17'></span> thereafter but not later than       or upon return of this original Guarantee for cancellation, whichever is earlier.  Notwithstanding anything herein contained express or implied, if a lower sum is received by the Bank as advance payment under the Contract from the Employer, the Bank’s liability shall not exceed the amount actually received in the Contractor’s account.</p>

		<p>This Guarantee is limited to the Contractor’s failure to give value for the Advance Payment sum towards the Contract. It is not a continuing security and shall not extend to any other sum payable to the Employer by the Contractor; neither shall it extend to cover any other transaction between them. It is limited to the Contractor's obligations under the Contract as aforesaid, and shall not extend to cover any interest charges, losses, damages, expenses, taxes or other liabilities of any nature whatsoever, that may arise in respect of the Contract.</p>

		<p>Notice of the Contractor’s failure to give value for the sum advanced by the Employer shall be given to the Guarantor at least five (5) days before any demand is made on this Guarantee.</p>

		<p>This Guarantee shall expire on <span class='adv-18'></span> and shall cease to subsist after expiration whether or not the Advance Payment Sum is received as aforesaid and whether this original Guarantee is returned for cancellation or not.</p>

		<p>This Guarantee shall be governed and construed in accordance with the Laws of Federal Republic of Nigeria.</p>

		<p>
			<b>THIS GUARANTEE</b> is personal to you and is not transferable or assignable.<br><br>
			<b>Dated this <span class='adv-19'></span></b>
			<br><br>
			The COMMON SEAL of<br>
			<b>FIRST BANK OF NIGERIA LIMITED</b><br>
			was hereunto affixed in the presence of<br><br>
	 
		</p>

		<div>
			<table width="100%">
				<tr>
					<td width="50%">
						................................................................<br>
						<b>COMPANY SECRETARY</b><br><br><br><br>
					</td>
					<td width="50%">
						................................................................<br>
						<b>DIRECTOR/AUTHORISED SIGNATORY</b><br><br>
						................................................................<br>
						NAME<br>
					</td>
				</tr>
			</table>
		</div>
	</div>
	
	<div class="col-md-8 col-md-offset-2 theLetter text-justify" id="airtel" contentEditable="true">
		<strong>
			<div class="col-sm-1 no-padding"></div><div class="col-sm-11" id='airtel-0'></div>
			<div class="col-sm-1 no-padding">TO:</div><div class="col-sm-11">AIRTEL NETWORKS LIMITED</div>
            <div class="col-sm-11 col-sm-offset-1">Plot L2</div>
			<div class="col-sm-11 col-sm-offset-1"><em>Banana Island Foreshore</em> </div>
			<div class="col-sm-11 col-sm-offset-1">Ikoyi</div>
			<div class="col-sm-11 col-sm-offset-1">Lagos State</div>
		</strong>

		<h3 class="heavy text-center text-underline">BANK GUARANTEE</h3><br>

		<p>In satisfaction of one of the conditions for the grant of a credit sale facility by Airtel Networks Limited (hereinafter referred to as 'Airtel') to  <span class='airtel-1'></span>   of  <span class='airtel-2'></span> (hereinafter referred to as "the Company") as contained in the Offer Letter dated  <span class='airtel-3'></span> and any subsequent renewal of the Offer Letter on the same terms and conditions (copies of which shall be forwarded to the Bank) (the Offer Letter), FIRST BANK OF NIGERIA LIMITED of 35, Marina, Lagos  (RC. No. 6290) (hereinafter referred to as ‘the Guarantor’) hereby irrevocably and unconditionally guarantees as <b>SECONDARY OBLIGOR</b>, the full and punctual payment of the sum of  <span class='airtel-4'></span>  (<span class='airtel-5'></span>) only being indebtedness of the Company to Airtel and future indebtedness hereafter concluded including interest, collection expenses or other amounts payable to Airtel (collectively, the Company’s obligations); provided that, other than as stated elsewhere in this Bank Guarantee, the total amount payable hereunder shall not exceed the sum of <span class='airtel-6'></span>  (<span class='airtel-7'></span>) only.</p>

		<p>Airtel shall be entitled to enforce the terms of this Bank Guarantee irrespective of the fact that it is not an executing party and the Guarantor acknowledges and agrees that this Guarantee is and at all times shall be a continuing security and shall extend to cover the ultimate balance due at any time from the Company to Airtel.</p>
	 
		<p class="col-md-1 no-padding"><b>1.</b> </p><p class="col-md-11"><b>GUARANTEE AND INDEMNITY</b></p>

		<p class="col-md-1 no-padding">1.1</p>
		<p class="col-md-11">
			The Guarantor hereby irrevocably and unconditionally guarantees:
		</p>

		<div class="col-md-11 col-md-offset-1">

			<p class="col-md-1 no-padding">1.1.1</p> <p class="col-md-11">that if the Company fails to honour its obligations under the Offer Letter whenever due, then the Guarantor shall pay to Airtel no later than within 10 working days of formal demand being made to the Guarantor, all monies and liabilities which as stated above have been, or are now or at any time hereafter shall have been advanced to, become due, owing or incurred by the Company to or in favour of Airtel under or in connection with the Offer Letter. For this purpose, the Guarantor hereby acknowledges its actual knowledge of the terms and conditions of the Offer Letter and the obligations of the Company thereunder. Provided that Airtel shall notify the Company of its default (by email and letters) and shall be at liberty to charge the Guarantor interest at the prevailing rate for such repayment obligations not fulfilled by the Guarantor within the agreed 10 working days; </p>

			<p class="col-md-1 no-padding">1.1.2</p> <p class="col-md-11">the due, punctual performance and discharge by the Company of all its obligations and liabilities under the Offer Letter.</p>
		</div>

		<p class="col-md-1 no-padding">1.2</p>
		<p class="col-md-11">
			The Guarantor in accordance with the terms of this Bank Guarantee, hereby agrees to indemnify and keep Airtel indemnified in full upon demand against all losses, costs and expenses allowed by Clause 1.1.1 above, suffered or incurred by Airtel arising from or in connection with Airtel making available the credit facility to the Company under the Offer Letter.
		</p>

		<p class="col-md-1 no-padding"><b>2.</b> </p><p class="col-md-11"><b>DEMAND</b></p>

		<p class="col-md-1 no-padding">2.1</p>
		<p class="col-md-11">
			A demand in writing hereunder by Airtel or on its behalf to the Guarantor shall be deemed to have been sufficiently given if sent to it by post or by leaving same at the registered address or place of business or last known address of the Guarantor.
		</p>

		<p class="col-md-1 no-padding">2.2</p>
		<p class="col-md-11">
			Prior to a demand in Clause 2.1 above, Airtel shall notify the Company of its default by email or by letters sent to the Company’s designated address. 
		</p>

		<p class="col-md-1 no-padding"><b>3.</b> </p><p class="col-md-11"><b>PAYMENT</b></p>

		<p class="col-md-1 no-padding">3.1</p>
		<p class="col-md-11">
			All sums due and payable by the Guarantor under this Guarantee shall be paid to Airtel in full without any set-off by the Guarantor, condition or counterclaim whatsoever and shall also be free and clear of all deductions or withholdings whatsoever, save only as may be required by law or regulation. Reflecting payments made after the demand is made.
		</p>

		<p class="col-md-1 no-padding">3.2</p>
		<p class="col-md-11">
			The Guarantor shall make payment to Airtel within 10 days of Airtel’s formal demand being made to the Guarantor. Airtel shall be at liberty to charge the Guarantor interest at the Guarantor’s prevailing lending rate to Airtel for such repayment obligations not fulfilled by the Guarantor within the agreed 10 working days. 
		</p>

		<p class="col-md-1 no-padding"><b>4.</b> </p><p class="col-md-11"><b>PROTECTIVE CLAUSES</b></p>

		<p class="col-md-1 no-padding">4.1</p>
		<p class="col-md-11">
			The liability of the Guarantor shall not be affected nor shall this Guarantee be discharged or diminished by reason of:
		</p>

		<div class="col-md-11 col-md-offset-1">

			<p class="col-md-1 no-padding">4.1.1</p> <p class="col-md-11">release, extension, renewal, variation, determination, modification of this Bank Guarantee except where specifically provided for in this Bank Guarantee; </p>

			<p class="col-md-1 no-padding">4.1.2</p> <p class="col-md-11">any alleged or purported misrepresentation by the Company or non-disclosure of any facts or circumstances, whether deemed to be material or otherwise, by Airtel or the Company, or any alleged mistake of any facts, whether material or otherwise, on the part of the Guarantor;</p>

			<p class="col-md-1 no-padding">4.1.3</p> <p class="col-md-11">the grant of time or of any indulgence to the Company by Airtel; </p>

			<p class="col-md-1 no-padding">4.1.4</p> <p class="col-md-11">abstaining from the perfection or enforcement of any security or guarantee on the part of Airtel with regard to any security or guarantee now or hereafter held from the Company or any other person, including any signatory to this Guarantee, in respect of the indebtedness; </p>

			<p class="col-md-1 no-padding">4.1.5</p> <p class="col-md-11">any delay on Airtel’s part in exercising its rights against the Company or under this Guarantee or failure by Airtel to give any notice to the Guarantor, in so far as the delay is not later than 30 days after the expiration of the Bank Guarantee for products purchased during the duration of the Bank Guarantee;</p>
			
			<p class="col-md-1 no-padding">4.1.6</p> <p class="col-md-11">failure or inability of Airtel to enforce its rights against the Company;</p>

			<p class="col-md-1 no-padding">4.1.7</p> <p class="col-md-11">any subsisting writ of summons taken out against the Bank or Airtel to prevent the encashment of the BG inter alia; provided that Airtel shall give an undertaking to refund such payment in the event that the court decides in its final judgment on the merits in such suit (which is not appealed within the time set for appeal by the relevant rules) that Airtel is not entitled to the money paid.</p>

			<p class="col-md-1 no-padding">4.1.8</p> <p class="col-md-11">discharge of the Company in bankruptcy or other legal proceedings.</p>
		</div>

		<p class="col-md-1 no-padding">4.2</p>
		<p class="col-md-11">
			This Guarantee shall not be discharged or affected by anything that would not have discharged or affected the Guarantor’s liability if the Guarantor had been a primary debtor to Airtel instead of a guarantor.
		</p>

		<p class="col-md-1 no-padding"><b>5.</b> </p>
		<p class="col-md-11">
			<b>NO EXCLUSION</b>
			<br>This Guarantee shall be in addition to and shall not affect or be affected by or merge with any other judgement, security, right or remedy obtained or held by Airtel from time to time for the discharge and performance of any of the liabilities and obligations of the Company to Airtel under the Offer Letter.
		</p>

		<p class="col-md-1 no-padding"><b>6.</b> </p><p class="col-md-11"><b>NOTICES &amp; INFORMATION SHARING</b></p>

		<p class="col-md-1 no-padding">6.1</p>
		<p class="col-md-11">
			Any notice to be given under or in connection with this Agreement, shall be deemed to have been properly given by a Party if it is delivered by hand (including commercial courier), email or sent by facsimile to the other Party, at the address or facsimile number given below:
		</p>

		<div class="col-md-11 col-md-offset-1">
			<table>
				<tr>
					<td style="width: 50%">
						<b>To Airtel:</b><br>
						Airtel<br>				
						Plot L2<br>			
						Banana Island<br>			
						Ikoyi, Lagos State<br>
						Tel: 234(0) 8021900000<br>
						Attention: Chief Sales &amp; Distribution Officer
					</td>
					<td>
						<b>To The Guarantor:</b><br><br><br><br><br><br><br>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<br><br>
						<b>To THE COMPANY:</b><br>
						<br>
						<tab>Tel: Attention: </tab><br><br>
					</td>
				</tr>
			</table>
		</div>	

		<p class="col-md-1 no-padding">6.2</p>
		<p class="col-md-11">
			Where the Company consents, Airtel Networks Limited shall share information on the Company’s trading and other account details with the Guarantor and other persons designated by the Company.
		</p>

		<p class="col-md-1 no-padding">6.3</p>
		<p class="col-md-11">
			All information, request for variations to Airtel shall be made to Airtel at its head office for the time being at Plot L2, Banana Island Ikoyi Lagos, marked for the attention of the CCO and copied to the CFO and CEO.
		</p>

		<p class="col-md-1 no-padding"><b>7.</b> </p><p class="col-md-11"><b>ASSIGNMENT</b></p>

		<p class="col-md-1 no-padding">7.1</p>
		<p class="col-md-11">
			Neither the Guarantor nor the Company shall assign any or all of its obligations under this Agreement to any third party; however, it may be permissible for the Guarantor to so do where such third party is a product of its merger or reconstruction.
		</p>

		<p class="col-md-1 no-padding">7.2</p>
		<p class="col-md-11">
			The obligations and liabilities of the Guarantor under this guarantee shall be binding upon its successors and assigns.  
		</p>

		<p class="col-md-1 no-padding">7.3</p>
		<p class="col-md-11">
			Airtel shall be entitled to assign its rights and obligations to its affiliate company, subject to the provision of written notification to other parties.
		</p>

		<p class="col-md-1 no-padding">7.4</p>
		<p class="col-md-11">
			In the event that Airtel assigns its rights and obligations, such assigns or persons shall thereupon become vested with all the rights in respect thereof.
		</p>

		<p class="col-md-1 no-padding"><b>8.</b> </p>
		<p class="col-md-11">
			<b>AMENDMENT</b>
			<br>This Bank Guarantee may not be amended, except by an instrument in writing, executed by the Parties. No modification or amendment hereto shall be effected by oral acknowledgment or acceptance by either Party.
		</p>

		<p class="col-md-1 no-padding"><b>9.</b> </p>
		<p class="col-md-11">
			<b class="text-uppercase">Severability</b>
			<br>If any term or provision of this Agreement is determined to be illegal, unenforceable, or invalid in whole or in part for any reason, such illegal, unenforceable, or invalid provision or part(s) thereof shall be struck from this Agreement and such provision shall not affect the legality, enforceability, or validity of the remainder of this Agreement, and the provision struck off shall be replaced, to the extent possible, with a legal, enforceable, and valid provision that is as similar in tenor to the provision struck off,  as is legally possible.
		</p>

		<p class="col-md-1 no-padding"><b>10.</b> </p>
		<p class="col-md-11">
			<b class="text-uppercase">Governing Law</b>
			<br>This Agreement shall in all respects be governed by and construed and enforced in accordance with Nigerian Law, including all matters of construction, validity and performance.
		</p>

		<p class="col-md-1 no-padding"><b>11.</b> </p>
		<p class="col-md-11">
			<b class="text-uppercase">SPECIAL INSTRUCTIONS AS TO STOCK RELEASE</b>
			<br>The Parties agree that the Company shall designate a representative to receive stock covered by this Bank Guarantee from Airtel. Once such notification is given to Airtel, it shall take effect prospectively from the date of the notification and shall only be modified upon the expiry of the Bank Guarantee or by a letter from the Company and countersigned by the Guarantor.
		</p>

		<p class="col-md-1 no-padding"><b>12.</b> </p>
		<p class="col-md-11">
			<b class="text-uppercase">WARRANTIES:</b>
			<br>The Guarantor represents and warrants that it is a corporation duly formed, validly existing and in good standing under the laws of the Federal Republic of Nigeria, that execution, delivery and performance by the Guarantor of this guarantee are within the Guarantor’s corporate powers and in furtherance of its corporate purposes, have been duly authorized by all necessary corporate action on behalf of the Guarantor, and do not contravene any law or contractual restriction binding on the Guarantor; that this guarantee is a valid and legally binding obligation of the Guarantor enforceable in accordance with its terms and that neither the Guarantor or any of its property has any immunity from jurisdiction of any court or from any legal process.  The Guarantor agrees and states that this guarantee is given for valuable consideration offered by the Company.
		</p>

		<p class="col-md-1 no-padding"><b>13.</b> </p>
		<p class="col-md-11">
			<b class="text-uppercase">SUBROGATION:</b>
			<br>The Guarantor shall not be subrogated to any rights of Airtel unless and until Airtel has received full payment of all the Company’s obligations.
		</p>

		<p class="col-md-1 no-padding"><b>14.</b> </p><p class="col-md-11"><b>DURATION AND TERMINATION:</b></p>

		<p class="col-md-1 no-padding">14.1</p>
		<p class="col-md-11">
			This is a continuing guarantee and shall remain in full force and effect for a period of one year from the date hereof ('the Duration'), after which it shall become void whether or not it is returned to the Guarantor for cancellation. The Guarantee shall cover all Credit Sales made to the Company during the Duration and shall cover demands made by Airtel during the tenor of the Guarantee and till 30 days after the expiry of the Guarantee. 
		</p>

		<p class="col-md-1 no-padding">14.2</p>
		<p class="col-md-11">
			No termination, purported termination or notice of termination of this guarantee shall be of any effect or discharge the Guarantor from any of its obligations herein unless given in writing upon a prior written notice of not less than sixty (60) days within which Airtel shall have recovered all sums outstanding against the Company from the Guarantor, failing which the termination, purported termination or Notice of termination shall be of no force or effect whatsoever and the guarantee shall continue in force as if no such termination, purported termination or notice of termination was ever issued.
		</p>

		<p class="col-md-1 no-padding"><b>15.</b> </p>
		<p class="col-md-11">
			<b class="text-uppercase">OBLIGATIONS:</b>
			<br>The obligations of the Guarantor under this Bank Guarantee relating to stock released on credit to the Company shall be absolute and unconditional, shall not be reduced by the Guarantor’s claims against the Company and shall be enforceable without regard to any vitiating circumstances.
		</p>

		<p class="col-md-offset-1 col-md-11">
			<b>IN WITNESS WHEREOF</b>, the under signed Guarantor has caused its <b>COMMON SEAL</b> to be hereto affixed this  <span class='airtel-8'></span>

			<br><br>
			The <b>COMMON SEAL</b> of the within named:<br>
			<b>THE GUARANTOR</b>
			Was hereunto affixed in the presence of<br><br>
	 
		</p>

		<div class="col-md-11 col-md-offset-1">
			<table width="100%">
				<tr>
					<td width="50%">
						................................................................<br>
						<b>DIRECTOR/AUTHORIZED SIGNATORY</b><br><br>
						................................................................<br>
						<b>NAME</b>
					</td>
					<td width="50%">
						................................................................<br>
						<b>SECRETARY</b><br><br><br><br>
					</td>
				</tr>
			</table>
		</div>
	</div>

      <div class="col-md-8 col-md-offset-2 theLetter text-justify" id="nonbankformat" contentEditable="true">
        <p class="text-muted">
           
            <strong>
                <span class='nonbankformat-0'></span><br>
                <!--<span class='adv-1'></span><br>
                <span class='adv-2'></span>-->
            </strong>
        </p>

        <h3 class="heavy text-center text-underline nonbankformat-1"></h3><br>
        <p class='nonbankformat-2'></p>
        <br/><br />
        <p> Comment: <span class='nonbankformat-3'></span></p>

        <div class="col-md-11 col-md-offset-1">
            <table width="100%">
                <tr>
                    <td width="50%">
                        <span class="nonbankformat-4"></span>
                    </td>

                    <td width="50%">
                        ................................................................<br>
                       
                    </td>
                   
                </tr>
            </table>
        </div>          
</div>


    <div class="col-md-8 col-md-offset-2 theLetter text-justify" id="la" contenteditable="true">
        <p class="text-muted">

            <strong>
                <span class='la-0'></span><br>
                <!--<span class='adv-1'></span><br>
                <span class='adv-2'></span>-->
            </strong>
        </p>

        <h3 class="heavy text-center text-underline"></h3> <p class='la-1'></p>
        <br>
        <p class='la-2'></p>
        <br /><br />
        <p> Comment: <span class='la-3'></span></p>

        <div class="col-md-11 col-md-offset-1">
            <table width="100%">
                <tr>
                    <td width="50%">
                        <span class="la-4"></span>
                    </td>

                    <td width="50%">
                        ................................................................<br>

                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>
		
<script src="../assets/js/export.js" type="text/javascript"></script>
<script>
	(function () {
	    $('[data-toggle="tooltip"]').tooltip();

	    //$(".buttonactions").hide();

	    //$("#print_target, button:selected").click(function () {
	    //    $(".buttonactions").show();
	    //});
	    $('#openFile').on('click', function () {

	        window.open("../resources/Export_PDF/Pdf");
	    });

	    $('#openWord').on('click', function () {

	        window.open("../resources/Export_WORD/Word/");
	    });

	    $(".loadExport").hide();
	    $("#print-table > #print_target").on('click', function (e) {
	        e.preventDefault();
	        $(".loadExport").show();
	    });

	    //$(".btn btn-default btn-info dropdown-toggle").on('click', function() {

	    //    alert("E");
	    //});
	})();

</script>