﻿<div class="row">
   
    <div class="col-sm-6">
        <div class="btn-group" role="group" aria-label="...">
            <button id="view_refresh" type="button" class="btn btn-default ">Refresh View</button>
            <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#newprocessModal">New Process</button>
             
        </div>
        <span class="xprocess_control xpublished hidden">
            <label class="badge label-success">PUBLISHED</label>
        </span>
        <span class="process_control unpublished hidden">
            <button id="visualize_modal_btn" type="button"  data-toggle="modal" data-target="#visualize_modal" class="fa fa-plus-square btn btn-sm btn-info pull-right">&nbsp;&nbsp;Visualize Selected Process</button>
            <button type="button" data-toggle="modal" data-target="#newstageModal" class="fa fa-plus-square btn btn-sm btn-primary pull-right">&nbsp;&nbsp;Add New Stage</button>
        </span>
    </div>
    
    <div class="col-sm-6">
       
    </div>
    
</div>
<p>
    &nbsp;
</p>
<div class="row">

    <div class="col-sm-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Processes</h3>
      </div>
      <div class="panel-body">
        
        <div id="process_list" class="list-group">
          <h3>Loading...</h3>
        </div>
      </div>
    </div>
         
    </div>
    <div class="col-sm-3 ">
        <div class="panel panel-default">
        
        
          <div class="panel-heading">
            <h3 class="panel-title">Stages</h3>
            
          </div>
          <div class="panel-body">
             <div id="stage" class="list-group">
              
            </div>
          </div>
        </div>
    </div>
    <div class="col-sm-6 ">
        <div id="form-views" class="panel panel-default hidden">
          <div class="panel-heading">
            <h3 class="panel-title"></h3>
          </div>
          <div class="panel-body">
            <div class="container-fluid">
                <div class="row well well-sm">
                    <div class="col-sm-12">
                        <label>Select Form</label>
                        <select class="form-control stageform-dropdown"></select>
                    </div>
                </div>
                <div class="row">
                    <h3>Form Preview</h3>
                    <input type="hidden" id="form_id" />
                    <input type="hidden" id="stage_id" />
                    <button id="add_form_to_stage_btn" type="button" class="btn btn-sm btn-primary">Attach to Selected Stage</button>
                    <button id="remove_form_to_stage_btn" type="button" class="btn btn-sm btn-danger hidden">Remove Form from Stage</button><p>&nbsp;</p>
                    <form id='form' action='' method='post'></form>
                </div>
            </div>
          </div>
        </div>
    </div>
    

    <div class="col-sm-4 well hidden">
        <h4>Selected Process</h4>
        <div id="tree1"></div>
    </div>
    <div class="col-sm-8 hidden">
        <div id="t1" class="tree">
        </div>
       
    </div>
</div>
<div class="modal fade" id="newprocessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Process</h4>
      </div>
      <div class="modal-body">
        <div id="user_alert" class="page_alert alert hide"></div>
        <div class="form-group">
            <label for="process_name">Name</label>
            <input type="text" class="form-control" id="process_name" placeholder="Name of process">
        </div>
        <div class="form-group">
            <label for="process_description">Description</label>
            <textarea class="form-control" id="process_description" ></textarea>
        </div>
        <div class="form-group">
            <label for="process_reassign">Who can re-assign on this process ?</label>
            <div class="well well-sm">This describes the role that can act on this process in the case of re-assignment.</div>
           <select id="process_reassign" class="form-control role_drop_down"></select>
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="create_process" type="button" class="btn btn-primary">Create Process</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="newstageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="H1">Add New Stage To <span class='selected_process capitalize'></span></h4>
      </div>
      <div class="modal-body">
        <div id="Div2" class="page_alert alert hide"></div>
        <div class="form-group">
            <label for="stage_name">Name</label>
            <input type="text" class="form-control" id="stage_name" placeholder="Name of Stage">
        </div>
        <div class="form-group">
            <label for="stage_description">Description</label>
            <textarea class="form-control" id="stage_description" ></textarea>
        </div>
        <div class="form-group">
            <label for="stage_role">Actor Role</label>
            <div class="well well-sm">This describes the role that can act on this stage.</div>
           <select id="stage_role" class="form-control role_drop_down"></select>
        </div>
        <div class="form-group hidden">
            <label for="stage_role">Stage Form</label>
            <div class="well well-sm">This can be left blank for now if no form has been created</div>
           <select class="form-control stageform-dropdown">
           </select>
        </div>
        
        <div class="form-group">
            <label for="stage_role">Stage Type</label>
            <div class="well well-sm alert alert-danger">This describes the start stage of the process.<b>PLEASE NOTE: A PROCESS CAN ONLY HAVE ONE START STAGE</b>.</div>
           <select id="stage_type" class="form-control">
                <option selected value="1">NORMAL STAGE</option>
                <option value="2">START STAGE - (ONLY ONE CAN EXIST FOR A PROCESS)</option>
           </select>
        </div>
        
      </div>
      <div class="modal-footer">
        <input type="hidden" name="process_id" id="process_id" />
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="addStageBtn" type="button" class="btn btn-primary">Add Stage</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="visualize_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" style="width:100%; height:400px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="H2">Workflow for <span class='selected_process capitalize'></span></h4>
      </div>
      <div class="modal-body">
       <!--<div id="drawing" style="width:95%;height:600px" class="view"></div>
            <div  class="view" style="width:100%;height:600px;position:inherit;">
                <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <pattern id="smallGrid" width="4" height="4" patternUnits="userSpaceOnUse">
                            <path class="cube" d="M 4 0 L 0 0 0 4" fill="none" stroke="gray" stroke-width="0.5"/>
                        </pattern>
                        <pattern id="grid" width="80" height="80" patternUnits="userSpaceOnUse">
                            <rect width="80" height="80" fill="url(#smallGrid)"/>
                            <path d="M 80 0 L 0 0 0 80" fill="none" stroke="gray" stroke-width="1"/>
                        </pattern>
                    </defs>

                    <rect width="100%" height="100%" fill="url(#grid)" />
                </svg>
            </div>
            <div class="clear"></div>-->
            <iframe width="100%" height="600px" style="border:none" src="../Components/blank.htm" id="modal_loader"></iframe>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="../assets/js/flowchart.js"></script>
<style>
        .setFocus{
            fill:red;
        }
        .view{
            position: absolute;
        }
        .clear
        {
            clear:both;
        }
        #drawing{
            z-index: 1000;;
        }
    </style>
<script type="text/javascript">

    $(function () {
       /* $('#tree1').tree({
            data: PageHandler.Process.parseData(sample_data, sample_process),
            dragAndDrop: true,
            selectable: false,
            autoOpen: 1
        });
        $('#tree1').bind(
            'tree.move',
            function (event) {
                /*console.log('moved_node', event.move_info.moved_node);
                console.log('target_node', event.move_info.target_node);
                console.log('position', event.move_info.position);
                console.log('previous_parent', event.move_info.previous_parent);
                console.log($('#tree1').tree('toJson'));
            }
        );
        $('#tree_refresh').on('click', function () {
            var $button = $('#tree1').clone(true);
            var widgetHTML = $button.html();
            widgetHTML = widgetHTML
               .replace(/<div>/g, '<a>')
               .replace(/<\/div>/g, '</a>')
               .replace(/class/g, 'xclass');
            $button.html(widgetHTML);
            $('#t1').html($button);
        });*/
        $('#visualize_modal').on('shown.bs.modal', function (event) {
            var modal = $(this)
            modal.find('.modal-title').text('Visual Designer');
            var process_id = ($("#process_id").val());
            $("#modal_loader").attr("src", "../Admin/chart.aspx#"+process_id);
            //modal.find('.modal-body').val("Loading ...");
            //initDesigner();
        });
        $("#visualize_modal").on('hidden.bs.modal', function (event) {
            var modal = $(this);
            modal.find('.modal-title').text('');
            $("#modal_loader").attr("src", "../Components/blank.htm");
        });
    });
</script>

