﻿<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container" id="uniquereports">
            <div class="dropdown col-lg-3 col-md-6">
                <button class="btn btn-default btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    LITIGATION UNIT
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li><a repid="23" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu1.htm">Consolidated Litigation Schedule</a></li>
                    <li><a repid="24" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu2.htm">Cases and Matters Occasioned from each Case Type (Recovery, Land, etc)</a></li>
                    <li><a repid="26" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu3.htm">Litigation Schedule for Classified Assets Management Cases</a></li>
                    <li><a repid="27" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu4.htm">Monthly Concluded Date Schedule</a></li>
                    <li><a repid="28" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu5.htm">Garnishee and Mareva Schedule</a></li>
                    <li><a repid="29" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu6.htm">Monthly Cost of Litigation Schedule</a></li>
                    <li><a repid="30" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu7.htm">Probate Portfolio</a></li>
                    <li><a repid="31" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu8.htm">External Solicitors’ Schedule</a></li>
                    <li><a repid="32" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu9.htm">Holding Reply Schedule</a></li>
                    <li><a repid="33" class="ajax-link3" href="#" data_url="../Components/reports/letigation_unit/lu10.htm">Litigation Unit Tracker</a></li>
                </ul>
            </div>
            <div class="dropdown col-lg-3 col-md-6">
                <button class="btn btn-default btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    HUB COORDINATION
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <!--<li><a repid="34" class="ajax-link3" href="#" data_url="../Components/reports/hub_coordination/hc1.htm">Weekly Status Report</a></li>-->
                    <li><a repid="35" class="ajax-link3" href="#" data_url="../Components/reports/hub_coordination/hc2.htm">Report of Actual Payments on Litigation</a></li>
                    <li><a repid="36" class="ajax-link3" href="#" data_url="../Components/reports/hub_coordination/hc3.htm">New Garnishee Schedule</a></li>
                    <li><a repid="37" class="ajax-link3" href="#" data_url="../Components/reports/hub_coordination/hc4.htm">New Cases Returns</a></li>
                    <li><a repid="38" class="ajax-link3" href="#" data_url="../Components/reports/hub_coordination/hc5.htm">Concluded Cases Report</a></li>
                    <li><a repid="39" class="ajax-link3" href="#" data_url="../Components/reports/hub_coordination/hc6.htm">Appeal Cases Report</a></li>
                </ul>
            </div>
            <div class="dropdown col-lg-3 col-md-6">
                <button class="btn btn-default btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    CORPORATE
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li><a repid="" class="ajax-link3" href="#" data_url="../Components/reports/corporate/cc1.htm">Distribution/Map of all Bank’s Properties with colour codingof perfection status</a></li>
                    <li><a repid="" class="ajax-link3" href="#" data_url="../Components/reports/corporate/cc2.htm">Distribution/Map of all Bank’s properties with colour coding of lease status</a></li>
                    <li><a repid="45" class="ajax-link3" href="#" data_url="../Components/reports/corporate/cc3.htm">In-House Requisition and Advisory Report</a></li>
                    <li><a repid="46" class="ajax-link3" href="#" data_url="../Components/reports/corporate/cc4.htm">Precedent Archival System for Knowledge Management</a></li>
                </ul>
            </div>
            <div class="dropdown col-lg-3 col-md-6">
                <button class="btn btn-default btn-info dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">
                    PERFECTION & SECURITIES
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                    <li><a repid="41" class="ajax-link3" href="#" data_url="../Components/reports/perfection/ps1.htm">Perfections Report</a></li>
                    <li><a repid="42" class="ajax-link3" href="#" data_url="../Components/reports/perfection/ps2.htm">Perfection Schedule</a></li>
                    <li><a repid="43" class="ajax-link3" href="#" data_url="../Components/reports/perfection/ps3.htm">Universal Perfection Schedule</a></li>
                    <li><a repid="44" class="ajax-link3" href="#" data_url="../Components/reports/perfection/ps4.htm">BRCC Report</a></li>
                    <!--<li><a class="ajax-link3" href="#" data_url="#">Perfections Schedule – Bank Property</a></li>
                    <li><a class="ajax-link3" href="#" data_url="#">Interest/Tenure Status Report</a></li>-->
                </ul>
            </div>
        </div>
    </div>
    <div id="reporter" class="panel-body">
        <label class="text-info text-justify">Select a Report Type</label>
    </div>

</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/UserHandler.js"></script>
<!--<script type="text/javascript" src="../assets/js/jquery.js"></script>-->
<script type="text/javascript">
    $(function () {
        /******************** Handle Link Clicks ****************************/
        $('.ajax-link3').click(function (event) {
            event.preventDefault();
            var das = $(this).attr('data_url');
            var repid = $(this).attr('repid');
            PageHandler.Resources.reportid = repid;
            // Lets Fetch Data First
            das += "?user=" + UserHandler.user.id + "&repid=" + repid;
           
            $('#reporter').empty().html("<div class='loading'>Loading ... please wait</div>");
            $('#reporter').load(das);
        });


        /******************** Handle Link Clicks ****************************/
    });
</script>

<!--  -->