﻿<div class="panel panel-default">
            <div class="panel-heading">
                <button class="btn btn-success hidden"   data-toggle="modal" data-target="#form_renderer" data-process="-1"  data-stage="-1" id="start_stage" type="button">New</button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
            <div>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"  data-toggle="tooltip" data-placement="top" title="Requests requiring your attention" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="request_title">Pending Requests</a></li>
                
              </ul>
              <br />
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid" >
                        <thead>
                            <tr role="row">
                                <th>#</th>
                                <th style="width: 260px;">Title</th>
                                <th>Request Date</th>
                                <th>Made By</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="request_list">
                       
                       </tbody>
                    </table>
                </div>
              
              </div>

            </div>

                
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <script>
        (function () {
            $('[data-toggle="tooltip"]').tooltip();
        })();
    </script>