﻿
<div class="row">
    <div class="col-sm-12">
        <div class="btn-group" role="group" aria-label="...">
            <button id="role_refresh" dataview="role" type="button" class="btn btn-default">Refresh</button>
            <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#myModal">New Role</button>
            <button type="button" class="btn btn-danger disabled selectedbranch">Deactivate Selected Roles</button>
        </div>
    </div>
    
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr>
                    <th><input class="check_all_branches" type="checkbox" /></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody id="tbody_roleList">
               
            </tbody>
        </table>                    
    </div>
    <div id="notice_window" class="col-sm-3 hidden"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New Role</h4>
      </div>
      <div class="modal-body">
        <div id="branch_alert" class="alert hide"></div>
        <div class="form-group">
            <label for="exampleInputEmail1">Role Name</label>
            <input type="text" class="form-control" id="role_name" placeholder="Role Name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="create_role" type="button" class="btn btn-primary">Create Role</button>
      </div>
    </div>
  </div>
</div>


