﻿<div class="row">

</div>
<div class="row"><hr /></div>
<div class="row">
    <div class="container" style="width: 100%; height: 75vh; overflow-y: scroll; margin-left: 0px; margin-right: 0px; margin-top: 10px;">


        <div class="">
            <table class="table table-bordered table-striped table-hover col-md-12" id="stage_requests-list">
                <thead>
                    <tr>
                        <th style="width: 50px;" class="text-center">S/N</th>
                        <th>Process</th>
                        <th>Request Title</th>
                        <th>Created By</th>
                        <th>Date Created</th>
                        <th>Branch</th>
                        <th>Current Stage Name</th>
                        <th>Status</th>
                        <th class="col-md-2">Action</th>

                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot></tfoot>
            </table>
        </div>

    </div>
</div>

<div class="modal fade" id="stage_request-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-primary" id="stage_request_modal_title" style="text-align: center; font-weight: bold;"></h4>
                <h4 class="modal-title text-primary hidden" id="stage_request_id" style="text-align: center; font-weight: bold;"></h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">

                        <div id="stage-container" style="height: 40vh; padding: 15px;">

                            <div style="text-align: center; font-weight: bold;">
                                <h4 id="role-role_user" style="font-weight: bold;"></h4>
                            </div>
                            <div id="content_result">
                                
                            </div>
                            <select id="role_user_data" class="form-control">
                                <option>Select One...</option>
                            </select>
                            <i class="arrow"></i>
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info " id="stage_reassign">Save Changes</button>
            

            </div>
        </div>
    </div>
</div>
