﻿<div class="row">
    <div class="col-sm-6">
        <div class="btn-group" role="group" aria-label="...">
            
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">New TradeMarks</button>
            
        </div>
    </div>


</div>
<div class="row"><hr /></div>
<div class="row">
    <div class="container" style="width:100%;height: 75vh; overflow-y: scroll; margin-left: 0px; margin-right: 0px; margin-top: 10px;">


    <div class="">
        <table class="table table-bordered table-striped table-hover col-md-12" id='trade_marks_list'>
            <thead>
            <tr>
                <th style="width: 50px;" class="text-center">S/N</th>
                <th>Process</th>
                <th>Request Title</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Branch</th>
                <th>Current Stage</th>
                <th>Current User</th>
                <th>Status</th>
                <th>Ref No</th>
                <th class="col-md-1">Action</th>
            </tr>
            </thead>
            <tbody></tbody>
            <tfoot></tfoot>
           <!-- <tbody id="allrequests-list"></tbody>-->
        </table>
    </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New TradeMarks</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="exampleInputEmail1">Date of Request</label>
                    <input type="date" class="form-control" id="request_date" placeholder="Request Date" required>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Date of Filling</label>
                    <input type="date" class="form-control" id="request_filling" placeholder="Filling Date" >
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Rtm Number</label>
                    <input type="date" class="form-control" id="rtm_number" placeholder="Rtm Number" >
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Certificate Number</label>
                    <input type="date" class="form-control" id="certificate_number" placeholder="Certificate Number" >
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Application Number</label>
                    <input type="date" class="form-control" id="application_number" placeholder="Application Number" >
                </div>


                <div class="form-group">
                    <label for="exampleInputEmail1">Date of Receipt Certificate</label>
                    <input type="date" class="form-control" id="receipt_certificate_date" placeholder="Date of Receipt Certificate">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Name of Solicitor</label>
                    <input type="date" class="form-control" id="solicitor_name" placeholder="Name of solicitor">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1"><span style="color: green;">Title</span></label>
                    <input type="date" class="form-control" id="solicitor_name" placeholder="Name of solicitor">
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button id="create_external" type="button" class="btn btn-primary">Create External Solicitor</button>
            </div>
        </div>
    </div>
</div>