﻿ <div class="btn-group" role="group" aria-label="...">
      <button id="treat_request"   data-toggle="modal" data-target="#proceed_renderer" data-backdrop="static" type="button" class="btn btn-danger"><i class="fa fa-square"></i> Treat Request</button>
    
      <span id="stage_user"></span>
    </div>
    
    <p>&nbsp;</p>
<div class="row">
    <div id="form_history_container" class="col-sm-8">
    <!--<div class="alerts alert-warninsg age-analysis">
        <a class="btn btn-info">Life Span (From Expected Time of Completion)  <span id="life_span" class="badge">42</span></a>
        <label><span class="label label-warning hidden"><i class="fa fa-exclamation-triangle"></i> Request Age (mins) : <span id="age"></span> &nbsp;&nbsp;&nbsp;</span></label>&nbsp;&nbsp;&nbsp;
        <label><span class="label label-danger hidden"><i class="fa fa-exclamation-triangle"></i> Time-to-live (mins) : <span id="ttl"></span> &nbsp;&nbsp;&nbsp;</span></label>
    </div>-->
	
	<div class="v-timeline vertical-container animate-panel" data-child="vertical-timeline-block" data-delay="1" id="timeline"></div>
	
	
           <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="false"></div>

    </div>
    <div class="col-sm-4">
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <i class="fa fa-bell fa-fw"></i> Resources
        </div>

                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                
                                <div>

                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Comments</a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Documents</a></li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div id="comment_list" class="list-group" style="max-height: 400px;overflow-x:wrap;overflow-y:auto">
                                        <a href="#" class="list-group-item">
                                            <label>Mr Ojo Roland</label><br />
                                            <i class="fa fa-comment fa-fw"></i> Requested Document
                                        </a>
                                        <a href="#" class="list-group-item">
                                        <label>Mr Ojo Roland</label><br />
                                            <i class="fa fa-comment fa-fw"></i> Requested Document
                                        </a>
                                        <a href="#" class="list-group-item">
                                        <label>Mr Ojo Roland</label><br />
                                            <i class="fa fa-comment fa-fw"></i> Requested Document
                                        </a>
                                    
                                    </div>
                                    <div id="comment_area">
                                        <textarea id="comment_box" class="form-control"></textarea><br />
                                        <button type="button" id="save_comment" class="btn btn-primary">Send</button>
                                    </div>
                                <!-- /.list-group -->
                                
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                   <div id="resource_list" class="list-group" style="max-height: 400px;overflow-x:wrap;overflow-y:auto">
                                      <a href="#" class="list-group-item"><i class="fa fa-file-text"></i> Case file #001
                                       <span class="label label-success">Download</span>
                                      </a>
                                      <a href="#" class="list-group-item"><i class="fa fa-file-text"></i> Certificate of ownership
                                      <span class="label label-success">Download</span>
                                      </a>
                                      <a href="#" class="list-group-item"><i class="fa fa-file-text"></i> Minute of meetings
                                      <span class="label label-success">Download</span>
                                      </a>
                                      <a href="#" class="list-group-item"><i class="fa fa-file-text"></i> Reference document
                                      <span class="label label-success">Download</span>
                                      </a>
                                      <a href="#" class="list-group-item"><i class="fa fa-file-text"></i> Case file #002
                                      <span class="label label-success">Download</span>
                                      </a>
                                    </div>
                                     <a data-id='0' class="btn btn-sm btn-success pull-right attach_doc"><i class="fa fa-comment fa-fw"></i> Attach New Document</a>
                                    
                                </div>
                              </div>

                            </div>

                            </div>
                            <!-- /.panel-body -->
                        </div>
    </div>
</div>
<script>
    (function () {
        $('[data-toggle="tooltip"]').tooltip();
    })();

    </script>