﻿
<div class="row">
    <div class="col-sm-6">
        <div class="btn-group" role="group" aria-label="...">
            <button id="users_refresh" type="button" class="btn btn-default">Refresh</button>
            <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#myModal">New User</button>
        </div>
    </div>
    
    
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-hover table-striped" id='user-list'>
            <thead>
              
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Telephone</th>
                    <th>Unit</th>
                    <th>Branch</th>
                    <th>Pri. Role</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!--<tbody id="user_list">
               
            </tbody>-->
            <tbody></tbody>
            <tfoot></tfoot>
        </table>                    
    </div>
    <div id="notice_window" class="col-sm-3 hidden"></div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Create New User</h4>
      </div>
      <div class="modal-body">
        <div id="user_alert" class="page_alert alert hide"></div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="text" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group" style="display:none;">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" value="123456">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First Name">
        </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Last Name">
          </div>
          <div class="form-group">
              <label for="exampleInputEmail1">Initial</label>
              <input type="text" class="form-control" id="initial" placeholder="Initial">
          </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Telephone</label>
            <input type="text" class="form-control" id="telephone" placeholder="Telephone">
        </div>
        <!--<div class="form-group">
            <label for="exampleInputEmail1">Middle Name</label>
            <input type="text" class="form-control" id="middlename" placeholder="Middle Name">
        </div>-->
        <div class="form-group">
            <label for="exampleInputEmail1">Unit</label>
            <select id="middlename" class="form-control">
                 <option value="">Please Chose a Unit</option>
                <option value="branch">Branch Office</option>
                <option value="corporate">Corporate & Contract</option>
                <option value="cam">Corporate Asset Managment</option>
                <option value="external">External Solicitor</option>
                <option value="hub">Hub Coordination</option>
                <option value="ic">Internal Control</option>
                <option value="ia">Internal Audit</option>
                <option value="ls">Legal Secretary</option>
                <option value="litigation">Litigation</option>
                <option value="perfection">Perfection</option>
                <option value="se">Service Executive</option>
                <option value="zo">Zonal Office</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Branch</label>
            <select id="branch_select" class="form-control"></select>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Primary Role</label>
            <select id="role_select" class="form-control"></select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="create_user" type="button" class="btn btn-primary">Create User</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="secRoleModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-danger" id="sec-title"></h4>
      </div>
      <div class="modal-body">
      <div class="row">
        <div id="Div2" class="page_alert alert hide"></div>
        </div>
        <div class="row">
        <div class="col-md-6">
        <h4>Available Sec. Roles</h4>
            <div class="list-group" id="available-role"></div>
            <button type="button" class="btn btn-small btn-success" id="add-sec-role">Add Selected Role</button>
        </div>
        <div class="col-md-6">
            <h4>Assigned Sec. Roles</h4>
            <div class="list-group"  id="assigned-role"></div>
            <button type="button" class="btn btn-small btn-danger" id="remove-sec-role">Remove Selected Role</button>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>

<script>
    
</script>

