﻿<div class="panel-heading">
                <button class="btn btn-success hidden"   data-toggle="modal" data-target="#form_renderer" data-process="-1"  data-stage="-1" id="start_stage" type="button">New Request</button>
            </div>


<div>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"  data-toggle="tooltip" data-placement="top" title="Requests requiring your attention" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Pending Requests</a></li>
               </ul>
              <br />
              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid" >
                        <thead style="background-color: #337ab7;color: white;">
                            <tr role="row">
                                <th>#</th>
                                <th style="width: 260px;">Request Type</th>
                                <th style="width: 260px;">Description</th>
                                <th>Request Date</th>
                                <th>Held By</th>
                                <th>Request Age </th>
                                <th>Made By</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="requests_home">
                       </tbody>
                    </table>
                </div>
               
              
              </div>

            </div>

<div class="modal fade" id="reassign_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Re-Assign This Task</h4>
      </div>
      <div class="modal-body">
        <div id="reassign_alert" class="alert hide"></div>
        <div class="form-group">
            <label for="exampleInputEmail1">Staff</label><br />
            <select class="form-control" id="new_task_staff_id"></select>
            <input type="hidden" id="task_id" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="reassign" type="button" class="btn btn-primary">Re-assign</button>
      </div>
    </div>
  </div>
</div>


    <script type="text/javascript">
        (function () {
            $('[data-toggle="tooltip"]').tooltip();
        })();
        $(document).ready(function () {
            $("#reassign_modal").on('hidden.bs.modal', function (event) {
                $("#new_task_staff_id").html("");
            });
            $("#reassign_modal").on('shown.bs.modal', function (event) {
                var modal = $(this);
                var button = $(event.relatedTarget)
                var role_id = button.data('stage_role_id');
                $("#task_id").val(button.data('id'));
                //modal.find('.modal-title').text('');
                //modal.find('#form_view').text('');
                PageHandler.getRoleUsers(role_id, function (response1) {
                    T.bindTo.genericBinding("#new_task_staff_id", T.templates.userDropDown, response1.data.data[0], function (_response) {
                        PageHandler.BindToDocument();
                    });
                });
            });
            $("#reassign").unbind("click").on("click", function () {
                var task_id = $("#task_id").val();
                var staff_id = $("#new_task_staff_id").val();
                PageHandler.reAssignTask(staff_id, task_id);
            });
        });
    </script>