﻿<button class="btn btn-success hidden"   data-toggle="modal" data-backdrop="static" data-target="#form_renderer" data-process="-1"  data-stage="-1" id="start_stage" type="button"><i class="fa fa-plus-square"></i> New Request</button>

<hr>

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="Requests requiring your attention" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i> Pending </a></li>
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="All Completed Requests"><a href="#complete" aria-controls="complete" role="tab" data-toggle="tab"><i class="fa fa-check-circle"></i> Completed </a></li>
    </ul>
    <br/>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                <tr role="row">
                    <th class='text-center' style='width: 25px;'>#</th>
                    <th style="width: 260px;"> Title</th>
                    <th class='col-sm-2'>Request Age </th>
                    <th class='col-sm-2'>Created By</th>
                    <th>Current Stage</th>
                    <th class='col-sm-1 text-center'>Action</th>
                </tr>
                </thead>
                <tbody id="requests_home">
                </tbody>
            </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="complete">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                <tr role="row">
                    <th class='text-center' style='width: 25px;'>#</th>
                    <th style="width: 260px;"> Title</th>
                    <th class='col-sm-2'>Request Age </th>
                    <th class='col-sm-2'>Created By</th>
                    <th class='col-sm-1 text-center'>Action</th>
                </tr>
                </thead>
                <tbody id="requests_completed">
                </tbody>
            </table>
        </div>


    </div>

</div>

<script>
        (function () {
            $('[data-toggle="tooltip"]').tooltip();

            
           
        })();

        //$(document).ready(function(event) {

        //    $('.userajax-link').bind('click').on('click', function (e) {

        //        if (UserHandler.user.role_id === 29) {
        //            var processId = $(this).data('process_id');
        //            if (processId === 1) {
        //                alert(processId);

        //                $("#user_page > #start_stage").hide();
        //            } else {
        //                $("#start_stage").show();
        //            }
        //        }
        //    });
        //});
       
    </script>