﻿/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;
	
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

td.capitalize
{
    text-transform:capitalize;
}


/*.menu_pane li {
	padding-left: 15px;
}*/

.menu_pane li a:hover {
	text-decoration:none;
	background-color: #EAC357;
	color: #FFFFFF;
}

.menu_pane li.active {
	background-color: #EAC357!important;
}

.menu_pane > li.active > a, .menu_pane > l i:hover > a {
	background-color: #EAC357!important;
	color: #FFFFFF;
	text-decoration:none;
}

.menu_pane li span {
	margin-left: 5px;
	text-transform: capitalize;
}

thead {
	background-color: #034267;
	color: #FFFFFF;
	text-transform: uppercase;
}

#calendar thead {
	background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
	color: #000000;
}

.panel-primary>.panel-heading {
	background-color: #034267;
	border-color: #034267;
}

.panel-primary {
	border-color: #034267;
}

.sorting_1, .text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.request_detail_link {
	cursor: pointer;
}


.vertical-container {
    width: 98%;
    margin: 0 auto
}

.vertical-container::after {
    content: '';
    display: table;
    clear: both
}

.v-timeline {
    position: relative;
    padding: 0;
    margin-top: 2em;
    margin-bottom: 2em
}

.v-timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #e3e8f0
}

.vertical-timeline-block {
    position: relative;
    margin: 2em 0
}

.vertical-timeline-block:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline-block:first-child {
    margin-top: 0
}

.vertical-timeline-block:last-child {
    margin-bottom: 0
}

.vertical-timeline-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid #e4e5e7;
    text-align: center;
    background: #fff
}

.vertical-timeline-icon i {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -9px
}

.vertical-timeline-content {
    position: relative;
    margin-left: 60px;
    background: white;
    border-radius: 0.25em;
    border: 1px solid #e4e5e7
}

.vertical-timeline-content:after {
    content: "";
    display: table;
    clear: both
}

.vertical-timeline-content h2 {
    font-weight: 400;
    margin-top: 4px
}

.vertical-timeline-content p {
    margin: 1em 0 0 0;
    line-height: 1.6
}

.vertical-timeline-content .vertical-date {
    font-weight: 500;
    text-align: right;
    font-size: 13px
}

.vertical-date small {
    color: #62cb31;
    font-weight: 400
}

.vertical-timeline-content:after, .vertical-timeline-content:before {
    right: 100%;
    top: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}

.vertical-timeline-content:after {
    border-color: transparent;
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px
}

.vertical-timeline-content:before {
    border-color: transparent;
    border-right-color: #e4e5e7;
    border-width: 11px;
    margin-top: -11px
}

@media only screen and (min-width: 768px) {
    .vertical-timeline-content h2 {
        font-size: 18px
    }

    .vertical-timeline-content p {
        font-size: 13px
    }
}

.p-sm {
	padding: 7px;
}

.no-padding {
	padding: 0!important;
}

.mt-10 {
    margin-top: 10px;
}

.theLetter {
    display: none;
}

tab {
    display: block;
}

.tab, tab {
    padding-left: 2em;
}

.text-underline {
    text-decoration: underline;
}

.heavy {
    font-weight: 800;
}

l {
    font-size: 4em;
}

.menu_pane li>ul>li>a {
    padding: 10px 15px;
    font-size: 85%;
    display: block;
}