﻿/*@font-face {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans/opensans400.ttf') format('truetype');
        }

#dataTables.table thead {
    background-color: #034267;color: white;
}

#dataTables.table thead tr th {
        font-family: Open Sans, sans-serif;
        font-size: 16px;
    }

div.dataTables_length label {
    color: #EEBA47;
    font-family: Open Sans, sans-serif;
}
div.dataTables_filter label {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-variant-caps:all-petite-caps;
}
div.dataTables_filter input {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border: thin solid #EEBA47;
}

div.dataTables_info {
    color: #000;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
}
table.dataTable thead .sorting::after {
    color: #ffffff;
}
div.panel-heading {
    font-family: Open Sans, sans-serif;
    font-size: 17px;
}

ul.nav li.active a {
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    background:#034267;
    color:#fff;
    border-radius:4px;
}
ul.nav li.active a:hover {
    font-family: Open Sans, sans-serif;
    font-size: 17px;
    background:#EEBA47;
    color:#000;
    border-radius:4px;
}
#dataTables.table tr.odd td.dataTables_empty {
        font-family: Open Sans, sans-serif;
        font-size: 18px;
    }
div#dataTables_paginate a#dataTables_previous {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
}
div#dataTables_paginate a#dataTables_next {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
}
div#uniquereports div.dropdown button.btn {
    font-size: 18px;
    background:#034267;
    color:#fff;
    border:thin solid #034267;
}
div#loading {
        font-family: Open Sans, sans-serif;
        font-size: 22px;
        color:#000;
        border:thin solid #034267;
}
#reporter .tab-content {
	overflow: auto;
}


#reporter .tab-content  #dataTables {

}
div#dataTables_paginate a#dataTables_previous {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
}
div#dataTables_paginate a#dataTables_next {
    font-family: Open Sans, sans-serif;
    font-size: 18px;
}
div#uniquereports div.dropdown button.btn {
    font-size: 18px;
    background:#034267;
    color:#fff;
    border:thin solid #034267;
}
tbody#tbody_branchList tr.odd td.dataTables_empty {
        font-family: Open Sans, sans-serif;
        font-size: 22px;
        color:#034267;
}
tbody#tbody_branchList tr td {
        font-family: Open Sans, sans-serif;
        font-size: 16px;
        color:#034267;
}
div.preloading {
              font-family: Open Sans, sans-serif;
              font-size: 22px;
              color:#034267;
              float: left;
}
*/
@font-face {
              font-family: 'Open Sans';
              font-style: normal;
              font-weight: 400;
              src: local('Open Sans'), local('OpenSans'), url('../fonts/opensans/opensans400.ttf') format('truetype');
        }

#dataTables.table thead {
    background-color: #034267;color: white;
}

#dataTables.table thead tr th {
    /**/
        font-family: Open Sans, sans-serif;
        font-size: 13px;
        font-weight: 100;
    }

#dataTables.table thead tr td {
    /**/
        font-family: Open Sans, sans-serif;
        font-size: 12px;
        font-weight: 100;
}
div.dataTables_length label {
    color: #EEBA47;
    font-family: Open Sans, sans-serif;
}
div.dataTables_filter label {
    font-family: 'Open Sans', sans-serif;
    font-size:18px;
    font-variant-caps:all-petite-caps;
}
div.dataTables_filter input {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    border: thin solid #EEBA47;
}

div.dataTables_info {
    color: #000;
    font-family: Open Sans, sans-serif;
    font-size: 17px;
}
table.dataTable thead .sorting::after {
    color: #ffffff;
}
div.panel-heading {
    font-family: Open Sans, sans-serif;
    font-size: 17px;
}

ul.nav li.active a {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    background:#034267;
    color:#fff;
    border-radius:4px;
}
ul.nav li.active a:hover {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    background:#EEBA47;
    color:#000;
    border-radius:4px;
}
#dataTables.table tr.odd td.dataTables_empty {
        font-family: Open Sans, sans-serif;
        font-size: 14px;
}

div#dataTables_paginate a#dataTables_previous {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
}

div#dataTables_paginate a#dataTables_next {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
}

div#uniquereports div.dropdown button.btn {
    font-size: 14px;
    background:#034267;
    color:#fff;
    border:thin solid #034267;
}

div#loading {
        font-family: Open Sans, sans-serif;
        font-size: 22px;
        color:#000;
        border:thin solid #034267;
}

#reporter .tab-content {
	overflow: auto;
}


#reporter .tab-content  #dataTables {

}
div#dataTables_paginate a#dataTables_previous {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
}
div#dataTables_paginate a#dataTables_next {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
}
div#uniquereports div.dropdown button.btn {
    font-size: 14px;
    background:#034267;
    color:#fff;
    border:thin solid #034267;
}
tbody#tbody_branchList tr.odd td.dataTables_empty {
        font-family: Open Sans, sans-serif;
        font-size: 22px;
        color:#034267;
}
tbody#tbody_branchList tr td {
        font-family: Open Sans, sans-serif;
        font-size: 12px;
        color:#034267;
        font-weight: 100;
}
div.preloading {
              font-family: Open Sans, sans-serif;
              font-size: 22px;
              color:#034267;
              float: left;
}
table#dataTables thead .sorting, 
table#dataTables thead .sorting_asc, 
table#dataTables thead .sorting_desc {
    background : none;
}
i.buttonactions {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0px;
    color: #034267;
    text-shadow: 0px 0px 0px #034267;
    font-size: 2.5em;
}