﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" 
            data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Precedent Archival System for Knowledge Management</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />
                    <input class="form-control" type="text" name="Role" />
                    <input class="form-control" type="date" name="date range" />-->
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Activity</th>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Weekly Total</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        var MONTHS = [{ "Jan": 1, "Feb": 2, "Mar": 3, "Apr": 4, "May": 5, "Jun": 6, "Jul": 7, "Aug": 8, "Sep": 9, "Oct": 10, "Nov": 11, "Dec": 12 }];
        var weekday = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        var weekdayCounts = [{'Sunday':0, 'Monday':0, 'Tuesday':0, 'Wednesday':0, 'Thursday':0, 'Friday':0, 'Saturday':0}];
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {

            //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
            // $.get('../Components/json/28.json', function (response) {
            //PageHandler.sendXMLHttp('../Components/json/34.json', {}, PageHandler.HTTPMethods.GET, function (response) {
            var cc, json;
            var $html = "";
            var count = new Number(1);
            $.each(response.data, function (i, field) {
                for (g in field) {
                    if (g === "Requests") {
                        if ($.isArray(field[g])) {
                            if (field[g].length <= 0) {
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            } else {

                                //field[g].forEach(function (jaxx) {
                                $.each(field[g], function(j, jaxx) {
                                    $html += "<tr>";
                                    $html += "<td>" + count + "</td>";
                                    var suitNumF = otherParty = reqBranch = typOmatter
                                    = subOmatter = paymSum = appFeeSum = judgeSum = locCourt = typCo = solName
                                    = solAddr = solMobile = solEmail = amtPaid = finalJudg = false;
                                    var $sundayc = $saturdayc = $mondayc = $tuesdayc = $wednesdayc = $thursdayc = $fridayc = $totalc = new Number(0);
                                    var $activity = $monday = $tuesday = $wednesday = $thursday = $friday = $total = "";
                                    var activity_ = monday_ = tuesday_ = wednesday_ = thursday_ = friday_ = total_ = false;
                                    
                                    $.each(jaxx.Stages, function (i, saxx) {

                                        $.each(saxx.FormData, function (item, data) {
                                            var labStr = new String();
                                            labStr = item;
                                            if (labStr.toLowerCase() === "request type") {
                                                $activity = data ? data : "<i>No Data</i>";
                                                activity_ = true;
                                            } else if (labStr.toLowerCase() === "request date") {
                                                var dayofweekStr = new String();
                                                dayofweekStr = data ? data : "none";
                                                if (dayofweekStr === "none") {
                                                    $mondayc = $tuesdayc = $wednesdayc = $thursdayc = $fridayc = $totalc = 0;
                                                    monday_ = tuesday_ = wednesday_ = thursday_ = friday_ = total_ = true;
                                                } else {
                                                    var dateStr = new Array();
                                                    dateStr = dayofweekStr.split(" ");
                                                    var monthsNum = MONTHS[0][dateStr[0]];
                                                    var _daW = new Date(dateStr[2], monthsNum, dateStr[1]);
                                                    var day = weekday[_daW.getDay()];
                                                    if (day == 'Monday') { $mondayc += 1; monday_ = true; }
                                                    else if (day == 'Tuesday') { $tuesdayc += 1; tuesday_ = true; }
                                                    else if (day == 'Wednesday') { $wednesdayc += 1; wednesday_ = true; }
                                                    else if (day == 'Thursday') { $thursdayc += 1; thursday_ = true; }
                                                    else if (day == 'Friday') { $fridayc += 1; friday_ = true; }
                                                    $totalc += $mondayc + $tuesdayc + $wednesdayc + $thursdayc + $fridayc;
                                                    total_ = true;
                                                }
                                            }
                                        })
                                    })
                                    if (activity_) {
                                        //means we found suit no
                                        $html += "<td>" + $activity + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (monday_) {
                                        $html += "<td>" + $mondayc + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (tuesday_) {
                                        $html += "<td>" + $tuesdayc + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (wednesday_) {
                                        $html += "<td>" + $wednesdayc + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (thursday_) {
                                        $html += "<td>" + $thursdayc + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (friday_) {
                                        $html += "<td>" + $fridayc + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (total_) {
                                        $html += "<td>" + $totalc + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    count++;
                                    $html += "</tr>";
                                })
                            }
                        }
                    } //
                }
            });
            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                $(tbody_branchList).empty().append($html);
            } else {
                $(tbody_branchList).empty().append($html);
            }
            $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
            $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>
<!--
    
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        
        //PageHandler.sendXMLHttp('../Components/json/46.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                $.each(response, function (i, field) {
                    for (g in field) {
                       if (g === "Processes_Data") {
                            var json = field[g];
                            var count = new Number(field[g][0].Process_Data.length);
                            if (count != 0) {
                            for(var z = 0; z < count; z++) {
                                $html += "<tr><td>" + (z + 1) + "</td>";
                                var $sundayc = $saturdayc = $mondayc = $tuesdayc = $wednesdayc = $thursdayc = $fridayc = $totalc = new Number(0);
                                var $activity = $monday = $tuesday = $wednesday = $thursday = $friday = $total = "<td></td>";
                                var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                for(var q = 0; q < jax; q++) {
                                    var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                    for (var x = 0; x < len; x++) {
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "request type") {
                                            $activity = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "request date") {
                                            var dayofweekStr = new String();
                                            dayofweekStr = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                            var dateStr = new Array();
                                            dateStr = dayofweekStr.split(" ");
                                            var monthsNum = MONTHS[0][dateStr[0]];
                                            var _daW = new Date(dateStr[2], monthsNum, dateStr[1]);
                                            var day = weekday[_daW.getDay()];
                                            if (day == 'Monday') { $mondayc += 1; }
                                            else if (day == 'Tuesday') { $tuesdayc += 1; }
                                            else if (day == 'Wednesday') { $wednesdayc += 1; }
                                            else if (day == 'Thursday') { $thursdayc += 1; }
                                            else if (day == 'Friday') { $fridayc += 1; }
                                            $totalc += $mondayc + $tuesdayc + $wednesdayc + $thursdayc + $fridayc;
                                        }
                                    }
                                }

                                $html += $activity + "<td>"+$mondayc+"</td>" + "<td>"+$tuesdayc+"</td>" + "<td>"+$wednesdayc+"</td>" + "<td>"+$thursdayc+"</td>" + "<td>"+$fridayc+"</td>" + "<td>"+$totalc+"</td>" + "</tr>";
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append($html);
                                } else {
                                    $(tbody_branchList).append($html);
                                }
                            }//
                            } else {
                                // Count is Zero
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            }
                       }
                    }
                });
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true });
        
-->