﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" 
            data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Trademarks</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S.No</th>

                        <th>Title</th>
                        <th>Date</th>
                       <th>Date Of Request</th>
                        <th>Date Of Filing</th>
                        <th>Rtm Number</th>
                        <th>Certiificate Number</th>
                        <th>Application Number</th>
                        <th>Date Of Receipt Certificate</th>
                        <th>Name Of Solicitor</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
            var cc, json;
            var $html = "";
            var count = new Number(1);
            var $dateofreq = $date= $dateoffilling = $rtmnum = $certnum = $appnum = $dateofrec = $solname = "";
            $.each(response.data, function (i, field) {
               
                for (g in field) {
                    if (g === "Requests") {
                        
                        if ($.isArray(field[g])) {
                            
                            if (field[g].length <= 0) {
                                
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            } else {
                                //field[g].forEach(function (jaxx) {
                                    $.each(field[g], function(i, jaxx) {
                                    $html += "<tr>";
                                    $html += "<td>" + count + "</td>";
                                    $html += "<td>" + jaxx.RequestTitle + "</td>";
                                   // alert(jaxx.RequestTitle);
                                    var dateofreq_ = date =dateoffilling_ = rtmnum_ = certnum_ = appnum_ = dateofrec_ = solname_ = false;
                                    //jaxx.Stages.forEach(function (saxx) {
                                        $.each(jaxx.Stages, function(ij, saxx) {
                                            $.each(saxx.FormData, function(item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                if (labStr.toLowerCase() === "date of request") {
                                                    $dateofreq = data ? data : "<i>No Data</i>";
                                                    dateofreq_ = true;
                                                } else if (labStr.toLowerCase() === "date of filing") {
                                                    $dateoffilling = data ? data : "<i>No Data</i>";
                                                    dateoffilling_ = true;
                                                } else if (labStr.toLowerCase() === "rtm number") {
                                                    $rtmnum = data ? data : "<i>No Data</i>";
                                                    rtmnum_ = true;
                                                } else if (labStr.toLowerCase() === "certiificate number") {
                                                    $certnum = data ? data : "<i>No Data</i>";
                                                    certnum_ = true;
                                                } else if (labStr.toLowerCase() === "application number") {
                                                    $appnum = data ? data : "<i>No Data</i>";
                                                    appnum_ = true;
                                                } else if (labStr.toLowerCase() === "date of receipt certificate") {
                                                    $dateofrec = data ? data : "<i>No Data</i>";
                                                    dateofrec_ = true;
                                                } else if (labStr.toLowerCase() === "name of solicitor") {
                                                    $solname = data ? data : "<i>No Data</i>";
                                                    solname_ = true;
                                                } else if (labStr.toLowerCase() === "date") {

                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            })
                                        });
                                        $html += "<td><i>" + $date + "</i></td>";
                                    //var dateofreq_ = dateoffilling_ = rtmnum_ = certnum_ = appnum_ = dateofrec_ = solname_ = false;
                                    if (dateofreq_) {
                                        //means we found suit no
                                        $html += "<td>" + $dateofreq + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (dateoffilling_) {
                                        //means we found other parties
                                        $html += "<td>" + $dateoffilling + "</td>";
                                    } else {
                                        //$html += "<td>No Party Name</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (rtmnum_) {
                                        //means we found branch
                                        $html += "<td>" + $rtmnum + "</td>";
                                    } else {
                                        //$html += "<td>No Branch</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (certnum_) {
                                        //means we found type of matter
                                        $html += "<td>" + $certnum + "</td>";
                                    } else {
                                        //$html += "<td>Type not specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (appnum_) {
                                        //means we found type of matter
                                        $html += "<td>" + $appnum + "</td>";
                                    } else {
                                        //$html += "<td>No Known Nature of Case</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (dateofrec_) {
                                        //means we found payment sum
                                        $html += "<td>" + $dateofrec + "</td>";
                                    } else {
                                        //$html += "<td>No Payment Sum Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (solname_) {
                                        //means we found payment sum
                                        $html += "<td>" + $solname + "</td>";
                                    } else {
                                        //$html += "<td>No Payment Sum Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    count++;
                                    $html += "</tr>";
                                })
                            }
                        }
                    }
                }
            })
            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                $(tbody_branchList).empty().append($html);
            } else {
                $(tbody_branchList).empty().append($html);
            }
            $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
            $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>