﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" 
            title="" class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Report of Actual Payments on Litigation</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />-->
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Suit No</th>
                        <th>Branch</th>
                        <th>Description of Suit</th>
                        <th>Approved Fees</th>
                        <th>Advance Payment</th>
                        <th>Amounts Paid out as settlement</th>
                        <th>Name of Solicitor</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/35.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var count = new Number(1);
                var $amountpaidout = $suitno = $date=$brinv = $description = $feesapproved = $feespaid = $judgsum = $solicitorsname = $remark = "";
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    $.each(field[g], function (i, jaxx) {
                                        $html += "<tr>";
                                        $html += "<td>" + count + "</td>";
                                        $html += "<td>" + jaxx.RequestTitle + "</td>";
                                        var amountpaidout = date=suitNumF = brinv_ = description_ = feesapproved_ = feespaid_ = judgsum_ = solicitorsname_ = remark_ = false;

                                        var checker = "";
                                        var external_name = "";
                                        var external_phone = "";
                                        var external_email = "";
                                        var external_address = "";
                                        var legal = "";
                                        var name = "";
                                        var email = "";
                                        var phone = "";
                                        var address = "";



                                        if (jaxx.LegalOfficer != null) {

                                            legal = jaxx.LegalOfficer;
                                        }
                                        if (jaxx.Address != null) {

                                            address = jaxx.Address;
                                        }
                                        if (jaxx.Name != null) {

                                            name = jaxx.Name;
                                        }
                                        if (jaxx.Phone != null) {

                                            phone = jaxx.Phone;
                                        }
                                        if (jaxx.Email != null) {

                                            email = jaxx.Email;
                                        }


                                        $.each(jaxx.Stages, function (i, saxx) {
                                            $.each(saxx.FormData, function (item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                console.log(labStr.toLowerCase());
                                                if (labStr.toLowerCase() === "suit no") {
                                                    $suitno = data ? data : "<i>No Data</i>";
                                                    suitNumF = true;
                                                }
                                               else if (labStr.toLowerCase() === "requesting branch") {
                                                    $brinv = data ? data : "<i>No Data</i>";
                                                    brinv_ = true;
                                                } else if (labStr.toLowerCase() === "facts of the matter") {
                                                    $description = data ? data : "<i>No Data</i>";
                                                    description_ = true;
                                                } else if (labStr.toLowerCase() === "approved fee sum") {
                                                    $feesapproved = data ? data : "<i>No Data</i>";
                                                    feesapproved_ = true;
                                                }
                                               
                                                else if (labStr.toLowerCase() === "advance payment") {
                                                    $feespaid = data ? data : "<i>No Data</i>";
                                                    feespaid_ = true;
                                                }
                                                else if (labStr.toLowerCase() === "amount paid out as settlement") {
                                                    $amountpaidout = data ? data : "<i>No Data</i>";
                                                    amountpaidout = true;
                                                }
                                                else if (labStr.toLowerCase() === "solicitors name") {
                                                    $solicitorsname = data ? data : "<i>No Data</i>";
                                                    solicitorsname_ = true;
                                                } else if (labStr.toLowerCase() === "summary of judgement") {
                                                    $remark = data ? data : "<i>No Data</i>";
                                                    remark_ = true;
                                                }
                                                else if (labStr.toLowerCase() === "date") {

                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            })
                                        })
                                        $html += "<td><i>" + $date + "</i></td>";
                                        if (suitNumF) {
                                            $html += "<td>" + $suitno + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (brinv_) {
                                            $html += "<td>" + $brinv + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        //var brinv_ = description_ = feesapproved_ = feespaid_ = judgsum_ = solicitorsname_ = remark_ = false;
                                        if (description_) {
                                            $html += "<td>" + $description + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (feesapproved_) {
                                            $html += "<td>" + $feesapproved + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (feespaid_) {
                                            $html += "<td>" + $feespaid + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (amountpaidout) {
                                            $html += "<td>" + $amountpaidout + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        //if (solicitorsname_) {
                                        $html += "<td>" + name + "</td>";
                                        //} else {
                                        //    $html += "<td><i>No Data</i></td>";
                                        //}
                                        if (remark_) {
                                            $html += "<td>" + $remark + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        count++;
                                        $html += "</tr>";
                                    })
                                }
                            }
                       } //
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>
<!--
    var json = field[g];
                                    var count = new Number(field[g][0].Process_Data.length);
                                    if (count != 0) {
                                        for (var z = 0; z < count; z++) {
                                            $html += "<tr><td>" + (z + 1) + "</td>";
                                            var $brinv = $description = $feesapproved = $feespaid = $judgsum = $solicitorsname = $remark = "<td></td>";
                                            var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                            for (var q = 0; q < jax; q++) {
                                                var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                                for (var x = 0; x < len; x++) {
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "name of branch") {
                                                        $brinv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "facts of the matter") {
                                                        $description = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "fees approved") {
                                                        $feesapproved = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }

                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "approved fee sum") {
                                                        // Fee
                                                        $feespaid = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }

                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "judgement sum") {
                                                        $judgsum = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }

                                                }
                                            }

                                            $html += $brinv + $description + $feesapproved + $feespaid + $judgsum + $solicitorsname + $remark + "</tr>";
                                            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                                $(tbody_branchList).empty().append($html);
                                            } else {
                                                $(tbody_branchList).append($html);
                                            }
                                        }//
                                    } else {
                                        // Count is Zero
                                        if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                            $(tbody_branchList).empty().append("");
                                        } else {
                                            $(tbody_branchList).append("");
                                        }
                                    }
-->