﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">New Garnishee Schedule</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />-->
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Date of Service</th>
                        <th>Suit No/Parties</th>
                        <th>Name of Account</th>
                        <th>Account No</th>
                        <th>Judgement Sum</th>
                        <th>Nature of Cause</th>
                        <th>Amt in Customer's Account</th>
                        <th>Status</th>
                        <th>Name of Solicitor</th>
                        <th>Date of Conclusion</th>
                        <th>Paid Judgement Sum</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/36.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var count = new Number(1);
                var $dateofserv = $suitno =$date= $nameofpart = $namacc = $accnum = $judgsum = $natofcase = $amtincust = $status = $nameofsol = $dateandmanner1 = $dateandmanner2 = $judgmentsum = "";
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    $.each(field[g], function (i, jaxx) {
                                        $html += "<tr>";
                                        $html += "<td>" + count + "</td>";
                                        $html += "<td>" + jaxx.RequestTitle + "</td>";
                                        var dateofserv_ =date= suitno_ = nameofpart_ = namacc_ = accnum_ = judgsum_ = natofcase_
                                        = amtincust_ = status_ = nameofsol_ = dateandmanner1_ = dateandmanner2_ = judgmentsum_ = false;


                                        var checker = "";
                                        var external_name = "";
                                        var external_phone = "";
                                        var external_email = "";
                                        var external_address = "";
                                        var legal = "";
                                        var name = "";
                                        var email = "";
                                        var phone = "";
                                        var address = "";



                                        if (jaxx.LegalOfficer != null) {

                                            legal = jaxx.LegalOfficer;
                                        }
                                        if (jaxx.Address != null) {

                                            address = jaxx.Address;
                                        }
                                        if (jaxx.Name != null) {

                                            name = jaxx.Name;
                                        }
                                        if (jaxx.Phone != null) {

                                            phone = jaxx.Phone;
                                        }
                                        if (jaxx.Email != null) {

                                            email = jaxx.Email;
                                        }

                                        $.each(jaxx.Stages, function (i, saxx) {
                                            $.each(saxx.FormData, function (item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                console.log(labStr.toLowerCase());
                                                if (labStr.toLowerCase() === "date") {
                                                    $dateofserv = data ? data : "<i>No Data</i>";
                                                    dateofserv_ = true;
                                                } else if (labStr.toLowerCase() === "suit no") {
                                                    $suitno = data ? data : "<i>No Data</i>";
                                                    suitno_ = true;
                                                } else if (labStr.toLowerCase() === "account name") {
                                                    $nameofpart = data ? data : "<i>No Data</i>";
                                                    nameofpart_ = true;
                                                } else if (labStr.toLowerCase() === "account no") {
                                                    $namacc = data ? data : "<i>No Data</i>";
                                                    namacc_ = true;
                                                } else if (labStr.toLowerCase() === "judgment sum") {
                                                    $judgsum = data ? data : "<i>No Data</i>";
                                                    judgsum_ = true;
                                                } else if (labStr.toLowerCase() === "cause") {
                                                    $natofcase = data ? data : "<i>No Data</i>";
                                                    natofcase_ = true;
                                                } else if (labStr.toLowerCase() === "account balance") {
                                                    $amtincust = data ? data : "<i>No Data</i>";
                                                    amtincust_ = true;
                                                } else if (labStr.toLowerCase() === "comment") {
                                                    $status = data ? data : "<i>No Data</i>";
                                                    status_ = true;
                                                } else if (labStr.toLowerCase() === "solicitors name") {
                                                    $nameofsol = data ? data : "<i>No Data</i>";
                                                    nameofsol_ = true;
                                                } else if (labStr.toLowerCase() === "return date") {
                                                    $dateandmanner1 = data ? data : "<i>No Data</i>";
                                                    dateandmanner1_ = true;
                                                } else if (labStr.toLowerCase() === "payment sum") {
                                                    $judgmentsum = data ? data : "<i>No Data</i>";
                                                    judgmentsum_ = true;
                                                } else if (labStr.toLowerCase() === "date") {

                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            })
                                        })
                                        $html += "<td><i>" + $date + "</i></td>";
                                        if (dateofserv_) {
                                            //means we found suit no
                                            $html += "<td>" + $dateofserv + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (suitno_) {
                                            //means we found other parties
                                            $html += "<td>" + $suitno + "</td>";
                                        } else {
                                            //$html += "<td>No Party Name</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (nameofpart_) {
                                            //means we found branch
                                            $html += "<td>" + $nameofpart + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (namacc_) {
                                            //means we found branch
                                            $html += "<td>" + $namacc + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (judgsum_) {
                                            //means we found branch
                                            $html += "<td>" + $judgsum + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        //var dateofserv_ = suitno_ = nameofpart_ = namacc_ = accnum_ = judgsum_ = natofcase_= amtincust_ = 
                                        //status_ = nameofsol_ = dateandmanner1_ = dateandmanner2_ = judgmentsum_ = false;
                                        if (natofcase_) {
                                            //means we found branch
                                            $html += "<td>" + $natofcase + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (amtincust_) {
                                            //means we found branch
                                            $html += "<td>" + $amtincust + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (status_) {
                                            //means we found branch
                                            $html += "<td>" + $status + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                     
                                            //means we found branch
                                        $html += "<td>" + name + "</td>";
                                       
                                        if (dateandmanner1_) {
                                            //means we found branch
                                            $html += "<td>" + $dateandmanner1 + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (judgmentsum_) {
                                            //means we found branch
                                            $html += "<td>" + $judgmentsum + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        count++;
                                        $html += "</tr>";
                                    })
                                }
                            }
                       }
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>
<!--
    var json = field[g];
                            var count = new Number(field[g][0].Process_Data.length);
                            if (count != 0) {
                                for(var z = 0; z < count; z++) {
                                    $html += "<tr><td>"+(z+1)+"</td>";
                                    var $dateofserv = $suitno = $nameofpart = $namacc = $accnum = $judgsum = $natofcase = $amtincust = $status = $nameofsol =
                                        $dateandmanner1 = $dateandmanner2 = $judgmentsum = "<td></td>";
                                    var $paidornotjudmentsum = "";
                                    var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                    for(var q = 0; q < jax; q++) {
                                        var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                        for (var x = 0; x < len; x++) {
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date"
                                                && field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "76") {
                                                $dateofserv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "suit no") {
                                                $suitno =  field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "name of parties") {
                                                $nameofpart = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                            }
                                            //
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "name of account") {
                                                $namacc = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "judgement sum") {
                                                $judgsum = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "amount in customers account") {
                                                $amtincust = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date"
                                                && field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "100") {
                                                $dateandmanner1 = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "summary of judgement") {
                                                // Manner of Conclusion
                                                var summarystring = new String();
                                                summarystring = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                                summarystring = summarystring.substring(0, 20);
                                                $dateandmanner2 = summarystring;
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "judgement sum") {
                                                // Fee
                                                $judgmentsum = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value ;
                                            }

                                        }
                                    }

                                    $html += $dateofserv + "<td>" + $suitno + " / " + $nameofpart + "</td>" + $namacc + $accnum + $judgsum + $natofcase + $amtincust + $status + $nameofsol +
                                        "<td>" + $dateandmanner1 + " / " + $dateandmanner2 + "...</td>" + "<td>" + $judgmentsum + " / " + $paidornotjudmentsum + "</td></tr>";
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append($html);
                                    } else {
                                        $(tbody_branchList).append($html);
                                    }
                                }//
                            } else {
                                // Count is Zero
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            }
-->