﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" 
            class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">New Cases Returns</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />-->
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Suit No</th>
                        <th>Branch</th>
                        <th>Brief Details</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/37.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var $casetitle = $suitno = $brinv = $description = $comment = $date = "";
                var count = new Number(1);
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    $.each(field[g], function (i, jaxx) {
                                        $html += "<tr>";
                                        $html += "<td>" + count + "</td>";
                                        $html += "<td>" + jaxx.RequestTitle + "</td>";
                                        var casetitle_ =date= suitno_ = brinv_ = description_ = comment_ = false;
                                        $.each(jaxx.Stages, function (i, saxx) {
                                            $.each(saxx.FormData, function (item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                console.log(labStr.toLowerCase());
                                                 if (labStr.toLowerCase() === "suit no") {
                                                    $suitno = data ? data : "<i>No Data</i>";
                                                    suitno_ = true;
                                                } else if (labStr.toLowerCase() === "requesting branch") {
                                                    $brinv = data ? data : "<i>No Data</i>";
                                                    brinv_ = true;
                                                } else if (labStr.toLowerCase() === "summary of judgement") {
                                                    $description = data ? data : "<i>No Data</i>";
                                                    description_ = true;
                                                } else if (labStr.toLowerCase() === "summary of todays hearing") {
                                                    $comment = data ? data : "<i>No Data</i>";
                                                    comment_ = true;
                                                } else if (labStr.toLowerCase() === "date") {
                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            })
                                        })
                                        $html += "<td><i>" + $date + "</i></td>";
                                        if (suitno_) {
                                            //means we found other parties
                                            $html += "<td>" + $suitno + "</td>";
                                        } else {
                                            //$html += "<td>No Party Name</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (brinv_) {
                                            //means we found branch
                                            $html += "<td>" + $brinv + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (description_) {
                                            //means we found branch
                                            $html += "<td>" + $description + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (comment_) {
                                            //means we found branch
                                            $html += "<td>" + $comment + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        count++;
                                        $html += "</tr>";
                                    })
                                }
                            }
                       }
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>
<!--
    var json = field[g];
                                    var count = new Number(field[g][0].Process_Data.length);
                                    if (count != 0) {
                                        for (var z = 0; z < count; z++) {
                                            $html += "<tr>";
                                            var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                            for (var q = 0; q < jax; q++) {
                                                var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                                for (var x = 0; x < len; x++) {
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "case title") {
                                                        $casetitle = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "suit no") {
                                                        $suitno = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "requesting branch") {
                                                        $brinv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "subject matter") {
                                                        $description = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                }
                                            }

                                            $html += "<td>" + (z + 1) + "</td>" + $casetitle + $suitno + $brinv + $description + $comment + "</tr>";
                                            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                                $(tbody_branchList).empty().append($html);
                                            } else {
                                                $(tbody_branchList).append($html);
                                            }
                                        }//
                                    } else {
                                        // Count is Zero
                                        if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                            $(tbody_branchList).empty().append("");
                                        } else {
                                            $(tbody_branchList).append("");
                                        }
                                    }
-->