﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" 
            data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Concluded Cases Report</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />-->
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Suit No</th>
                        <th>Branch</th>
                        <th>Case Nature</th>
                        <th>Amount For / Against the bank</th>
                        <th>Amount</th>
                        <th>External</th>
                        <th>Case Won / Lost </th>
                      
                        <th>Case Resolved</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='8'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/27.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var count = new Number(1);
                var $suitno, $brinv, $nature,$date, $amtForB, $amtAgB, $solname, $finalJudment, $lostJudgement, $summary;
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    $.each(field[g], function (i, jaxx) {
                                        $html += "<tr>";
                                        $html += "<td>" + count + "</td>";
                                        $html += "<td>" + jaxx.RequestTitle + "</td>";
                                        var suitNumF = date=reqBranch = subOmatter = amtForB = amtAgB = solName = finalJudg = smryjudgment = false;
                                        var checker = "";
                                        var external_name = "";
                                        var external_phone = "";
                                        var external_email = "";
                                        var external_address = "";
                                        var legal = "";
                                        var name = "";
                                        var email = "";
                                        var phone = "";
                                        var address = "";



                                        if (jaxx.LegalOfficer != null) {

                                            legal = jaxx.LegalOfficer;
                                        }
                                        if (jaxx.Address != null) {

                                            address = jaxx.Address;
                                        }
                                        if (jaxx.Name != null) {

                                            name = jaxx.Name;
                                        }
                                        if (jaxx.Phone != null) {

                                            phone = jaxx.Phone;
                                        }
                                        if (jaxx.Email != null) {

                                            email = jaxx.Email;
                                        }
                                        $.each(jaxx.Stages, function (i, saxx) {
                                            $.each(saxx.FormData, function (item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                console.log(labStr.toLowerCase());
                                                if (labStr.toLowerCase() === "suit no") {
                                                    $suitno = data ? data : "<i>No Data</i>";
                                                    suitNumF = true;
                                                } else if (labStr.toLowerCase() === "requesting branch") {
                                                    $brinv = data ? data : "<i>No Data</i>";
                                                    reqBranch = true;
                                                } else if (labStr.toLowerCase() === "case nature") {
                                                    $nature = data ? data : "<i>No Data</i>";
                                                    subOmatter = true;
                                                } else if (labStr.toLowerCase() === "claims (for/against)") {
                                                    $amtForB = data ? data : "<i>No Data</i>";
                                                    amtForB = true;
                                                } else if (labStr.toLowerCase() === "claims") {
                                                    $amtAgB = data ? data : "<i>No Data</i>";
                                                    amtAgB = true;
                                                } else if (labStr.toLowerCase() === "solicitors name") {
                                                    $solname = data ? data : "<i>No Data</i>";
                                                    solName = true;
                                                } else if (labStr.toLowerCase() === "judgement status") {
                                                    $finalJudment = data ? data : "<i>No Data</i>";
                                                    finalJudg = true;
                                                } else if (labStr.toLowerCase() === "summary of judgement") {
                                                    $summary = data ? data : "<i>No Data</i>";
                                                    smryjudgment = true;
                                                } else if (labStr.toLowerCase() === "date") {
                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            });
                                        });
                                        $html += "<td><i>" + $date + "</i></td>";
                                        if (suitNumF) {
                                            //means we found suit no
                                            $html += "<td>" + $suitno + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (reqBranch) {
                                            //means we found branch
                                            $html += "<td>" + $brinv + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (subOmatter) {
                                            //means we found type of matter
                                            $html += "<td>" + $nature + "</td>";
                                        } else {
                                            //$html += "<td>No Known Nature of Case</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (amtForB) {
                                            //means we found type of matter
                                            $html += "<td>" + $amtForB + "</td>";
                                        } else {
                                            //$html += "<td>No Known Nature of Case</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (amtAgB) {
                                            //means we found type of matter
                                            $html += "<td>" + $amtAgB + "</td>";
                                        } else {
                                            //$html += "<td>No Known Nature of Case</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        //if (solName) {
                                            //means we found solicitors name
                                        $html += "<td>" + name + "</td>";
                                        //} else {
                                        //    //$html += "<td>Name Not Specified</td>";
                                        //    $html += "<td><i>No Data</i></td>";
                                        //}
                                        if (finalJudg) {
                                            //means we found judgment/ruling in favour of bank
                                            $html += "<td>" + $finalJudment + "</td>";
                                        } else {
                                            //$html += "<td>Not Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        // For Case Lost Test
                                        //if (finalJudg) {
                                        //    //means we found judgment/ruling in favour of bank
                                        //    if ($finalJudment === "YES") {
                                        //        $lostJudgement = "NO";
                                        //        $html += "<td>" + $lostJudgement + "</td>";
                                        //    } else if ($finalJudment === "NO") {
                                        //        $lostJudgement = "YES";
                                        //        $html += "<td>" + $lostJudgement + "</td>";
                                        //    }
                                        //} else {
                                        //    //$html += "<td>Not Specified</td>";
                                        //    $html += "<td><i>No Data</i></td>";
                                        //}
                                        if (smryjudgment) {
                                            //means we found type of court
                                            $html += "<td>" + $summary + "</td>";
                                        } else {
                                            //$html += "<td>Type Not Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        count++;
                                        $html += "</tr>";
                                    })
                                }
                            }

                        }
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>

<!--
    
                    for (g in field) {
                       if (g === "Processes_Data") {
                            var json = field[g];
                            var count = new Number(field[g][0].Process_Data.length);
                            if (count != 0) {
                            for(var z = 0; z < count; z++) {
                                $html += "<tr><td>"+(z+1)+"</td>";
                                var $suitno = $casename = $nature = $amtagainstbank = $amtforbank = $infav = $notinfav = $summary = "<td></td>";
                                var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                for(var q = 0; q < jax; q++) {
                                    var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                    for (var x = 0; x < len; x++) {

                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "suit no") {
                                            console.log(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value);
                                            $suitno = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "case title") {
                                            console.log(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value);
                                            $casename = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                        }
                                        
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "subject matter") {
                                            $nature = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "payment sum") {
                                            $amtagainstbank = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "approved fee sum") {
                                            $amtforbank = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "judgement in favour of bank") {
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value == "on") {
                                                $notinfav = "<td>Yes</td>";
                                            } else {
                                                $notinfav = "<td>No</td>";
                                            }
                                            $infav = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }

                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "summary of judgement") {
                                            $summary = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }

                                    }
                                }
                                
                                $html += "<td>" + $casename + " / " + $suitno + "</td>" +  $nature + $amtagainstbank + $amtforbank + $infav + $notinfav + $summary + "<td></td></tr>";
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append($html);
                                } else {
                                    $(tbody_branchList).append($html);
                                }
                            }//
                       } else {
                           // Count is Zero
                           if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                               $(tbody_branchList).empty().append("");
                           } else {
                               $(tbody_branchList).append("");
                           }
                       }
                       }
                    }
                
-->