<div class="row nomargin">
    <h3 class="pull-left nomargin pad-10 text-uppercase">Industry Listing</h3>
    <h3 class="pull-right nomargin pad-10 text-uppercase">Table of Contents</h3>
</div>

<div id="nav-menu-left" class="pull-left animated flipInY" ng-show="leftMenu.length && rightMenu.length">
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav navbar">
                <li ng-repeat="m in leftMenu" ng-click="showIndustry(m)" title="{{m.name}}" tooltip>
                    {{m.name}} <div class="rotor"><img ng-src="img/icons/{{m.name}}.png"></div>
                </li>
            </ul>
        </div>
        <div class="col-sm-6" style="padding-left: 5px;">
            <ul class="nav navbar">
                <li ng-repeat="m in rightMenu" ng-click="showIndustry(m)" title="{{m.name}}" tooltip>
                    {{m.name}} <div class="rotor"><img ng-src="img/icons/{{m.name}}.png"></div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="nav-menu-right" class="pull-right animated flipInY">
    <div class="row pad-t20">
        <div class="col-sm-6">
            <a ng-href="{{routes.lfn}}">
                <div class="panel panel-success">
                    <div class="panel-heading"><br>Laws of the Federation</div>
                </div>
            </a>
            <a ng-href="{{routes.forms}}">
                <div class="panel panel-info">
                    <div class="panel-heading">Forms <br>&<br> Agreements</div>
                </div>
            </a>
            <a ng-href="{{routes.regulations}}">
                <div class="panel panel-danger">
                    <div class="panel-heading"><br>Regulations</div>
                </div>
            </a>
            <a ng-href="{{routes.fhc}}">
                <div class="panel panel-warning">
                    <div class="panel-heading pad-t20">Federal High Court <br> Law Reports</div>
                </div>
            </a>
        </div>
        <div class="col-sm-6" id="col2">
            <a ng-href="{{routes.stateLaws}}">
                <div class="panel panel-danger">
                    <div class="panel-heading"><br>State Laws</div>
                </div>
            </a>
            <a ng-href="{{routes.letters}}">
                <div class="panel panel-warning">
                    <div class="panel-heading">Letters <br>&<br> Affidavits</div>
                </div>
            </a>
            <a ng-href="{{routes.nic}}">
                <div class="panel panel-success">
                    <div class="panel-heading pad-t20">National Industrial Court Law Reports</div>
                </div>
            </a>
            <a ng-href="{{routes.tat}}">
                <div class="panel panel-info">
                    <div class="panel-heading">Tax Appeal Tribunal<br>Law Reports</div>
                </div>
            </a>
        </div>
    </div>
</div>


<div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4" id="home-search" ng-show="homeSearch">
    <img src="img/main-logo-r-1.png" style="margin: 100px auto 40px; display: block; max-width: 95%;" class="animated bounceInUp">
    <div class="animated fadeInDownBig mt-10">
        <form name="searchForm" class="form form-search" ng-submit="searchForm.$valid && doSearch(searchTerm)" novalidate>
            <div class="row">
                <div class="col-sm-12 no-padding">
                    <input type="text" placeholder="Quick Search..." class="searchBox sfTypeahead form-control" options="options" datasets="acData" ng-model="searchTerm" ng-keyup="$event.keyCode == 13 && searchForm.$valid && doSearch(searchTerm)" homesearch required />
                </div>
            </div>
        </form>
    </div>
</div>