<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-md-offset-3" id="home-search" >
            <img src="img/main-logo-r-1.png" style="margin: 0 auto 40px; display: block; max-width: 70%;" class="animated bounceInUp">
            <div class="animated fadeInDownBig mt-10">
                <form name="searchForm" class="form form-search" ng-submit="searchForm.$valid && doSearch(searchTerm)" novalidate>
                    <div class="row">
                        <div class="col-sm-12 no-padding">
                            <input type="text" placeholder="Quick Search..." class="searchBox sfTypeahead form-control" options="options" datasets="acData" ng-model="searchTerm" ng-keyup="$event.keyCode == 13 && searchForm.$valid && doSearch(searchTerm)" homesearch required />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container animated slideInRight mt-50" id="app-container" ng-hide="showIndustries">
    <!--<div>
        <button class="pull-right btn btn-primary" ng-click="showIndustries=true"><i class="fa fa-list"></i> Browse by Industries</button>
        <br class="clearfix">
    </div>-->

    <div class="row pad-t20 mt-20">
       <!-- <div class="col-sm-3">
            <a ng-href="{{routes.lfn}}">
                <div class="panel panel-success">
                    <div class="panel-heading"><br>Laws of the Federation</div>
                </div>
            </a>
            <a ng-href="{{routes.stateLaws}}">
                <div class="panel panel-danger">
                    <div class="panel-heading"><br>State Laws</div>
                </div>
            </a>
        </div>-->
        <div class="col-sm-6">
            <a ng-href="{{routes.regulations}}">
                <div class="panel panel-info">
                    <div class="panel-heading"><br>Regulations</div>
                </div>
            </a>
            <!--<a ng-href="{{routes.nic}}">
                <div class="panel panel-warning">
                    <div class="panel-heading pad-t20">National Industrial Court Law Reports</div>
                </div>
            </a>-->
        </div>
        <div class="col-sm-6">
            <a ng-href="{{routes.forms}}">
                <div class="panel panel-danger">
                    <div class="panel-heading">Forms <br>&<br> Agreements</div>
                </div>
            </a>
            <!--<a ng-href="{{routes.fhc}}">
                <div class="panel panel-success">
                    <div class="panel-heading pad-t20">Federal High Court <br> Law Reports</div>
                </div>
            </a>-->
        </div>
       <!-- <div class="col-sm-3">
            <a ng-href="{{routes.shc}}">
                <div class="panel panel-warning">
                    <!--<div class="panel-heading">Letters <br>&<br> Affidavits</div>-->
                    <!--<div class="panel-heading pad-t20">State High Court Law Reports</div>
                </div>
            </a>
            <a ng-href="{{routes.tat}}">
                <div class="panel panel-info">
                    <div class="panel-heading pad-t20">Tax Appeal Tribunal<br>Law Reports</div>
                </div>
            </a>
        </div>-->
        <!--<div class="col-sm-3">
            <a ng-href="{{routes.shc}}">
                <div class="panel panel-success">
                    <div class="panel-heading pad-t20">State High Court Law Reports</div>
                </div>
            </a>
        </div>-->
    </div>
</div>

<div class="container animated slideInRight mt-50" ng-show="leftMenu.length && rightMenu.length && showIndustries" id="app-container">
    <div>
        <button class="pull-right btn btn-primary" ng-click="showIndustries=false"><i class="fa fa-bookmark"></i> Browse by Content Types</button>
        <br class="clearfix">
    </div>

    <div class="row mt-10" id="new-nav-menu">
        <div class="col-sm-3">
            <ul class="nav navbar">
                <li ng-repeat="m in leftMenu" ng-click="showIndustry(m)" title="{{m.name}}" tooltip>
                    {{m.name}} <div class="rotor"><img ng-src="img/icons/{{m.name}}.png"></div>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="nav navbar">
                <li ng-repeat="m in leftMenu1" ng-click="showIndustry(m)" title="{{m.name}}" tooltip>
                    {{m.name}} <div class="rotor"><img ng-src="img/icons/{{m.name}}.png"></div>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="nav navbar">
                <li ng-repeat="m in rightMenu" ng-click="showIndustry(m)" title="{{m.name}}" tooltip>
                    {{m.name}} <div class="rotor"><img ng-src="img/icons/{{m.name}}.png"></div>
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="nav navbar">
                <li ng-repeat="m in rightMenu1" ng-click="showIndustry(m)" title="{{m.name}}" tooltip>
                    {{m.name}} <div class="rotor"><img ng-src="img/icons/{{m.name}}.png"></div>
                </li>
            </ul>
        </div>
    </div>
</div>