﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Search on Title Deeds</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />-->
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S.No</th>

                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Customer Name</th>
                        <th>Type of Title Deed</th>
                        <th>Name on Title Deed</th>
                        <th>Registration Particulars</th>
                        <th>Solicitor Invoice Amount</th>
                        <th>Amount Paid</th>
                        <th>External Solicitor</th>
                        <th>Legal Officer</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/41.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var count = new Number(1);
                var $brinv = $accnumber =$date= $borrower = $securitytype = $solicitorsname = $state = $dateinstructed = $status = $comments = $dateconcluded = $legalofficer = "";
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    $.each(field[g], function (i, jaxx) {
                                        $html += "<tr>";
                                        $html += "<td>" + count + "</td>";
                                        $html += "<td>" + jaxx.RequestTitle + "</td>";
                                        var brinv_ = date=accnumber_ = borrower_ = securitytype_ =
                                            solicitorsname_ = state_ = dateinstructed_ = status_ = comments_ = dateconcluded_ = legalofficer_ = false;
                                        $.each(jaxx.Stages, function (i, saxx) {
                                            $.each(saxx.FormData, function (item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                console.log(labStr.toLowerCase());
                                                if (labStr.toLowerCase() === "customer name") {
                                                    $brinv = data ? data : "<i>No Data</i>";
                                                    brinv_ = true;
                                                } else if (labStr.toLowerCase() === "type of title deed") {
                                                    $accnumber = data ? data : "<i>No Data</i>";
                                                    accnumber_ = true;
                                                } else if (labStr.toLowerCase() === "name on title deed") {
                                                    $borrower = data ? data : "<i>No Data</i>";
                                                    borrower_ = true;
                                                } else if (labStr.toLowerCase() === "registration particulars") {
                                                    $securitytype = data ? data : "<i>No Data</i>";
                                                    securitytype_ = true;
                                                } else if (labStr.toLowerCase() === "solicitor invoice amount") {
                                                    $solicitorsname = data ? data : "<i>No Data</i>";
                                                    solicitorsname_ = true;
                                                } else if (labStr.toLowerCase() === "amount paid") {
                                                    $state = data ? data : "<i>No Data</i>";
                                                    state_ = true;
                                                } else if (labStr.toLowerCase() === "date") {

                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            })
                                        })
                                        $html += "<td><i>" + $date + "</i></td>";
                                        if (brinv_) {
                                            //means we found suit no
                                            $html += "<td>" + $brinv + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (accnumber_) {
                                            //means we found other parties
                                            $html += "<td>" + $accnumber + "</td>";
                                        } else {
                                            //$html += "<td>No Party Name</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (borrower_) {
                                            //means we found branch
                                            $html += "<td>" + $borrower + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (securitytype_) {
                                            //means we found type of matter
                                            $html += "<td>" + $securitytype + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (solicitorsname_) {
                                            //means we found type of matter
                                            $html += "<td>" + $solicitorsname + "</td>";
                                        } else {
                                            //$html += "<td>No Known Nature of Case</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (state_) {
                                            //means we found payment sum
                                            $html += "<td>" + $state + "</td>";
                                        } else {
                                            //$html += "<td>No Payment Sum Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        
                                        $html += "<td><i>" + jaxx.Name + "</i></td>";
                                        $html += "<td><i>" + jaxx.LegalOfficer + "</i></td>";
//                                        if (status_) {
//                                            //means we found payment sum
//                                            $html += "<td>" + $status + "</td>";
//                                        } else {
//                                            //$html += "<td>No Payment Sum Specified</td>";
//                                            $html += "<td><i>No Data</i></td>";
//                                        }
//                                        //var brinv = accnumber = borrower = securitytype =
//                                        //solicitorsname = state = dateinstructed = status = comments = dateconcluded = legalofficer = false;
//                                        if (comments_) {
//                                            //means we found payment sum
//                                            $html += "<td>" + $comments + "</td>";
//                                        } else {
//                                            //$html += "<td>No Payment Sum Specified</td>";
//                                            $html += "<td><i>No Data</i></td>";
//                                        }
//                                        if (dateconcluded_) {
//                                            //means we found payment sum
//                                            $html += "<td>" + $dateconcluded + "</td>";
//                                        } else {
//                                            //$html += "<td>No Payment Sum Specified</td>";
//                                            $html += "<td><i>No Data</i></td>";
//                                        }
//                                        if (legalofficer_) {
//                                            //means we found payment sum
//                                            $html += "<td>" + $legalofficer + "</td>";
//                                        } else {
//                                            //$html += "<td>No Payment Sum Specified</td>";
//                                            $html += "<td><i>No Data</i></td>";
//                                        }
                                        count++;
                                        $html += "</tr>";
                                    })
                                }
                            }
                        }
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    });
</script>
<!--
    var json = field[g];
                                    var count = new Number(field[g][0].Process_Data.length);
                                    if (count != 0) {
                                        for (var z = 0; z < count; z++) {
                                            $html += "<tr><td>" + (z + 1) + "</td>";
                                            var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                            for (var q = 0; q < jax; q++) {
                                                var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                                for (var x = 0; x < len; x++) {
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "bank branch") {
                                                        $brinv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "borrower") {
                                                        $borrower = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "type of security") {
                                                        $securitytype = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "location for mortgage (state)") {
                                                        $state = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date"
                                                        &&
                                                        field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "45") {
                                                        $dateinstructed = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "status of request") {
                                                        $status = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "comments"
                                                        &&
                                                        field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "180") {
                                                        $comments = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date"
                                                        &&
                                                        field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "192") {
                                                        $dateconcluded = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                }
                                            }

                                            $html += $brinv + $accnumber + $borrower + $securitytype + $solicitorsname + $state + $dateinstructed + $status + $comments + $dateconcluded + $legalofficer + "</tr>";
                                            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                                $(tbody_branchList).empty().append($html);
                                            } else {
                                                $(tbody_branchList).append($html);
                                            }
                                        }//
                                    } else {
                                        // Count is Zero
                                        if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                            $(tbody_branchList).empty().append("");
                                        } else {
                                            $(tbody_branchList).append("");
                                        }
                                    }
-->