﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active"
            data-original-title="Requests requiring your attention">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Deeds of Release</a>
        </li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td>
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />-->
                </div>
            </div>
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Name of Customer</th>
                        <th>Branch</th>
                        <th>Date Of Request</th>
                        <th>Date Of Issuance</th>
                        <th>Approval Sighted</th>
                        <th>Legal Officer</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
            //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
            // $.get('../Components/json/28.json', function (response) {
            //PageHandler.sendXMLHttp('../Components/json/41.json', {}, PageHandler.HTTPMethods.GET, function (response) {
            var cc, json;
            var $html = "";
            var count = new Number(1);
            var $nameofcust = $brinv = $securityreleased= $date= $dateofrequest = $dateofissuance = $approvalsighted = $legalofficer = "";
            $.each(response.data, function (i, field) {
                for (g in field) {
                    if (g === "Requests") {
                        if ($.isArray(field[g])) {
                            if (field[g].length <= 0) {
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            } else {
                                //field[g].forEach(function (jaxx) {
                                    $.each(field[g], function (i, jaxx) {
                                    $html += "<tr>";
                                    $html += "<td>" + count + "</td>";
                                    $html += "<td>" + jaxx.RequestTitle + "</td>";
                                    var $nameofcust_ =date = $brinv_ = $securityreleased_ = $dateofrequest_ = $dateofissuance_ = $approvalsighted_ = $legalofficer_ = false;
                                    $.each(jaxx.Stages, function (i, saxx) {
                                        $.each(saxx.FormData, function (item, data) {
                                          
                                            var labStr = new String();
                                          
                                            labStr = item;
                                            console.log(labStr);
                                            if (labStr.toLowerCase() === "name of customer") {
                                                $nameofcust = data ? data : "<i>No Data</i>";
                                                $nameofcust_ = true;
                                            } else if (labStr.toLowerCase() === "branch") {
                                                $brinv = data ? data : "<i>No Data</i>";
                                                $brinv_ = true;
                                            } else if (labStr.toLowerCase() === "security released") {
                                                $securityreleased = data ? data : "<i>No Data</i>";
                                                $securityreleased_ = true;
                                            } else if (labStr.toLowerCase() === "date of request") {
                                                $dateofrequest = data ? data : "<i>No Data</i>";
                                                $dateofrequest_ = true;
                                            } else if (labStr.toLowerCase() === "date of issuance") {
                                                $dateofissuance = data ? data : "<i>No Data</i>";
                                                $dateofissuance_ = true;
                                            } else if (labStr.toLowerCase() === "approval sighted") {
                                                $approvalsighted = data ? data : "<i>No Data</i>";
                                                $approvalsighted_ = true;
                                            } else if (labStr.toLowerCase() === "legal officer") {
                                                $legalofficer = data ? data : "<i>No Data</i>";
                                                $legalofficer_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "date") {

                                                $date = data ? data : "<i>No Data</i>";
                                                date = true;
                                            }
                                        })
                                    })
                                    //var $nameofcust_ = $brinv_ = $securityreleased_ = $dateofrequest_ = $dateofissuance_ = $approvalsighted_ = $legalofficer_ = false;
                                    $html += "<td><i>" + $date + "</i></td>";
                                    if ($nameofcust_) {
                                        //means we found suit no
                                        $html += "<td>" + $nameofcust + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if ($brinv_) {
                                        //means we found other parties
                                        $html += "<td>" + $brinv + "</td>";
                                    } else {
                                        //$html += "<td>No Party Name</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                   
                                    if ($dateofrequest_) {
                                        //means we found type of matter
                                        $html += "<td>" + $dateofrequest + "</td>";
                                    } else {
                                        //$html += "<td>Type not specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if ($dateofissuance_) {
                                        //means we found type of matter
                                        $html += "<td>" + $dateofissuance + "</td>";
                                    } else {
                                        //$html += "<td>No Known Nature of Case</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if ($approvalsighted_) {
                                        //means we found payment sum
                                        $html += "<td>" + $approvalsighted + "</td>";
                                    } else {
                                        //$html += "<td>No Payment Sum Specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    
                                        //means we found payment sum
                                    $html += "<td>" + jaxx.LegalOfficer + "</td>";
                                    
                                    count++;
                                    $html += "</tr>";
                                })
                            }
                        }
                    }
                }
            });
            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                $(tbody_branchList).empty().append($html);
            } else {
                $(tbody_branchList).empty().append($html);
            }
            $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
            $("#dataTables").dataTable().fnDestroy();
        });
    })
</script>