﻿<!DOCTYPE html>
<html ng-app="LawPavilionStk">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/animation.css">
    <link rel="stylesheet" href="css/custom.css">
    <link rel="stylesheet" href="css/style.css">
    <link href="css/textAngular.min.css" rel="stylesheet"/>
    <link href="css/font-awesome.min.css" rel="stylesheet"/>

</head>
<body ng-show="showApp" ng-cloak>

    <div class="alert alert-info pull-left appNotifier" ng-show="alertMessage.length">{{alertMessage}}</div>

    <header class="animated shake" ng-cloak ng-class="{showLogo: location.path()!='/'}">
        <ul class="nav nav-pills pull-right">
            <li ng-show="location.path()!='/'">
                <a href="" ng-click="showSearch()"><i class="glyphicon glyphicon-search"></i> </a>
            </li>
            <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path"
                ng-class="{ active: $last }">
                <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label"
                   class="margin-right-xs"></a>
                <a ng-if="$last" ng-bind="breadcrumb.label"></a>
            </li>
            <!--<li ng-show="location.path()=='/forms/all' || location.path()=='/lettersandaffidavitsindex'">
                <a style="cursor: pointer;" data-toggle="modal" data-target="#largeModal">Credits</a>
            </li>-->
            <!--<li ng-class="{'active': location.path()=='/formspersonal/My Documents'}" ng-show="location.path()!='/formspersonal/My Documents'">
                <a ng-href="#/formspersonal/My Documents">My Docs</a>-->
            <!--</li>-->
            <li>
                <a href="" ng-click="showSettings()"><i class="fa fa-cogs"></i></a>
            </li>
        </ul>
        <ul class="pull-left nav" ng-show="location.path()!='/'">
            <li><button class="btn btn-danger" style="padding: 10px 15px;" ng-click="goBack()"><i class="fa fa-arrow-circle-left"></i> Back</button></li>
        </ul>
        <!--<div ng-hide="homeSearch || location.path()!='/'" ng-click="" class="animated slideInDown pull-right top-search-holder col-sm-12 col-md-9">
            <div class="row">
                <div class="col-sm-4 pull-right no-padding">
                    <div ng-class="{'input-group': searchTerm.length}">
                        <input type="text" placeholder="Quick Search..." class="pad-20 form-control" ng-model="searchTerm" ng-keyup="doHomeSearch()" />
                        <span class="input-group-addon btn-danger btn" ng-show="searchTerm.length" ng-click="searchTerm=''"><i class="fa fa-times-circle text-white"></i></span>
                    </div>
                </div>
            </div>
        </div>-->
    </header>
    <section class="hidden-lg hidden-md hidden-print visible-xs">
        <div class="alert alert-danger">
            <h1>Screen Size Too Small!!!</h1>
        </div>
    </section>
    <section id="main" ng-controller="AppCtrl" class="hidden-xs">
        <search-dialog></search-dialog>
        <settings-dialog></settings-dialog>

        <form-data-dialog></form-data-dialog>

        <ng-view></ng-view>
        <!-- Modal  Credits View -->
        <credit-modal></credit-modal>
        <licence-modal></licence-modal>
    </section>

    <div class="ajaxmodal"></div>

    <div class="foot-status">
        <div class="btn-group">
            <!--<button class="btn btn-success" ng-click="updateApp()">Upgrade Now!</button>-->
            <!--<button class="btn btn-success">Licence Info!</button>-->
        </div>
    </div>

    <script src="js/core/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="js/core/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/core/ng/angular.min.js" type="text/javascript"></script>
    <script src="js/core/ng/angular-route.js" type="text/javascript"></script>

    <!-- Libraries -->
    <script src="js/libs/textAngular-sanitize.min.js" type="text/JavaScript"></script>
    <script src="js/libs/underscore.min.js" type="text/JavaScript"></script>
    <script src="js/libs/textAngularSetup.js" type="text/javascript"></script>
    <script src="js/libs/textAngular.js" type="text/javascript"></script>

    <script src="js/libs/ng-breadcrumbs.min.js" type="text/javascript"></script>
    <script src="js/libs/typeahead.min.js" type="text/javascript"></script>
    <script src="js/libs/bloodhound.min.js" type="text/javascript"></script>
    <script src="js/libs/angular-typeahead.min.js" type="text/javascript"></script>
    <script src="js/libs/ui-bootstrap-tpls-0.11.2.min.js" type="text/javascript"></script>

    <script src="js/libs/jquery-scroll.min.js" type="text/javascript"></script>
    <script src="js/libs/jquery.blockUI.js" type="text/javascript"></script>
    <script src="js/libs/jquery.columnizer.min.js" type="text/javascript"></script>
    <script src="js/libs/turn.min.js" type="text/javascript"></script>
    <script src="js/libs/jquery.mousewheel.min.js" type="text/javascript"></script>

    <!-- Application Files -->
    <script src="js/app/main.js" type="text/javascript"></script>
    <script src="js/app/config.js" type="text/javascript"></script>
    <script src="js/app/stk-config.js" type="text/javascript"></script>
    <script src="js/app/controllers.js" type="text/javascript"></script>
    <script src="js/app/stk-controllers.js" type="text/javascript"></script>
    <script src="js/app/services.js" type="text/javascript"></script>
    <script src="js/app/stk-services.js" type="text/javascript"></script>
    <script src="js/app/filters.js" type="text/javascript"></script>
    <script src="js/app/stk-filters.js" type="text/javascript"></script>
    <script src="js/app/directives.js" type="text/javascript"></script>
</body>
</html>