﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/Dasboard.Master" AutoEventWireup="true" CodeBehind="default.aspx.cs" Inherits="CaseManager.HOD._default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="pageTitle" runat="server">
</asp:Content>
