﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" 
            data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Perfections Schedule</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />-->
                </div>
            </div>
            <br />
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Borrower</th>
                        <th>Branch </th>
                        <th>Unit</th>
                        <th>Region</th>
                        <th>Type of Security</th>
                        <th>Home Loan (YES/NO)</th>
                        <th>Mortgagor/Chargor</th>
                        <th>Location (For Mortgage-State)</th>
                        <th>Location (Address)</th>
                        <th>Date of Receipt</th>
                        <th>Date of Brief</th>
                        <th>Solicitor</th>
                        <th>Stamp Value</th>
                        <th>Concluded/Ongoing/Stalled/Discontinued</th>
                        <th>Date of Conclusion</th>
                        <th>Comments</th>
                        <th>Fees Paid</th>
                        <th>If Released, Date of Release</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/42.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var count = new Number(1);
                var $brinvregion = $securitytype =$date= $securitytypeee = $homeloan = $dateofbriefff_ = $mortgagorrr = $homeloannn = $mortgagor = $mortgagestate = $dateofreceipt = $dateofbrief = $solicitor = $stampvalue = $status = $dateofconc = $comments = $feespaid = $comments = $dateofrelease = "";
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    $.each(field[g], function (i, jaxx) {
                                        $html += "<tr>";
                                        $html += "<td>" + count + "</td>";
                                        $html += "<td>" + jaxx.RequestTitle + "</td>";
                                        var brinvregion_ = date=securitytypeeee_ = securitytype_ = dateofbriefff_ = mortgagorrr_ = homeloan_ = homeloannn_ = mortgagor_ = mortgagestate_ = dateofreceipt_ =
                                        dateofbrief_ = solicitor_ = stampvalue_ = status_ = dateofconc_ = comments_ = feespaid_ = dateofrelease_ = false;
                                        $.each(jaxx.Stages, function(i, saxx) {
                                            $.each(saxx.FormData, function(item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                if (labStr.toLowerCase() === "borrower") {
                                                    $brinvregion = data ? data : "<i>No Data</i>";
                                                    brinvregion_ = true;
                                                } else if (labStr.toLowerCase() === "bank branch") {
                                                    $securitytype = data ? data : "<i>No Data</i>";
                                                    securitytype_ = true;
                                                } else if (labStr.toLowerCase() === "business unit") {
                                                    $homeloan = data ? data : "<i>No Data</i>";
                                                    homeloan_ = true;
                                                } else if (labStr.toLowerCase() === "bank branch region") {
                                                    $mortgagor = data ? data : "<i>No Data</i>";
                                                    mortgagor_ = true;
                                                }
                                                //
                                                else if (labStr.toLowerCase() === "type of security") {
                                                    $securitytypeee = data ? data : "<i>No Data</i>";
                                                    securitytypeeee_ = true;
                                                } else if (labStr.toLowerCase() === "home loan") {
                                                    $homeloannn = data ? data : "<i>No Data</i>";
                                                    homeloannn_ = true;
                                                } else if (labStr.toLowerCase() === "mortgagor") {
                                                    $mortgagorrr = data ? data : "<i>No Data</i>";
                                                    mortgagorrr_ = true;
                                                } else if (labStr.toLowerCase() === "location for mortgage (state)") {
                                                    $mortgagestate = data ? data : "<i>No Data</i>";
                                                    mortgagestate_ = true;
                                                } else if (labStr.toLowerCase() === "location of mortgage (address)") {
                                                    $dateofreceipt = data ? data : "<i>No Data</i>";
                                                    dateofreceipt_ = true;
                                                } else if (labStr.toLowerCase() === "date received") {
                                                    $dateofbriefff = data ? data : "<i>No Data</i>";
                                                    dateofbriefff_ = true;
                                                } else if (labStr.toLowerCase() === "date briefed") {
                                                    $dateofbrief = data ? data : "<i>No Data</i>";
                                                    dateofbrief_ = true;
                                                } else if (labStr.toLowerCase() === "solicitors name") {
                                                    $solicitor = data ? data : "<i>No Data</i>";
                                                    solicitor_ = true;
                                                } else if (labStr.toLowerCase() === "Stamp Value") {
                                                    $stampvalue = data ? data : "<i>No Data</i>";
                                                    stampvalue_ = true;
                                                } else if (labStr.toLowerCase() === "status of perfetion") {
                                                    $status = data ? data : "<i>No Data</i>";
                                                    status_ = true;
                                                } else if (labStr.toLowerCase() === "date of conclusion") {
                                                    $dateofconc = data ? data : "<i>No Data</i>";
                                                    dateofconc_ = true;
                                                } else if (labStr.toLowerCase() === "comments") {
                                                    $comments = data ? data : "<i>No Data</i>";
                                                    comments_ = true;
                                                } else if (labStr.toLowerCase() === "fees paid") {
                                                    $feespaid = data ? data : "<i>No Data</i>";
                                                    feespaid_ = true;
                                                } else if (labStr.toLowerCase() === "date of release") {
                                                    $dateofrelease = data ? data : "<i>No Data</i>";
                                                    dateofrelease_ = true;
                                                } else if (labStr.toLowerCase() === "date") {

                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            });
                                        });
                                        $html += "<td><i>" + $date + "</i></td>";
                                        if (brinvregion_) {
                                            //means we found suit no
                                            $html += "<td>" + $brinvregion + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (securitytype_) {
                                            //means we found other parties
                                            $html += "<td>" + $securitytype + "</td>";
                                        } else {
                                            //$html += "<td>No Party Name</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (homeloan_) {
                                            //means we found branch
                                            $html += "<td>" + $homeloan + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (mortgagor_) {
                                            //means we found type of matter
                                            $html += "<td>" + $mortgagor + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (securitytypeeee_) {
                                            //means we found type of matter
                                            $html += "<td>" + $securitytypeee + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                       
                                        if (homeloannn_) {
                                            //means we found type of matter
                                            $html += "<td>" + $homeloannn + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (mortgagorrr_) {
                                            //means we found type of matter
                                            $html += "<td>" + $mortgagorrr + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }

                                        if (mortgagestate_) {
                                            //means we found type of matter
                                            $html += "<td>" + $mortgagestate + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (dateofreceipt_) {
                                            //means we found type of matter
                                            $html += "<td>" + $dateofreceipt + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (dateofbriefff_) {
                                            //means we found type of matter
                                            $html += "<td>" + $dateofbriefff + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }

                                        if (dateofbrief_) {
                                            //means we found type of matter
                                            $html += "<td>" + $dateofbrief + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }

                                        $html += "<td>" + jaxx.Name + "</td>"; //solicitor
                                       
                                        
                                        if (stampvalue_) {
                                            //means we found type of matter
                                            $html += "<td>" + $stampvalue + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                       
                                        $html += "<td>" + jaxx.RequestStatus + "</td>";
                                       
                                        if (dateofbriefff_) {
                                            //means we found type of matter
                                            $html += "<td>" + $dateofbriefff + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (comments_) {
                                            //means we found type of matter
                                            $html += "<td>" + $comments + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (feespaid_) {
                                            //means we found type of matter
                                            $html += "<td>" + $feespaid + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (dateofbriefff_) {
                                            //means we found type of matter
                                            $html += "<td>" + $dateofbriefff + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        count++;
                                        $html += "</tr>";
                                    })
                                }
                            }
                        }
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    })
</script>
<!--
    var json = field[g];
                                    var count = new Number(field[g][0].Process_Data.length);
                                    if (count != 0) {
                                        for (var z = 0; z < count; z++) {
                                            $html += "<tr><td>" + (z + 1) + "</td>";
                                            var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                            for (var q = 0; q < jax; q++) {
                                                var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                                for (var x = 0; x < len; x++) {
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "bank branch (region)") {
                                                        $brinvregion = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "type of security") {
                                                        $securitytype = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "mortgagor") {
                                                        $mortgagor = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }

                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "location for mortgage (state)") {
                                                        $mortgagestate = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if ((field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date")
                                                        &&
                                                        (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "145")) {
                                                        $dateofreceipt = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date of brief") {
                                                        $dateofbrief = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "status of perfetion") {
                                                        $status = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if ((field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date")
                                                        &&
                                                        (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "192")) {
                                                        $dateofconc = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "comments"
                                                        &&
                                                        field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "191") {
                                                        $comments = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitor fee amount") {
                                                        $feespaid = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                    if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date"
                                                        &&
                                                        field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "189") {
                                                        $dateofrelease = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                                    }
                                                }
                                            }

                                            $html += $brinvregion + $securitytype + $homeloan + $mortgagor + $mortgagestate + $dateofreceipt + $dateofbrief + $solicitor + $stampvalue + $status + $dateofconc + $comments + $feespaid + $dateofrelease + "</tr>";
                                            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                                $(tbody_branchList).empty().append($html);
                                            } else {
                                                $(tbody_branchList).append($html);
                                            }
                                        }//
                                    } else {
                                        // Count is Zero
                                        if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                            $(tbody_branchList).empty().append("");
                                        } else {
                                            $(tbody_branchList).append("");
                                        }
                                    }
-->