﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Distribution/Map of all Bank’s Properties with colour coding of perfection status</a>
        </li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <!--
                <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <input class="form-control" type="text" name="Branch" />
                </div>
            </div>
            -->
            <!--If Absolute, State Judgement Sum and confirm if paid or yet to be paid-->
            <table data-toggle="table" class="table table-striped table-bordered dataTable no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Date</th>
                        <th>Date of Service</th>
                        <th>Suit No/Parties</th>
                        <th>Name of Account</th>
                        <th>Account No (If Any)</th>
                        <th>Judgement Sum</th>
                        <th>Nature of Cause</th>
                        <th>Amt in Customer's Account</th>
                        <th>Status</th>
                        <th>Name of Solicitor</th>
                        <th>Date and Manner of Conclusion</th>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>