﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Distribution/Map of all Bank’s properties with colour coding of lease status</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            
                <div id="" class="panel-heading form-control-static">
                <div class="pull-right btn-group-hori">
                    <!--<input class="form-control" type="text" name="Branch" />
                    <input class="form-control" type="text" name="Role" />
                    <input class="form-control" type="date" name="date range" />-->
                </div>
            </div>
            
            
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>Activity</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Weekly Total</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
                var cc, json;
                $.each(response, function (i, field) {
                    for (g in field) {
                       if (g === "Processes_Data") {
                            var json = field[g];
                            var count = new Number(json.length);
                            if (count != 0) {
                                for(var z = 0; z < count; z++) {
                                    var jax = new Number(field[g][z].Process_Data[0].Request_Data.length);
                                    for(var q = 0; q < jax; q++) {
                                        var len = new Number(field[g][z].Process_Data[0].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                        for(var x = 0; x < len; x++) {
                                           // console.log(field[g][z].Process_Data[0].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label);
                                        }
                                    }
                                }
                            } else {
                                // Count is Zero
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            }
                       }
                    }
                });
        });
    })
</script>