﻿ <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active"
                    data-original-title="Requests requiring your attention">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">In-House Requisition and Advisory Report</a>
                </li>
                <li class="buttonactions" id="buttonactions">
                    <table>
                        <tr>
                            <td>
                                <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                            </td>
                            <td>
                                <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                            </td>
                            <td>
                                <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                            </td>
                        </tr>
                    </table>
                </li>
            </ul>
            <br>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <div id="" class="panel-heading form-control-static">
                        <div class="pull-right btn-group-hori">
                            <!--<input class="form-control" type="text" name="Branch" />-->
                        </div>
                    </div>
                    <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Request Title</th>
                                <th>Date</th>
                                <th>Name of Requesting Branch</th>
                                <th>Customers Name</th>
                                <!--<th>Request Type</th>-->
                                <th>Date and Time Of Request</th>
                                <th>Documents Provided</th>
                                <th>Legal Officer</th>
                                <th>Treated or Returned</th>
                                <!--<th>Final Documents</th>-->
                                <th>Comments</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_branchList"></tbody>
                    </table>
                </div>
                <div id="notice_window" class="col-sm-3 hidden"></div>
            </div>
        </div>
        <link rel="stylesheet" href="../assets/css/styles.css" />
        <script type="text/javascript" src="../assets/js/app.js"></script>
        <script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
            //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
            // $.get('../Components/json/28.json', function (response) {
            //PageHandler.sendXMLHttp('../Components/json/41.json', {}, PageHandler.HTTPMethods.GET, function (response) {
            var cc, json;
            var $html = "";
            var count = new Number(1);
            var $brinv = $custname =$date= $reqtype = $dateofreq = $documentsprov = $legalofficer = $treatedorret = $finaldocs = $comments = "";
            $.each(response.data, function (i, field) {
                for (g in field) {
                    if (g === "Requests") {
                        if ($.isArray(field[g])) {
                            if (field[g].length <= 0) {
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            } else {
                                //field[g].forEach(function (jaxx) {
                                $.each(field[g], function(i, jaxx) {
                                    console.log(jaxx);

                                    $html += "<tr>";
                                    $html += "<td>" + count + "</td>";
                                    $html += "<td>" + jaxx.RequestTitle + "</td>";
                                    var legal = "";
                                    var branch = "";
                                    var comments_ = "";
                                    if (jaxx.LegalOfficer != null) {

                                        legal = jaxx.LegalOfficer;
                                    }
                                    var $brinv_ =date= $custname_ = $reqtype_ = $dateofreq_ = $documentsprov = solName_ = $legalofficer_ = $treatedorret_ = $finaldocs_ = $comments_ = false;
                                    $.each(jaxx.Stages, function(i, saxx) {
                                        $.each(saxx.FormData, function(item, data) {
                                            var labStr = new String();

                                            labStr = item;
                                            console.log(labStr.toLowerCase());
                                            if (labStr.toLowerCase() === "branch name") {
                                                branch = data;
                                                $brinv = data ? data : "<i>No Data</i>";
                                                brinv_ = true;
                                            } else if (labStr.toLowerCase() === "customer name") {
                                                $custname = data ? data : "<i>No Data</i>";
                                                $custname_ = true;
                                            } else if (labStr.toLowerCase() === "request type") {
                                                $reqtype = data ? data : "<i>No Data</i>";
                                                $reqtype_ = true;
                                            } else if (labStr.toLowerCase() === "date") {
                                                $dateofreq = data ? data : "<i>No Data</i>";
                                                $dateofreq_ = true;
                                            } else if (labStr.toLowerCase() === "list of document") {
                                                $documentsprov = data ? data : "<i>No Data</i>";
                                                $documentsprov_ = true;
                                            } else if (labStr.toLowerCase() === "legal officer") {
                                                $legalofficer = legal;
                                                $legalofficer_ = true;
                                            } else if (labStr.toLowerCase() === "treated or returned") {
                                                $treatedorret = data ? data : "<i>No Data</i>";
                                                $treatedorret_ = true;
                                            } else if (labStr.toLowerCase() === "final documents") {
                                                $finaldocs = data ? data : "<i>No Data</i>";
                                                $finaldocs_ = true;
                                            } else if (labStr === "comment") {
                                                //alert(data);

                                                comments_ = data;
                                               
                                            } else if (labStr.toLowerCase() === "date") {

                                                $date = data ? data : "<i>No Data</i>";
                                                date = true;
                                            }
                                        });
                                    });
                                    $html += "<td><i>" + $date + "</i></td>";
                                    $html += "<td>" + branch + "</td>";

                                    if ($custname_) {
                                        //means we found other parties
                                        $html += "<td>" + $custname + "</td>";
                                    } else {
                                        //$html += "<td>No Party Name</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    //if ($reqtype_) {
                                    //    //means we found branch
                                    //    $html += "<td>" + $reqtype + "</td>";
                                    //} else {
                                    //    //$html += "<td>No Branch</td>";
                                    //    $html += "<td><i>No Data</i></td>";
                                    //}
                                    if ($dateofreq_) {
                                        //means we found type of matter
                                        $html += "<td>" + $dateofreq + "</td>";
                                    } else {
                                        //$html += "<td>Type not specified</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if ($documentsprov_) {
                                        //means we found type of matter
                                        $html += "<td>" + $documentsprov + "</td>";
                                    } else {
                                        //$html += "<td>No Known Nature of Case</td>";
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    //var $brinv_ = $custname_ = $reqtype_ = $dateofreq_ = $documentsprov_ = $legalofficer_ = $treatedorret_ = $finaldocs_ = $comments_ = false;

                                    $html += "<td>" + jaxx.LegalOfficer + "</td>";


                                    $html += "<td>" + jaxx.RequestStatus + "</td>";

                                    //if ($finaldocs_) {
                                    //    //means we found payment sum
                                    //    $html += "<td>" + $finaldocs + "</td>";
                                    //} else {
                                    //    //$html += "<td>No Payment Sum Specified</td>";
                                    //    $html += "<td><i>No Data</i></td>";
                                    //}
                                    //var brinv = accnumber = borrower = securitytype =
                                    //solicitorsname = state = dateinstructed = status = comments = dateconcluded = legalofficer = false;

                                    //means we found payment sum
                                    $html += "<td>" + comments_ + "</td>";

                                    count++;
                                    $html += "</tr>";
                                });
                            }
                        }
                    }
                }
            });
            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                $(tbody_branchList).empty().append($html);
            } else {
                $(tbody_branchList).empty().append($html);
            }
            $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
            $("#dataTables").DataTable().fnDestroy();
        });
    })
        </script>