@font-face {
    font-family: 'OpenSansSemibold';
    src: url('../fonts/opensans-semibold-webfont.woff');
    src: url('../fonts/opensans-semibold-webfont.woff'),
        url('../fonts/OpenSans-Semibold.ttf'), format('truetype'),;
    font-weight: 100;
    font-style: normal;

}
@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSansRegular.woff');
    font-style: normal;

}

body {
    background: #CCCCCC; /*url('../img/wood.jpg') fixed*/
    /*min-width: 1120px!important;*/
    font-family: 'OpenSans', sans-serif;
    -webkit-user-select: none;
}

html {
    height: 100%;
}

.foot-status {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 5px 10px;
}

a:hover { text-decoration: none; }

h1, h2, h3, h4, h5 {
    font-family: 'OpenSans', sans-serif;
}

th { font-family: 'OpenSansSemibold', sans-serif; }

header {
    height: 75px;
}
header.showLogo, .top-search-holder {
    padding-left: 300px;
    background: url("../img/stk-logo-1.png") 40px 10px no-repeat;
}

header .nav, header .breadcrumb {
    margin: 10px;
}

header .nav li {
    background-image: -webkit-linear-gradient(top, #7E7E7E 0%, #000000 100%);
    background-image: -ms-linear-gradient(top, #7E7E7E, #000000);
    border-radius: 4px;
}
header .nav li.active a, header .nav li.active a:hover {
    background: -webkit-linear-gradient(top, #9DFC8F 0%, #256325 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DFC8F', endColorstr='#256325',GradientType=0);
}
header .nav>li>a:hover, header .nav>li>a:focus { background-image: inherit; }
header .nav li a { color: #FFF; }

header.affix { width: 100%; background-color: rgba(255,255,255,0.9); -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75); box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75); z-index: 99;}

#mHead { background-color: rgba(0,0,0,0.6); border-radius: 25px; }

/**
* Style for the Home Screen
*/
.twitter-typeahead { width: 100%; }

#nav-menu-left, #nav-menu-right {
    /*height: 470px;*/
    background: rgba(0,0,0,0.5);
    /*width: 550px;*/
    overflow: hidden;
    margin-top: 10px;
    -webkit-user-select: none;
}

#nav-menu-left {
    border-radius: 0 30px 30px 0;
    padding: 0 10px 15px 0;
}

#nav-menu-right {
    border-radius: 30px 0 0 30px;
    padding: 23px 0 30px 10px;
}

#nav-menu-left.hide-me {
    position: absolute;
    left: -20%;
}

#nav-menu-right.hide-me #col2 {
    display: none;
}

#nav-menu-left ul.nav li, #new-nav-menu ul.nav li {
    padding: 10px 0 10px 10px;
    background: -webkit-linear-gradient(top, #FCFCFC 0%, #CCCCCC 100%);
    background: -ms-linear-gradient(top, #FCFCFC, #CCCCCC);
    margin: 18px 0 0 0;
    border-radius: 10px 0 0 10px;
    cursor: pointer;
    font-family: 'OpenSansSemibold', sans-serif;
    font-size: small;
}

ul.nav li .rotor {
    width: 50px;
    height: 50px;
    display: inline-block;
    position: absolute;
    top: -5px;
    background: -webkit-linear-gradient(top, #393939 0%, #131313 100%);
    background: -ms-linear-gradient(top, #393939, #131313);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#393939', endColorstr='#131313',GradientType=0);
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    right: -10px;
}

ul.nav li .rotor img { margin: 10px auto 0; display: block; }

.box {
    border: 1px solid #FFF;
}

.searchBox, #home-search .input-group-addon { border-color: #eea236; }
.searchBox {
    padding: 7px 16px;
    height: auto;
    font-size: 18px;
    line-height: 1.33;
}

#nav-menu-left li, #new-nav-menu li {
    white-space: nowrap;
}

.search-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-size: 15px;
}

.searchbody { font-size: 13px; }

#nav-menu-right .panel { margin-left: 10px; }
#nav-menu-right #col2 .panel { margin-right: 10px; margin-left: 0; }

.panel>.panel-heading {
    height: 90px;
    padding: 10px 5px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'OpenSans', sans-serif!important;
    font-weight: 100;
}
.shelf .panel>.panel-heading {
    padding: 10px 15px;
}
accordion>.panel-group>.panel>.panel-heading { height: auto!important; }


.panel>.panel-heading.agency { height: 120px; }
.panel>.panel-heading.agency img { height: 60px; }

.panel-inverse>.panel-heading {
    background: -webkit-linear-gradient(top, #7e7e7e 0%, #000000 100%);
    background: -ms-linear-gradient(top, #7E7E7E, #000000);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7E7E7E', endColorstr='#000000',GradientType=0);
}
.panel-success>.panel-heading {
    background: -webkit-linear-gradient(top, #9DFC8F 0%, #256325 100%);
    background: -ms-linear-gradient(top, #9DFC8F, #256325);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9DFC8F', endColorstr='#256325',GradientType=0);
}
.panel-info>.panel-heading {
    background: -webkit-linear-gradient(top, #91E6F6 0%, #1E1E74 100%);
    background: -ms-linear-gradient(top, #91E6F6, #1E1E74);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91E6F6', endColorstr='#1E1E74',GradientType=0);
}
.panel-danger>.panel-heading {
    background: -webkit-linear-gradient(top, #F07C7C 0%, #8A1A1A 100%);
    background: -ms-linear-gradient(top, #F07C7C, #8A1A1A);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F07C7C', endColorstr='#8A1A1A',GradientType=0);
}
.panel-warning>.panel-heading, .label-warning {
    background-image: -webkit-linear-gradient(top, #F6CC7E 0%, #8A641F 100%);
    background: -ms-linear-gradient(top, #F6CC7E, #8A641F);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F6CC7E', endColorstr='#8A641F',GradientType=0);
}

.column img {
    display: block;
    margin: 5px auto;
}
.shelf .row { background: url('../img/rack2.png') 0 0px !important; }
.shelf .row .panel { margin-bottom:44px; margin-top: 10px; background-color: rgba(255,255,255,0.8)!important; }
.shelf .panel-heading {
    /*background-image: url('../img/v-spine.png');*/
    background-repeat: repeat-y;
    background-position: -5px 0;
    height: 140px;
}

.sideSpine {
    background-image: url('../img/v-spine.png');
    background-repeat: repeat-y;
    background-position: -3px 0;
    padding-left: 40px;
}
.shelf .row .panel:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    /*box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.3), 6px -6px 0 -3px rgba(255, 255, 255, 0.8), 7px -7px 1px -3px rgba(0, 0, 0, 0.3), 12px -12px 0 -5px rgba(255, 255, 255, 0.8), 13px -13px 1px -5px rgba(0, 0, 0, 0.3), 1px 1px 1px rgba(0, 0, 0, 0.3), 6px 4px 0 -3px rgba(255, 255, 255, 1), 7px 5px 1px -3px rgba(0, 0, 0, 0.3), 12px 4px 0 -5px rgba(255, 255, 255, 1), 13px 5px 1px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.3), 6px -6px 0 -3px rgba(255, 255, 255, 0.8), 7px -7px 1px -3px rgba(0, 0, 0, 0.3), 12px -12px 0 -5px rgba(255, 255, 255, 0.8), 13px -13px 1px -5px rgba(0, 0, 0, 0.3);*/
    box-shadow: 1px 0 1px rgba(0, 0, 0, 0.3), 6px 0 0 -3px rgba(255, 255, 255, 0.8), 7px 0 1px -3px rgba(0, 0, 0, 0.3), 12px 0 0 -5px rgba(255, 255, 255, 0.8), 13px 0 1px -5px rgba(0, 0, 0, 0.3);
}

table a { color: #000000; font-weight: bold; text-shadow: none; }

.panel h3 { margin-top: 5px; }
/**
* Secondary Page Styles
*/

#app-container, .app-container {
    background: rgba(0,0,0,0.5);
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
}

.category-label {
    background-color: rgba(0,0,0,0.5);
    padding: 5px 20px;
    font-family: 'OpenSans', sans-serif;
    border-radius: 5px;
}

#content-container,.toc {
    /*background: url("../img/binder-v.png") repeat-y 0 0;*/
    box-shadow: 3px 4px 10px 0px rgba(50, 50, 50, 0.85);
    /*padding: 33px 0 0;*/
    padding-left: 0px;
    padding-right: 0;
}

#content-container .theContent {
    min-height: 200px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
    padding-bottom: 35px;
}
.page {
    background-color: #FFF;
    text-align: justify;
    -webkit-user-select: auto;
}

#reader {
    background: #000000 url('../img/h-grain.jpg')!important;
}

.page.odd {
    background: #FFF url("../img/v-spine.png") repeat-y -3px 0;
    padding: 10px 10px 5px 25px;
}
.page.even {
    padding: 10px 10px 5px 10px;
}
.list-unstyled { padding-left: 30px; }

#contentFoot, .contentFoot {
    color: #777;
    padding: 0 15px;
    position: absolute;
    right: 0;
    bottom: -31px;
    left: 0;
    height: 20px;
    z-index: 1;
    text-align: center;
}

#contentFoot:before, .contentFoot:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 31px;
    left: 0;
    height: 50px;
    z-index: -1;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 6px 0 -3px rgba(255, 255, 255, 0.8), 0 7px 1px -3px rgba(0, 0, 0, 0.3), 0 12px 0 -5px rgba(255, 255, 255, 0.8), 0 13px 1px -5px rgba(0, 0, 0, 0.3), 0 18px 0 -7px rgba(255, 255, 255, 0.8), 0 19px 2px -7px rgba(0, 0, 0, 0.2);
}

div.paper {
    background-image:  -webkit-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -webkit-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -webkit-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -webkit-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-image:  -moz-linear-gradient(left, rgba(255,85,91, .2), rgba(255,85,91, .2)), -moz-linear-gradient(left, rgba(255,85,91, .8), rgba(255,85,91, .8)), -moz-linear-gradient(top, white 0px, white 69px, rgba(255,255,255,0) 70px), -moz-repeating-linear-gradient(white 0px, white 18px, #A6FFED 19px, white 20px);
    background-size: 1px, 1px, auto, auto 10px;
    background-repeat: repeat-y, repeat-y, no-repeat, repeat;
    background-position: 98% 0px, 1% 0px, 0px 0px, 0px 0px;
    text-align: justify;
    margin: 0 auto;
    width: 100%;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div.paper div {
    margin: 0;
    display: block;
    color: #000000;
    line-height: 25px;
    padding-top: 0;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: justify;
}

.law {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 100%;
    margin-top: 2px;
    margin-left: 0px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 10px;
    font-size: 12px;
    line-height: 18px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.appNotifier {
    position: absolute;
    padding: 20px;
    font-size: larger;
    left: 0;
    z-index: 9999;
    top: 400px;
}

.tt-suggestion p {
    margin: 0;
}
.searchRow {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    padding: 10px 20px 10px 30px;
    background-image: url('../img/v-spine.png');
    background-repeat: repeat-y;
    background-position: -5px 0;
}

.aLink {
    cursor: pointer;
}

.ta-editor {
    margin-bottom: 0!important;
    border-radius: 0;
}
div.ta-toolbar { margin: -30px auto 26px!important; }
div#modsheader {
    background: -webkit-linear-gradient(top, #FCFCFC 0%, #E2FFF6 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFCFC', endColorstr='#E2FFF6',GradientType=0);
}
.ta-toolbar .btn-primary {
    /*background: -webkit-linear-gradient(top, #CCCCCC 0%, #FFFFFF 100%);
    color: #428bca;*/
    border-color: #E2FFF6;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}
.ng-valid.ng-dirty {
    border-color: #78FA89;
}

#theWord {
    width: 70%;
    margin: 5px auto;
    -webkit-user-select: auto;
}
.ta-editor.ta-html, .ta-scroll-window.form-control {
    padding: 40px;
}
.ta-scroll-window>.ta-bind {
    padding: 60px!important;
    color: #000000;
}
.status-bar {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    padding: 5px;
    background: rgba(0,0,0,0.8);
    color: #FFFFFF;
}
.book {
    -webkit-user-select: auto;
}
#search-modal div.modal-content { background: #FFF!important;: }

.top-search-holder {
    padding: 10px;
}

font.analysismain {
    background-color: #f0c000;
}

#form{
    top: 0;
    left: 15%;
    z-index: 103;
    position: fixed;
}

#form-toolbar {
    z-index: 103;
    position: fixed;
    top: 110px;
    right: 10px;
}

.overlay {
    display:    none;
    position:   fixed;
    z-index:    100;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 30, 30, 30, .8 );
}

body.loadingForm {
    overflow: hidden;
}

body.loadingForm .overlay {
    display: block;
}

/**
* E-book Styles
*/
#readerWindow {
    width:800px;
    padding: 20px;
    text-align: justify;
    font-family: Helvetica, Arial, sans-serif!important;
    font-size: 19px;
    color: #000000;
    background: url('../img/reading-pad.jpg') repeat;
}

#firstpage {
    margin: 0 auto;
    background: url('../images/front_new.png') no-repeat center bottom;
    width: 600px;
    height: 850px;
    background: rgba(0.1,0.1,0.1,0.2);
}


/**
* Generic Styles
*/
.no-padding { padding: 0; }
.pad-10 { padding: 10px; }
.pad-20 { padding: 20px; }
.pad-t10 { padding-top: 10px; }
.pad-t20 { padding-top: 20px!important; }
.pad-t30 { padding-top: 30px!important; }
.pad-t40 { padding-top: 40px!important; }
.pad-t50 { padding-top: 50px!important; }

.nomargin { margin: 0; }
.mt-0 { margin-top: 0!important; }
.mt-10 { margin-top: 10px!important; }
.mt-20 { margin-top: 20px!important; }
.mt-50 { margin-top: 50px!important; }
.mt-100 { margin-top: 100px; }
.mt-200 { margin-top: 200px; }
.mb-15 { margin-bottom: 15px; }
.mb-5 { margin-bottom: 5px; }


.text-white { color: #FFF; }
.text-inverse { color: #000000; }
.text-bold { font-weight: bold; }
.text-blue { color: blue; }

.text-underline { text-decoration: underline; }

.white-bg { background-color: #FFFFFF!important; }
.black-bg { background-color: #000000!important; }
.grey-bg { background-color: #CCC!important; }

.square-bottom {
    border-bottom-left-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.img-centered {
    margin: 0 auto;
    display: block;
}

/**
* Corrective Styles
*/
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
    height: auto;
}

@media (max-width: 1100px) {
    #nav-menu-left.hide-me {
        left: -25%;
    }
}