@font-face {
    font-family: 'OpenSans';
    font-style: normal;
    font-weight: 400;
    src: local('OpenSans'), local('OpenSans'), url(../fonts/googlefonts/opensans/opensans400.ttf) format('truetype');
}

.book {
    overflow: auto;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    border: thin solid #444;
    background: #fff;
}

#front {
}

.mainpageholdersfronterrata {
    text-align: justify;
    display: block;
    height: auto;
    background-size:362px 641px;
    padding: 15px;
    position: relative;
}

.frontcontent {
    margin-right: auto;
    margin-left: auto;
    /*width: auto;
    height: auto;
   	width: 600px;
   	height: 1100px;
   	*/
    width: 100%;
    height: 100%;
    /*border: thin solid #444;*/
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    color: #000;
    /*background: url('../bookview/images/front.jpg') no-repeat;*/
}

.content {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    height: auto;
    border: thin solid #444;
    background: #fff;
    text-align: justify;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    line-height: 33px;
    font-size: 24px;
    color: #1111FF;
    bottom: 5px;
    display: block;
    padding: 20px;
    overflow: auto;
}

div.content ratios.h2 {
    font-weight: 300;
    font-family: OpenSans, sans-serif;
}

div.ratiodecidendi h2 {
    font-weight: 300;
    font-family: OpenSans, sans-serif;
    color: #1111FF;
}

/* First Index CSS Region */
table.overclose {
    margin: 0 auto;
}
.casetitle {
    width: 90%;
    color: #CC0000;
    text-align: center;
    font-family: 'OpenSans', sans-serif;
    font-size: 21px;
    font-weight: 800;
    margin-bottom: 20px;

}
.citation {
    width: auto;
    margin-top: 50px;
    height: 40px;
    color: #009933;
    font-family: 'OpenSans', sans-serif;
    font-size: 21px;
    font-weight: 800;
}
img.image {
    border: none;
    margin-top: 12px;
}
.inthecourt {
    color: #006511;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
}
.division {
    color: #000065;
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: 500;
}
.ondate {
    color: #000000;
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}
.suitno {
    font-family: 'OpenSans', sans-serif;
    font-size: 23px;
    font-weight: 700;
    color: #CC0000;
}
.beforetheirlordships {
    color: #000000;
    /*color: #000065;*/
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 700;
}
table.alljustices tr td div.judgescourt {
    color: #000065;
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding: 35px;
}

#tat table.alljustices tr td div.judgescourt {
    padding: 5px;
}

.between {
    color: #000000;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 700;
}

.appellants, .respondents {
    width: 100%;
}

table.appellants tr td.appellanname {
    color: #000065;
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 15px;
}
table.appellants tr td div.appellan {
    color: #000065;
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 15px;
}

.andappellants {
    color: #000000;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 700;
}
table.respondents tr td.respondentsname {
    color: #000065;
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 15px;
}
table.respondents tr td div.respondens {
    color: #000065;
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: 300;
    padding: 15px;
}
/**/
table.overclose tr td .pagenum {
    color: #000065;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
}
.ratiodec {
    color: #9A0000;
    font-family: 'OpenSans', sans-serif;
    font-size: 23px;
    font-weight: 800;
}
.subjectmatterspan {
    color: #229A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 23px;
    font-weight: 800;
}
.issuesspan {
    color: #009A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
}

orphan {
    color: #00009A;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    display: block;
    text-align: justify;
}

.principlespan {
    color: #00009A;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    display: block;
    text-align: justify;
}
.ratioscountfont {
    display: inline;
}
.ratioscount {
    /*
     *color: #009A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    */
}
div#ratioscontent {
    /*border: thin solid red;*/
    margin-left: 25px;
    margin-top: -26px;
}
font.ratioscountfont {
    color: #009A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 17px;
    font-weight: 400;
}
#principletag {
    /*width: auto;
    border: thin solid #ccc;
    */
}

span.divider {
    width: 70px;
}


p.displaytextsingle {
    -webkit-box-reflect:
    below 0px
    -webkit-gradient(
            linear, left top, left bottom,
            from(transparent), color-stop(0.5, transparent), to(rgba(255,255,255,0.2))
    );
    font-family: 'OpenSans', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    font-stretch: condensed;
    background: #F29C5D;
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    display: block;
}

.caseoriginsingle {
    margin-top: 1px;
    font-family: 'OpenSans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-stretch: condensed;
    color: #58A347;
    display: block;
    text-align: center;
    height: 38px;
    width: inherit;
}
.authorssingle {
    margin-left: 20px;
    margin-top: 1px;
    font-family: 'OpenSans', sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-stretch: condensed;
    color: #000;
    position: relative;
    display: block;
    text-align: center;
    height: 120px;
    width: 440px;
}
div.leftsingle {
    position: absolute;text-align: center;
    width: inherit;font-family: 'OpenSans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;
}

div.rightsingle {
    position: absolute;text-align: center;
    width: inherit;font-family: 'OpenSans', sans-serif;
    font-size: 27px;
    font-weight: 500;
    margin-top: 50px;
}
div.authors div.left {
    position: absolute; text-align: center;
    width: inherit;font-family: 'OpenSans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    margin-top: 20px;

}

div.citationholdersingle {
    width: 300px;
    background: #822B24;
    border-radius: 10px;
    margin: 0 auto;
    font-family: 'OpenSans', sans-serif;
    font-size: 28px;
    font-weight: 600;
}
div.lpcitationsingle {
    width: inherit;
    height: 60px;
    background: #822B24;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    font-family: 'OpenSans', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin-top: 150px;


}
div.wpcitationsingle {
    color: #fff;
    text-align: center;
    font-family: 'OpenSans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    background: #822B24;
    height: inherit;
    width: inherit;
    border-radius: 10px;
    padding-top: 10px;
}

.ratiosdec {
    display: block;
    color: #444444;
    font-family: 'OpenSans', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-decoration: none;
}

a.ratiosdec font.legalhead {
    color: #9A0000;
    font-family: 'OpenSans', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

a.ratiosdec font.subjectmatter {
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #229A33;
}

a.ratiosdec font.issues {
    color: #009A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
}

a.ratiosdec font.principle {
    color: #00009A;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    display: inline;
    text-align: justify;
}

center.unavailablecontent {
    color: #00009A;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    display: inline;
    text-align: center;
}

/*
ul.nav {
    background: #428BCA;
    color: #ffffff;
    font-family: 'OpenSans', sans-serif;
    border-bottom-color: #ffffff;
}

ul.nav-tabs li a {
    color: #ffffff;
}

ul.nav-tabs li a:active {
    color: #555;
}
*/

table.appellants tr td.appellanname div.appellantblock {
    display: block;
    text-align: justify;
    float: left;
}

table.respondents tr td.respondentsname div.defendantsblock {
    display: block;
    /*text-align: justify;*/
    float: left;
}

table.appellants tr td div.appellan {
    display: block;
    text-align: justify;
}

table.appellants tr td div.respondens {
    display: block;
    text-align: center;
}

font.ratiodec {
    color: #9A0000;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 800;

}

div.ratiodecsingle {
    color: #9A0000;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 800;
    margin-left: -15px;
    bottom: 10px;

}
div.subjectmatterspan {
    color: #229A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    font-weight: 800;
}
font.subjectmatterdiv {
    color: #229A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 800;
}
div.issuesspan {
    color: #009A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-align: justify;
}
font.issuesdiv {
    color: #009A33;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

div.ratiosfront {

}



font.principlespan {
    color: #00009A;
    font-family: 'OpenSans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    display: block;
    text-align: justify;
}
div.principlediv {
    color: #00009A;
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: block;
    text-align: justify;
}
.ratioscountfont {
    display: inline;
}


.ratioscountnew {
    height: inherit;
    width: 25px;
    float: left;
    z-index: 2000;
    margin-left: -45px;
    position: absolute;
    font-family:OpenSans, sans-serif;
    font-size:20px;
    font-weight: 100;
}

#forms-list thead tr th {
    color: #ffffff;
    font-family: OpenSans, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

#forms-list tbody tr td a {
    color: #ffffff;
    font-family: OpenSans, sans-serif;
    display: block;
    height:100%;
    width:100%;
}

#forms-list tbody tr:hover {
    color: #000000;
    cursor: pointer;
}

#forms-list tbody tr td:hover {
    color: #000000;
    cursor: pointer;
}

#forms-list tbody tr td a:hover {
    color: #000000;
    font-family: OpenSans, sans-serif;
}


div.modal-content {
    background: url('../images/background.png') repeat;
}

div.theContent {
    background: url('../images/background.png') repeat;
}
div#modsheader {
    background: url('../images/background.png') repeat;
}
div.ng-valid {
    padding: 20px;
}

div#toolbarWC {
    margin-top: 2px;
    margin-left: 20px;
}

div#toolbarCC {
    margin-top: 2px;
    text-align: left;
    width: auto;
}

div.ta-toolbar {
    margin-top: -14px;
}

.ta-editor {
    height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
    margin-top: 2px;
}

span.ng-binding.ng-scope {
    color: #000000;font-family: OpenSans, sans-serif;font-size: 32px;
    /*text-shadow: black 3px 3px 3px;*/
}
.accheads {
    color: #000000;font-family: OpenSans, sans-serif;font-size: 32px;
}

div#book div.tobe {
    width: 600px;
    min-height: 450px;
    background: #fff;
    margin-bottom: 4px;
    margin-top: 4px;
    border-top: thin solid #638DC7;
    border-bottom: thin solid #638DC7;
    border-left: thin solid #638DC7;
    border-right: thin solid #638DC7;
    border: thin solid #638DC7;
    margin: 0 auto;
    margin-bottom: 8px;
}

.mainpageholders {
    background: url('../images/468.jpg') no-repeat;
    text-align: justify;
    display: block;
    min-height: 450px;
    background-size:362px 641px;
    padding: 15px;
    position: relative;
    width: 550px;
    margin: 15px auto 0;
}

div.innerdivcontent {
    margin-left: 25px;
    text-align: justify;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 17px;
    height: auto;
    color:#1111FF;
    height: 559px;
    width: inherit;
    word-wrap: break-word;
    position: relative;
    margin: 0 auto;
}

div.innerdivcontentmini {
    margin-left: 15px;
    text-align: justify;
    text-decoration: none;
    font-family: OpenSans, sans-serif;
    font-size: 18px;
    height: auto;
    color: #1111FF;
    height: auto;
    width: 500px;
    word-wrap: break-word;
    bottom: 5px;
    display: block;
    padding: 14px;
    /* Because of Page Numbering lets suspend this line height */
    line-height: 26px;
    margin: 0 auto;
}

div.pagenumber
{
    position: absolute;
    bottom: 4px;
    text-align: center;
    margin-left: 250px;
    color: #000;
    font-family: 'OpenSans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: auto;left:0;right:0;
}

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

ul.dropdown-menu {
    background: #428BCA;
    color: #ffffff;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
}

ul.dropdown-menu li {
    background: #428BCA;
    color: #ffffff;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
}
ul.dropdown-menu li a {
    background: #428BCA;
    color: #ffffff;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
}

ul.dropdown-menu li:hover {
    background: #ffffff;
    color: #000000;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
}

ul.dropdown-menu li a:hover {
    background: #ffffff;
    color: #000000;
    font-family: OpenSans, sans-serif;
    font-size: 14px;
}

input#templatename {
    width: 300px;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.ajaxmodal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 30, 30, 30, .8 )
    url('../images/load.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .ajaxmodal {
    display: block;
}

.loadtext {

}