﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Garnishee and Mareva Schedule</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Suit Number</th>
                        <th>Name of Account</th>
                        <th>Branch Involved</th>
                        <th>Judgement Sum</th>
                        <th>Cause</th>
                        <th>Amount in Customer's Account</th>
                        <th>Return Date</th>
                        <th>Solicitor's Name</th>
                        <th>Status</th>
                        <th>Manner of Conclusion</th>
                        <th>Fee</th>
                        <th>Officer</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='13'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/28.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var count = new Number(1);
                var $suitno, $namacc, $date,$brinv, $judgsum, $cause, $amtincust, $dateofnext, $rmname, $nextacp, $summary, $paymentsum, $rmstaff;
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    //field[g].forEach(function (jaxx) {
                                    $.each(field[g], function (i, jaxx) {
                                      
                                        $html += "<tr>";
                                        $html += "<td>" + count + "</td>";
                                        $html += "<td>" + jaxx.RequestTitle + "</td>";
                                        var suitNumF = date= nameofAcct = reqBranch = judgeSum
                                        = cause = amtinCustAcc = dofnexthear = rmname = nxtactplan = smryjudgment = paytSum
                                        = rmstafNum = false;
                                        var legal = "";
                                        var name = "";
                                        if (jaxx.LegalOfficer != null) {

                                            legal = jaxx.LegalOfficer;
                                        }
                                        if (jaxx.Name != null) {

                                            name = jaxx.Name;
                                        }

                                        $.each(jaxx.Stages, function (i, saxx) {
                                            $.each(saxx.FormData, function (item, data) {
                                                var labStr = new String();
                                                labStr = item;
                                                if (labStr.toLowerCase() === "suit no") {
                                                    $suitno = data ? data : "<i>No Data</i>";
                                                    suitNumF = true;
                                                } else if (labStr.toLowerCase() === "account name") {
                                                    $namacc = data ? data : "<i>No Data</i>";
                                                    nameofAcct = true;
                                                } else if (labStr.toLowerCase() === "branch name") {
                                                    $brinv = data ? data : "<i>No Data</i>";
                                                    reqBranch = true;
                                                } else if (labStr.toLowerCase() === "judgment sum") {
                                                    $judgsum = data ? data : "<i>No Data</i>";
                                                    judgeSum = true;
                                                } else if (labStr.toLowerCase() === "cause") {
                                                    $cause = data ? data : "<i>No Data</i>";
                                                    cause = true;
                                                } else if (labStr.toLowerCase() === "account balance") {
                                                    $amtincust = data ? data : "<i>No Data</i>";
                                                    amtinCustAcc = true;
                                                } else if (labStr.toLowerCase() === "return date") {
                                                    $dateofnext = data ? data : "<i>No Data</i>";
                                                    dofnexthear = true;
                                                } else if (labStr.toLowerCase() === "rm name") {
                                                    $rmname = data ? data : "<i>No Data</i>";
                                                    rmname = true;
                                                } else if (labStr.toLowerCase() === "next action plan") {
                                                    $nextacp = data ? data : "<i>No Data</i>";
                                                    nxtactplan = true;
                                                } else if (labStr.toLowerCase() === "judgement details") {
                                                    $summary = data ? data : "<i>No Data</i>";
                                                    smryjudgment = true;
                                                } else if (labStr.toLowerCase() === "solicitor fee amount") {
                                                    $paymentsum = data ? data : "<i>No Data</i>";
                                                    paytSum = true;
                                                } else if (labStr.toLowerCase() === "rm staff no") {
                                                    $rmstaff = data ? data : "<i>No Data</i>";
                                                    rmstafNum = true;
                                                } else if (labStr.toLowerCase() === "date") {

                                                    $date = data ? data : "<i>No Data</i>";
                                                    date = true;
                                                }
                                            });
                                        });
                                        $html += "<td><i>" + $date + "</i></td>";
                                        if (suitNumF) {
                                            //means we found suit no
                                            $html += "<td>" + $suitno + "</td>";
                                        } else {
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (nameofAcct) {
                                            //means we found other parties
                                            $html += "<td>" + $namacc + "</td>";
                                        } else {
                                            //$html += "<td>No Party Name</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (reqBranch) {
                                            //means we found branch
                                            $html += "<td>" + $brinv + "</td>";
                                        } else {
                                            //$html += "<td>No Branch</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }

                                        if (judgeSum) {
                                            //means we found type of matter
                                            $html += "<td>" + $judgsum + "</td>";
                                        } else {
                                            //$html += "<td>Type not specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (cause) {
                                            //means we found type of matter
                                            $html += "<td>" + $cause + "</td>";
                                        } else {
                                            //$html += "<td>No Known Nature of Case</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (amtinCustAcc) {
                                            //means we found payment sum
                                            $html += "<td>" + $amtincust + "</td>";
                                        } else {
                                            //$html += "<td>No Payment Sum Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (dofnexthear) {
                                            //means we found approved fee sum
                                            $html += "<td>" + $dateofnext + "</td>";
                                        } else {
                                            //$html += "<td>No Amount Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (name !== "") {
                                            //means we found judgement sum
                                            $html += "<td>" + name + "</td>";
                                        } else {
                                            //$html += "<td>No Amount Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (nxtactplan ==true || nxtactplan == false) {
                                            //means we found court location (state)
                                            $html += "<td>" + jaxx.RequestStatus + "</td>";
                                        } else {
                                            //$html += "<td>Location Not Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (smryjudgment) {
                                            //means we found type of court
                                            $html += "<td>" + $summary + "</td>";
                                        } else {
                                            //$html += "<td>Type Not Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        if (paytSum) {
                                            //means we found solicitors name
                                            $html += "<td>" + $paymentsum + "</td>";
                                        } else {
                                            //$html += "<td>Name Not Specified</td>";
                                            $html += "<td><i>No Data</i></td>";
                                        }
                                        
                                            $html += "<td>" + legal + "</td>";
                                        //} else {
                                        //    //$html += "<td>Address Not Specified</td>";
                                        //    $html += "<td><i>No Data</i></td>";
                                        //}
                                        count++;
                                        $html += "</tr>";
                                    });
                                }
                            }
                       } // Branch Close
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    })
</script>

<!--
    var json = field[g];
                            var count = new Number(field[g][0].Process_Data.length);
                            if (count != 0) {
                                //var count = new Number(json.length);
                                for (var z = 0; z < count; z++) {
                                    $html += "<tr><td>" + (z + 1) + "</td>";
                                    
                                    var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                    for (var q = 0; q < jax; q++) {
                                        var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                        for (var x = 0; x < len; x++) {
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "suit no") {
                                                $suitno = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "name of account") {
                                                $namacc = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "branch involved") {
                                                $brinv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "judgement sum") {
                                                $judgsum = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "cause") {
                                                var causestring = new String();
                                                causestring = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                                causestring = causestring.substring(0, 20);
                                                $cause = "<td>" + causestring + "...</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "amount in customers account") {
                                                $amtincust = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date of next hearing") {
                                                $dateofnext = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "rm name") {
                                                // Solicitors Name
                                                $rmname = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "next action plan") {
                                                // Status
                                                var nexstr = new String();
                                                nexstr = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                                nexstr = nexstr.substring(0, 20);
                                                $nextacp = "<td>" + nexstr + "...</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "summary of judgement") {
                                                // Manner of Conclusion
                                                var summarystring = new String();
                                                summarystring = field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value;
                                                summarystring = summarystring.substring(0, 20);
                                                $summary = "<td>" + summarystring + "...</td>";
                                                //$summary = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "payment sum") {
                                                // Fee
                                                $paymentsum = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }
                                            if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "rm staff no") {
                                                // Officer
                                                $rmstaff = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                            }

                                        }
                                    }

                                    $html += $suitno + $namacc + $brinv + $judgsum + $cause + $amtincust + $dateofnext + $rmname + $nextacp + $summary + $paymentsum + $rmstaff + "</tr>";
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append($html);
                                    } else {
                                        $(tbody_branchList).append($html);
                                    }
                                }//
                            } else {
                                // Count is Zero
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append("");
                                } else {
                                    $(tbody_branchList).append("");
                                }
                            }
-->