﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" 
            class="active" data-original-title="Requests requiring your attention">
        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Probate Portfolio</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Request Title</th>
                        <th>Date</th>
                        <th>Date Recorded</th>
                        <th>Online or Surface Mail </th>
                        <th>Branch/CPC</th>
                        <th>Deceased Name</th>
                        <th style="width: 150px;">Nature of Request</th>
                        <th>In-House Counsel</th>
                        <th>External Counsel</th>
                        <th>Forwarded to Branch/CPC</th>
                        <th>Attached Search Report</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>
<script type="text/javascript">
    $(function () {
        var tbody_branchList = document.getElementById("tbody_branchList");
        $(tbody_branchList).empty().html("<tr class='pre'><td colspan='12'><div class='preloading'>Loading data...<br /><img src='../assets/images/wait.gif' /></div></td></tr>");
        UserHandler.d.getReportsByUserID(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        //UserHandler.d.getJSONfile(UserHandler.user.id, PageHandler.Resources.reportid, function (response) {
        // $.get('../Components/json/28.json', function (response) {
        //PageHandler.sendXMLHttp('../Components/json/30.json', {}, PageHandler.HTTPMethods.GET, function (response) {
                var cc, json;
                var $html = "";
                var count = new Number(1);
                var $reqdate, $solmail,$date, $brinv, $deceasedname, $reqtype, $solname, $extsolname, $daterepsent, $attached, $nature;
                $.each(response.data, function (i, field) {
                    for (g in field) {
                        if (g === "Requests") {
                            if ($.isArray(field[g])) {
                                if (field[g].length <= 0) {
                                    if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                        $(tbody_branchList).empty().append("");
                                    } else {
                                        $(tbody_branchList).append("");
                                    }
                                } else {
                                    //field[g].forEach(function (jaxx) {
                                    $.each(field[g], function (i, jaxx) {
                                    $html += "<tr>";
                                    $html += "<td>" + count + "</td>";
                                    $html += "<td>" + jaxx.RequestTitle + "</td>";
                                    var legal = "";
                                        var name = "";
                                    if (jaxx.LegalOfficer != null) {

                                        legal = jaxx.LegalOfficer;
                                    }
                                    if (jaxx.Name != null) {

                                        name = jaxx.Name;
                                    }
                                    var reqdate_ = solmail_=date = brinv_ = deceasedname_ = reqtype_ = solname_ = extsolname_ = daterepsent_ = attached_ = _nature = false;
                                    $.each(jaxx.Stages, function (i, saxx) {
                                        $.each(saxx.FormData, function (item, data) {
                                            var labStr = new String();
                                            labStr = item;
                                            if (labStr.toLowerCase() === "request date") {
                                                $reqdate = data ? data : "<i>No Data</i>";
                                                reqdate_ = true;
                                            } else if (labStr.toLowerCase() === "solicitors email") {
                                                $solmail = data ? data : "<i>No Data</i>";
                                                solmail_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "requesting branch") {
                                                $brinv = data ? data : "<i>No Data</i>";
                                                brinv_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "deceased name") {
                                                $deceasedname = data ? data : "<i>No Data</i>";
                                                deceasedname_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "request type (online/surface)") {
                                                $reqtype = data ? data : "<i>No Data</i>";
                                                reqtype_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "solicitors name") {
                                                $solname = data ? data : "<i>No Data</i>";
                                                $extsolname = data ? data : "<i>No Data</i>";
                                                solname_ = true;
                                                extsolname_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "date report was sent to branch") {
                                                $daterepsent = data ? data : "<i>No Data</i>";
                                                daterepsent_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "list of documents") {
                                                $attached = data ? data : "<i>No Data</i>";
                                                attached_ = true;
                                            }
                                            else if (labStr.toLowerCase() === "nature of request") {
                                                $nature = data ? data : "<i>No Data</i>";
                                                _nature = true;
                                            } else if (labStr.toLowerCase() === "date") {

                                                $date = data ? data : "<i>No Data</i>";
                                                date = true;
                                            }
                                        })
                                    })
                                    $html += "<td><i>" + $date + "</i></td>";
                                    //var reqdate_ = solmail_ = brinv_ = deceasedname_ = reqtype_ = solname_ = extsolname_ = daterepsent_ = attached_ = false;
                                    if (reqdate_) {
                                        //means we found suit no
                                        $html += "<td>" + $reqdate + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (reqtype_) {
                                        //means we found suit no
                                        $html += "<td>" + $reqtype + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (brinv_) {
                                        //means we found suit no
                                        $html += "<td>" + $brinv + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (deceasedname_) {
                                        //means we found suit no
                                        $html += "<td>" + $deceasedname + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (_nature) {
                                        //means we found suit no
                                        $html += "<td>" + $nature + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (legal !== "") {
                                        //means we found suit no
                                        $html += "<td>" + legal + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (name !== "") {
                                        //means we found suit no
                                        $html += "<td>" + name + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                    if (daterepsent_ !== "") {
                                        //means we found suit no
                                        $html += "<td>" + $daterepsent + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }


                                    if (solmail_) {
                                        //means we found suit no
                                        $html += "<td>" + $solmail + "</td>";
                                    } else {
                                        $html += "<td><i>No Data</i></td>";
                                    }
                                   
                                   
                                    count++;
                                    $html += "</tr>";
                                })
                            }
                            }
                        } // Branch End
                    }
                });
                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                    $(tbody_branchList).empty().append($html);
                } else {
                    $(tbody_branchList).empty().append($html);
                }
                $("#dataTables").DataTable({ "paging": true, "ordering": true, "info": true, "bDestroy": true });
                $("#dataTables").DataTable().fnDestroy();
        });
    })
</script>
<!--
    var json = field[g];
                            var count = new Number(field[g][0].Process_Data.length);
                            if (count != 0) {
                            for(var z = 0; z < count; z++) {
                                $html += "<tr><td>"+(z+1)+"</td>";
                                var $reqdate, $solmail, $brinv, $deceasedname, $reqtype, $solname, $extsolname, $daterepsent, $attached;
                                var jax = new Number(field[g][0].Process_Data[z].Request_Data.length);
                                for(var q = 0; q < jax; q++) {
                                    var len = new Number(field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data.length);
                                    for (var x = 0; x < len; x++) {
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "request date") {
                                            $reqdate = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitors email") {
                                            $solmail = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "requesting branch") {
                                            $brinv = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "deceased name") {
                                            $deceasedname = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "request type") {
                                            $reqtype = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitors name") {
                                            $solname = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "solicitors name") {
                                            $extsolname = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if ((field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "date")
                                            && 
                                            (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Control_Id == "28")) {
                                            $daterepsent = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        if (field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Label == "list of documents") {
                                            $attached = "<td>" + field[g][0].Process_Data[z].Request_Data[q].Request_Trail_Data[0].Form_Data[x].Value + "</td>";
                                        }
                                        //

                                    }
                                }

                                $html += $reqdate + $solmail + $brinv + $deceasedname + $reqtype + $solname + $extsolname + $daterepsent + $attached + "</tr>";
                                if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                    $(tbody_branchList).empty().append($html);
                                } else {
                                    $(tbody_branchList).append($html);
                                }
                            }//
                        } else {
                            // Count is Zero
                            if ($("#tbody_branchList > tbody > tr.pre").html() != "") {
                                $(tbody_branchList).empty().append("");
                            } else {
                                $(tbody_branchList).append("");
                            }
                        }
                       
-->