﻿<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" data-toggle="tooltip" data-placement="top" title="" class="active" data-original-title="Requests requiring your attention"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Holding Reply Schedule</a></li>
        <li class="buttonactions" id="buttonactions">
            <table>
                <tr>
                    <td>
                        <i id="print" class="buttonactions fa fa-print fa-3x" title="Print"></i>
                    </td>
                    <td>
                        <i id="pdf" class="buttonactions fa fa-file-pdf-o fa-3x" title="Export to PDF"></i>
                    </td>
                    <td>
                        <i id="excel" class="buttonactions fa fa-file-excel-o fa-3x" title="Export to Excel"></i>
                    </td> 
                </tr>
            </table>
        </li>
    </ul>
    <br>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <table class="table table-striped table-bordered table-hover no-footer" id="dataTables" role="grid">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>Name of Customer</th>
                        <th>Dept With Input</th>
                        <th>Date of Holding Reply</th>
                        <th>Date of Response</th>
                        <th>Date of Response</th>
                        <th>Name of Officer</th>
                        <th>Attachments</th>
                    </tr>
                </thead>
                <tbody id="tbody_branchList"></tbody>
            </table>
        </div>
        <div id="notice_window" class="col-sm-3 hidden"></div>
    </div>
</div>
<link rel="stylesheet" href="../assets/css/styles.css" />
<script type="text/javascript" src="../assets/js/app.js"></script>